assets/workflows/2970/[2_3] Onboarding 🔥.json
{
    "name": "[2/3] Onboarding 🔥",
    "flow": [
        {
            "id": 4,
            "module": "paperform:submission",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 1313195
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "label": "My New Submission webhook",
                            "data": {
                                "editable": "false"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:paperform",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "json:TransformToJSON",
            "version": 1,
            "parameters": {
                "space": ""
            },
            "mapper": {
                "object": "Created at: {{4.created_at}}\nClient email: {{4.data.`7h7j0`.value}}\nClient full name: {{4.data.`68erf`.value}}\nClient fav barber: {{4.data.`1h0ee`.value}}\nAbout their business: {{4.data.`9n7q2`.value}}\nBiggest goal: {{4.data.`9i25l`.value}}\nYearly income: {{4.data.esnk3.value}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "space": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "space",
                        "type": "select",
                        "label": "Indentation",
                        "validate": {
                            "enum": [
                                "tab",
                                "2",
                                "4"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "object",
                        "type": "any",
                        "label": "Object"
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "variables": [
                    {
                        "name": "JSON String",
                        "value": "{{replace(replace(replace(replace(replace(replace(replace(8.json; \"/\\n/g\"; space); \"/\\r/g\"; space); \"/\\t/g\"; space); \"/\\f/g\"; space); \"/\\//g\"; \"/\"); \"/\\\\/g\"; \"\\\\\"); \"/\"\"/g\"; \"\\\"\"\")}}"
                    }
                ],
                "scope": "roundtrip"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "variables": {
                            "items": [
                                null
                            ]
                        },
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "type": "array",
                        "label": "Variables",
                        "spec": [
                            {
                                "name": "name",
                                "label": "Variable name",
                                "type": "text",
                                "required": true
                            },
                            {
                                "name": "value",
                                "label": "Variable value",
                                "type": "any"
                            }
                        ]
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "JSON String",
                        "label": "JSON String",
                        "type": "any"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "openai-gpt-3:makeApiCall",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1425946
            },
            "mapper": {
                "url": "/v1/embeddings",
                "method": "POST",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/json"
                    }
                ],
                "body": "{\n  \"input\": \"{{9.`JSON String`}}\",\n  \"model\": \"text-embedding-3-small\",\n  \"encoding_format\": \"float\"\n}"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0,
                    "name": "Embeddings"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My OpenAI connection",
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            }
                        }
                    },
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "qs": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "GET",
                                "POST",
                                "PUT",
                                "PATCH",
                                "DELETE"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "type": "array",
                        "label": "Headers",
                        "spec": {
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Key"
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Header",
                            "name": "value"
                        }
                    },
                    {
                        "name": "qs",
                        "type": "array",
                        "label": "Query String",
                        "spec": {
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Key"
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Query String",
                            "name": "value"
                        }
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "pinecone:upsertVector",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 4188871
            },
            "mapper": {
                "id": "{{4.submission_id}}",
                "values": "{{5.body.data[].embedding}}",
                "sparseVector": {},
                "metadata": [
                    {
                        "fieldName": "content",
                        "fieldType": "string",
                        "fieldValue": "{{8.json}}"
                    },
                    {
                        "fieldName": "Title",
                        "fieldType": "string",
                        "fieldValue": "{{4.data.`7h7j0`.value}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Pinecone connection",
                            "data": {
                                "scoped": "true",
                                "connection": "pinecone"
                            }
                        }
                    },
                    "expect": {
                        "values": {
                            "mode": "edit"
                        },
                        "sparseVector": {
                            "nested": {
                                "indices": {
                                    "mode": "chose"
                                },
                                "values": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "metadata": {
                            "mode": "chose",
                            "items": [
                                {
                                    "fieldType": {
                                        "mode": "chose",
                                        "label": "String"
                                    }
                                },
                                {
                                    "fieldType": {
                                        "mode": "chose",
                                        "label": "String"
                                    }
                                }
                            ]
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:pinecone",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Vector ID",
                        "required": true
                    },
                    {
                        "name": "values",
                        "type": "array",
                        "label": "Values",
                        "required": true,
                        "spec": {
                            "type": "number",
                            "label": "Value",
                            "name": "value"
                        }
                    },
                    {
                        "name": "sparseVector",
                        "type": "collection",
                        "label": "Sparse Vector",
                        "spec": [
                            {
                                "name": "indices",
                                "type": "array",
                                "label": "Indices",
                                "spec": {
                                    "type": "integer",
                                    "label": "Index",
                                    "name": "value"
                                }
                            },
                            {
                                "name": "values",
                                "type": "array",
                                "label": "Values",
                                "spec": {
                                    "type": "number",
                                    "label": "Value",
                                    "name": "value"
                                }
                            }
                        ]
                    },
                    {
                        "name": "metadata",
                        "type": "array",
                        "label": "Metadata",
                        "spec": [
                            {
                                "name": "fieldName",
                                "type": "text",
                                "label": "Key",
                                "required": true
                            },
                            {
                                "name": "fieldType",
                                "type": "select",
                                "label": "Type",
                                "options": [
                                    {
                                        "label": "String",
                                        "value": "string",
                                        "nested": [
                                            {
                                                "name": "fieldValue",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Number",
                                        "value": "number",
                                        "nested": [
                                            {
                                                "name": "fieldValue",
                                                "type": "number",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Boolean",
                                        "value": "boolean",
                                        "nested": [
                                            {
                                                "name": "fieldValue",
                                                "type": "boolean",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "label": "List",
                                        "value": "list",
                                        "nested": [
                                            {
                                                "name": "fieldValue",
                                                "spec": {
                                                    "type": "text",
                                                    "label": "Value"
                                                },
                                                "type": "array",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ]
                                    }
                                ],
                                "required": true
                            }
                        ]
                    },
                    {
                        "name": "namespace",
                        "type": "text",
                        "label": "Namespace"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Vector ID",
                        "required": true
                    },
                    {
                        "name": "values",
                        "type": "array",
                        "label": "Values",
                        "required": true,
                        "spec": {
                            "type": "number",
                            "label": "Value",
                            "name": "value"
                        }
                    },
                    {
                        "name": "sparseVector",
                        "type": "collection",
                        "label": "Sparse Vector",
                        "spec": [
                            {
                                "name": "indices",
                                "type": "array",
                                "label": "Indices",
                                "spec": {
                                    "type": "integer",
                                    "label": "Index",
                                    "name": "value"
                                }
                            },
                            {
                                "name": "values",
                                "type": "array",
                                "label": "Values",
                                "spec": {
                                    "type": "number",
                                    "label": "Value",
                                    "name": "value"
                                }
                            }
                        ]
                    },
                    {
                        "name": "metadata",
                        "type": "array",
                        "label": "Metadata",
                        "spec": [
                            {
                                "name": "fieldName",
                                "type": "text",
                                "label": "Key",
                                "required": true
                            },
                            {
                                "name": "fieldType",
                                "type": "select",
                                "label": "Type",
                                "options": [
                                    {
                                        "label": "String",
                                        "value": "string",
                                        "nested": [
                                            {
                                                "name": "fieldValue",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Number",
                                        "value": "number",
                                        "nested": [
                                            {
                                                "name": "fieldValue",
                                                "type": "number",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Boolean",
                                        "value": "boolean",
                                        "nested": [
                                            {
                                                "name": "fieldValue",
                                                "type": "boolean",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "label": "List",
                                        "value": "list",
                                        "nested": [
                                            {
                                                "name": "fieldValue",
                                                "spec": {
                                                    "type": "text",
                                                    "label": "Value"
                                                },
                                                "type": "array",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ]
                                    }
                                ],
                                "required": true
                            }
                        ]
                    },
                    {
                        "name": "namespace",
                        "type": "text",
                        "label": "Namespace"
                    }
                ]
            }
        },
        {
            "id": 10,
            "module": "anthropic-claude:createAMessage",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1528134
            },
            "mapper": {
                "model": "claude-3-5-sonnet-20241022",
                "max_tokens": "4000",
                "messages": [
                    {
                        "role": "user",
                        "content": [
                            {
                                "type": "text",
                                "text": "Create a brief, beautiful welcome email for a customer based on the below information: \n\nDo not include any additional information, just the html email.\n\nUnique customer information:\nClient full name: {{4.data.`68erf`.value}}\nClient fav barber: {{4.data.`1h0ee`.value}}\nAbout their business: {{4.data.`9n7q2`.value}}\nBiggest goal: {{4.data.`9i25l`.value}}\nYearly income: {{4.data.esnk3.value}}\n\nTemplate to partially personalise:\n\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <title>Welcome to Your Business Scaling Journey</title>\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      line-height: 1.6;\n      margin: 0;\n      padding: 0;\n      background-color: #f4f4f4;\n    }\n    .container {\n      max-width: 600px;\n      margin: 20px auto;\n      background: white;\n      border-radius: 8px;\n      overflow: hidden;\n      box-shadow: 0 2px 4px rgba(0,0,0,0.1);\n    }\n    .header {\n      background: linear-gradient(135deg, #6366f1 0%, #4f46e5 100%);\n      color: white;\n      padding: 40px 20px;\n      text-align: center;\n    }\n    .content {\n      padding: 30px;\n      color: #333;\n    }\n    .highlight-box {\n      background: #f8f8f8;\n      border-left: 4px solid #4f46e5;\n      padding: 15px;\n      margin: 20px 0;\n    }\n    .button {\n      display: inline-block;\n      padding: 12px 24px;\n      background: #4f46e5;\n      color: white;\n      text-decoration: none;\n      border-radius: 6px;\n      margin: 20px 0;\n      font-weight: bold;\n    }\n    .metrics {\n      background: #f8f8f8;\n      padding: 20px;\n      border-radius: 6px;\n      margin: 20px 0;\n    }\n    .footer {\n      background: #f8f8f8;\n      padding: 20px;\n      text-align: center;\n      color: #666;\n      font-size: 14px;\n    }\n    .signature {\n      margin-top: 30px;\n      border-top: 1px solid #eee;\n      padding-top: 20px;\n    }\n    .made-with-love {\n      color: #666;\n      font-style: italic;\n      margin-top: 15px;\n    }\n    .social-links {\n      margin: 20px 0;\n    }\n    .social-links a {\n      margin: 0 10px;\n      color: #4f46e5;\n      text-decoration: none;\n    }\n    @media (max-width: 600px) {\n      .container {\n        margin: 0;\n        border-radius: 0;\n      }\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>Welcome Aboard 🎉</h1>\n    </div>\n    \n    <div class=\"content\">\n      <p>Hey Jack,</p>\n      \n      <p>I'm excited to help you take your barbershop business to new heights. Looking at your current yearly income range ($50K-100K), I can see there's huge potential for growth.</p>\n      \n      <div class=\"highlight-box\">\n        <p><strong>Your Current Stats:</strong></p>\n        <ul style=\"padding-left: 20px;\">\n          <li>Current Income Range: $50K-100K</li>\n          <li>Star Barber: Benny Blades</li>\n          <li>Growth Goal: Taking your expertise to the next level</li>\n        </ul>\n      </div>\n      \n      <p>I wanted to personally thank you for putting your trust in me and my team. Your success is our success, and I'm genuinely excited about the journey we're about to embark on together. Your dedication to growing your business inspires me, and I'm here to support you every step of the way.</p>\n      \n      <center>\n        <a href=\"{{bookingLink}}\" class=\"button\">Get Started Now</a>\n      </center>\n      \n      <div class=\"metrics\">\n        <p><strong>Your Next Milestones:</strong></p>\n        <ul style=\"padding-left: 20px;\">\n          <li>Optimize your pricing strategy</li>\n          <li>Develop your team's skills</li>\n          <li>Implement efficient booking systems</li>\n          <li>Create additional revenue streams</li>\n        </ul>\n      </div>\n      \n      <p>Got questions? Reply to this email or call me directly at {{phoneNumber}}.</p>\n      \n      <div class=\"signature\">\n        <p>Best regards,</p>\n        <p>Jack Roberts<br>\n        AI Automations by JACK</p>\n        <p class=\"made-with-love\">Made with love</p>\n      </div>\n    </div>\n    \n    <div class=\"footer\">\n      <div class=\"social-links\">\n        <a href=\"{{instagramLink}}\">Instagram</a> |\n        <a href=\"{{facebookLink}}\">Facebook</a>\n      </div>\n      <p>{{companyAddress}}</p>\n      <p>Prefer not to receive these emails? <a href=\"{{unsubscribeLink}}\">Unsubscribe</a></p>\n    </div>\n  </div>\n</body>\n</html>"
                            }
                        ]
                    }
                ],
                "metadata": {},
                "temperature": "1"
            },
            "metadata": {
                "designer": {
                    "x": 1523,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Anthropic Claude connection",
                            "data": {
                                "scoped": "true",
                                "connection": "anthropic-claude"
                            }
                        }
                    },
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "claude-3-5-sonnet-20241022"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "content": {
                                        "mode": "chose",
                                        "items": [
                                            {
                                                "type": {
                                                    "mode": "chose",
                                                    "label": "Text"
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        "stop_sequences": {
                            "mode": "chose"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:anthropic-claude",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Tokens",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "type": "array",
                        "label": "Messages",
                        "required": true,
                        "spec": {
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": [
                                        {
                                            "label": "User",
                                            "value": "user",
                                            "nested": [
                                                {
                                                    "name": "content",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "help": "For models that support image content blocks (vision), see the [Anthropic model comparison table](https://docs.anthropic.com/en/docs/about-claude/models#model-comparison-table).",
                                                                "name": "type",
                                                                "type": "select",
                                                                "label": "Type",
                                                                "options": [
                                                                    {
                                                                        "label": "Text",
                                                                        "value": "text",
                                                                        "nested": [
                                                                            {
                                                                                "help": "Content of the message on behalf of the selected **Role** .",
                                                                                "name": "text",
                                                                                "type": "text",
                                                                                "label": "Text",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Image",
                                                                        "value": "image",
                                                                        "nested": [
                                                                            {
                                                                                "name": "source",
                                                                                "spec": [
                                                                                    {
                                                                                        "help": "File name, including the extension, for example, `image.jpg`.",
                                                                                        "name": "filename",
                                                                                        "type": "filename",
                                                                                        "label": "Filename",
                                                                                        "required": true,
                                                                                        "semantic": "file:name",
                                                                                        "extension": [
                                                                                            "jpeg",
                                                                                            "jpg",
                                                                                            "png",
                                                                                            "gif",
                                                                                            "webp"
                                                                                        ]
                                                                                    },
                                                                                    {
                                                                                        "help": "Binary data of the image. For example, you can retrieve the binary data of your image using the **HTTP: Get a file** module.",
                                                                                        "name": "data",
                                                                                        "type": "buffer",
                                                                                        "label": "Data",
                                                                                        "required": true,
                                                                                        "semantic": "file:data"
                                                                                    }
                                                                                ],
                                                                                "type": "collection",
                                                                                "label": "Source",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "PDF document",
                                                                        "value": "document",
                                                                        "nested": [
                                                                            {
                                                                                "type": "html",
                                                                                "label": "<div style='color: #69502E; background: #F9ECD7; border-radius: 5px; padding: 12px 16px 12px 16px; font-size: 12px;'>PDF support is currently available on Claude 3.5 Sonnet models:<br><b>claude-3-5-sonnet-20241022</b><br><b>claude-3-5-sonnet-20240620</b></div>"
                                                                            },
                                                                            {
                                                                                "name": "pdfFileName",
                                                                                "type": "filename",
                                                                                "label": "Filename",
                                                                                "required": true,
                                                                                "semantic": "file:name",
                                                                                "extension": [
                                                                                    "pdf"
                                                                                ]
                                                                            },
                                                                            {
                                                                                "name": "pdfFileData",
                                                                                "type": "buffer",
                                                                                "label": "Data",
                                                                                "required": true,
                                                                                "semantic": "file:data"
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Tool result",
                                                                        "value": "tool_result",
                                                                        "nested": [
                                                                            {
                                                                                "name": "tool_use_id",
                                                                                "type": "text",
                                                                                "label": "Tool Use ID",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "content",
                                                                                "type": "text",
                                                                                "label": "Content",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    }
                                                                ],
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Content"
                                                    },
                                                    "type": "array",
                                                    "label": "Content",
                                                    "labels": {
                                                        "add": "Add content"
                                                    },
                                                    "required": true
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Assistant",
                                            "value": "assistant",
                                            "nested": [
                                                {
                                                    "help": "If the request ends with an assistant turn, then the response content will continue directly from that last turn.",
                                                    "name": "content",
                                                    "type": "text",
                                                    "label": "Content",
                                                    "required": true
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Tool Assistant",
                                            "value": "tool_assistant",
                                            "nested": [
                                                {
                                                    "name": "content",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "help": "You can send image content blocks starting with Claude 3 models.",
                                                                "name": "type",
                                                                "type": "select",
                                                                "label": "Type",
                                                                "options": [
                                                                    {
                                                                        "label": "Text",
                                                                        "value": "text",
                                                                        "nested": [
                                                                            {
                                                                                "help": "Content of the message on behalf of the selected **Role** .",
                                                                                "name": "text",
                                                                                "type": "text",
                                                                                "label": "Text",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Tool Use",
                                                                        "value": "tool_use",
                                                                        "nested": [
                                                                            {
                                                                                "name": "id",
                                                                                "type": "text",
                                                                                "label": "Tool Use ID",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "name",
                                                                                "type": "text",
                                                                                "label": "Tool Name",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "input",
                                                                                "type": "any",
                                                                                "label": "Input",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    }
                                                                ],
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Content"
                                                    },
                                                    "type": "array",
                                                    "label": "Content",
                                                    "labels": {
                                                        "add": "Add content"
                                                    },
                                                    "required": true
                                                }
                                            ]
                                        }
                                    ],
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Message",
                            "name": "value"
                        }
                    },
                    {
                        "name": "system",
                        "type": "text",
                        "label": "System Prompt"
                    },
                    {
                        "name": "metadata",
                        "type": "collection",
                        "label": "Metadata",
                        "spec": [
                            {
                                "name": "user_id",
                                "type": "text",
                                "label": "User ID"
                            }
                        ]
                    },
                    {
                        "name": "stop_sequences",
                        "type": "array",
                        "label": "Stop Sequences",
                        "spec": {
                            "type": "text",
                            "label": "Stop Sequence",
                            "name": "value"
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1
                        }
                    },
                    {
                        "name": "top_k",
                        "type": "uinteger",
                        "label": "Top K"
                    },
                    {
                        "name": "additionalParameters",
                        "type": "array",
                        "label": "Other Input Parameters",
                        "spec": {
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Tools",
                                            "value": "tools",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "spec": {
                                                        "type": "text",
                                                        "label": "Parameter Value"
                                                    },
                                                    "type": "array",
                                                    "label": "Parameter Values",
                                                    "labels": {
                                                        "add": "Add parameter value"
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter",
                            "name": "value"
                        }
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "google-email:ActionCreateDraft",
            "version": 2,
            "parameters": {
                "account": 4189064
            },
            "mapper": {
                "folder": "[Gmail]/Drafts",
                "to": [
                    "{{4.data.`7h7j0`.value}}"
                ],
                "subject": "{{4.data.`68erf`.value}} is about to WIN 🎉",
                "html": "{{10.textResponse}}",
                "attachments": [],
                "cc": [],
                "bcc": []
            },
            "metadata": {
                "designer": {
                    "x": 1819,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "account": {
                            "label": "My Google Restricted connection (jack@aiautomationswithjack.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            }
                        }
                    },
                    "expect": {
                        "folder": {
                            "mode": "chose",
                            "path": [
                                "Drafts"
                            ]
                        },
                        "to": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "attachments": {
                            "mode": "chose"
                        },
                        "cc": {
                            "mode": "chose"
                        },
                        "bcc": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "folder",
                        "type": "folder",
                        "label": "Folder",
                        "required": true
                    },
                    {
                        "name": "to",
                        "type": "array",
                        "label": "To",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address",
                            "required": true
                        }
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "html",
                        "type": "text",
                        "label": "Content"
                    },
                    {
                        "name": "attachments",
                        "type": "array",
                        "label": "Attachments",
                        "spec": [
                            {
                                "name": "fileName",
                                "label": "File name",
                                "type": "filename",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "label": "Data",
                                "type": "buffer",
                                "required": true,
                                "semantic": "file:data"
                            }
                        ]
                    },
                    {
                        "name": "cc",
                        "type": "array",
                        "label": "Copy recipient",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address",
                            "required": true
                        }
                    },
                    {
                        "name": "bcc",
                        "type": "array",
                        "label": "Blind copy recipient",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address",
                            "required": true
                        }
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com"
    }
}