assets/workflows/94/Barber 1_3 💈.json
{
    "name": "Barber 1/3 💈",
    "flow": [
        {
            "id": 1,
            "module": "paperform:submission",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 748663
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -253,
                    "y": -19
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "label": "My New Submission webhook",
                            "data": {
                                "editable": "false"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:paperform",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "google-email:ActionCreateDraft",
            "version": 2,
            "parameters": {
                "account": 2248699
            },
            "mapper": {
                "folder": "[Gmail]/Drafts",
                "to": [
                    "{{1.data.`7h7j0`.value}}"
                ],
                "subject": "Barber-Barber Appointment Confirmation 🎉",
                "html": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Haircut Appointment Confirmation</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            line-height: 1.6;\n            color: #333;\n            max-width: 600px;\n            margin: 0 auto;\n            padding: 20px;\n        }\n        .header {\n            background-color: #90EE90;\n            padding: 10px;\n            text-align: center;\n        }\n        .header h1 {\n            color: #006400;\n            margin: 0;\n        }\n        .content {\n            padding: 20px 0;\n        }\n        .footer {\n            text-align: center;\n            font-size: 0.9em;\n            color: #777;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"header\">\n        <h1>Haircut Appointment Confirmation 🎉</h1>\n    </div>\n    <div class=\"content\">\n        <p>Howdy {{1.data.`68erf`.value}} 👋,</p>\n        <p>This email is to confirm your haircut appointment on <strong>{{1.data.`9n7q2`.value.start_date}} at {{1.data.`9n7q2`.value.start_time}}</strong>.</p>\n        <p>If you have any questions, drop me an email.</p>\n        <p>I look forward to seeing you soon!</p>\n        <p>{{1.data.`1h0ee`.value}}</p>\n    </div>\n    <div class=\"footer\">\n        <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;\">\n            <tbody>\n                <tr>\n                    <td>\n                        <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;\">\n                            <tbody>\n                                <tr>\n                                    <td style=\"vertical-align: top;\">\n                                        <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;\">\n                                            <tbody>\n                                                <tr>\n                                                    <td class=\"template1__ImageContainer-sc-nmby7a-0 dBWRiW\" style=\"text-align: center;\">\n                                                        <img src=\"https://imgs.search.brave.com/p-3L5AbXp7Zf7Vowj8wv-UdSlKO3C-Nzb0ztDX6oeT4/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90NC5m/dGNkbi5uZXQvanBn/LzAyLzEwLzk3LzE5/LzM2MF9GXzIxMDk3/MTk1OV93WGNCWWZp/ZjdqS2V5S2tIS2hW/eU9uelFXSGF3SWdL/NC5qcGc\" role=\"presentation\" width=\"130\" class=\"image__StyledImage-sc-hupvqm-0 kUXePh\" style=\"display: block; max-width: 128px;\">\n                                                    </td>\n                                                </tr>\n                                                <tr>\n                                                    <td height=\"30\"></td>\n                                                </tr>\n                                                <tr>\n                                                    <td style=\"text-align: center;\">\n                                                        <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"display: inline-block; vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;\">\n                                                            <tbody>\n                                                                <tr style=\"text-align: center;\">\n                                                                    <td>\n                                                                        <a href=\"//qerger\" color=\"#7075db\" style=\"display: inline-block; padding: 0px; background-color: rgb(112, 117, 219);\">\n                                                                            <img src=\"https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/facebook-icon-2x.png\" alt=\"facebook\" color=\"#7075db\" width=\"24\" style=\"background-color: rgb(112, 117, 219); max-width: 135px; display: block;\">\n                                                                        </a>\n                                                                    </td>\n                                                                    <td width=\"5\">\n                                                                        <div></div>\n                                                                    </td>\n                                                                    <td>\n                                                                        <a href=\"//erg\" color=\"#7075db\" style=\"display: inline-block; padding: 0px; background-color: rgb(112, 117, 219);\">\n                                                                            <img src=\"https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/twitter-icon-2x.png\" alt=\"twitter\" color=\"#7075db\" width=\"24\" style=\"background-color: rgb(112, 117, 219); max-width: 135px; display: block;\">\n                                                                        </a>\n                                                                    </td>\n                                                                    <td width=\"5\">\n                                                                        <div></div>\n                                                                    </td>\n                                                                    <td>\n                                                                        <a href=\"//asdfref\" color=\"#7075db\" style=\"display: inline-block; padding: 0px; background-color: rgb(112, 117, 219);\">\n                                                                            <img src=\"https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/linkedin-icon-2x.png\" alt=\"linkedin\" color=\"#7075db\" width=\"24\" style=\"background-color: rgb(112, 117, 219); max-width: 135px; display: block;\">\n                                                                        </a>\n                                                                    </td>\n                                                                    <td width=\"5\">\n                                                                        <div></div>\n                                                                    </td>\n                                                                    <td>\n                                                                        <a href=\"//eqrger\" color=\"#7075db\" style=\"display: inline-block; padding: 0px; background-color: rgb(112, 117, 219);\">\n                                                                            <img src=\"https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/instagram-icon-2x.png\" alt=\"instagram\" color=\"#7075db\" width=\"24\" style=\"background-color: rgb(112, 117, 219); max-width: 135px; display: block;\">\n                                                                        </a>\n                                                                    </td>\n                                                                    <td width=\"5\">\n                                                                        <div></div>\n                                                                    </td>\n                                                                </tr>\n                                                            </tbody>\n                                                        </table>\n                                                    </td>\n                                                </tr>\n                                            </tbody>\n                                        </table>\n                                    </td>\n                                    <td width=\"46\">\n                                        <div></div>\n                                    </td>\n                                    <td style=\"padding: 0px; vertical-align: middle;\">\n                                        <h2 color=\"#000000\" style=\"margin: 0px; font-size: 18px; color: rgb(0, 0, 0); font-weight: 600;\">\n                                            <span>Barber Barberr</span><span>&nbsp;</span><span></span>\n                                        </h2>\n                                        <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"width: 100%; vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;\">\n                                            <tbody>\n                                                <tr>\n                                                    <td height=\"30\"></td>\n                                                </tr>\n                                                <tr>\n                                                    <td color=\"#a40c3f\" direction=\"horizontal\" width=\"auto\" height=\"1\" style=\"width: 100%; border-bottom: 1px solid rgb(164, 12, 63); border-left: none; display: block;\"></td>\n                                                </tr>\n                                                <tr>\n                                                    <td height=\"30\"></td>\n                                                </tr>\n                                            </tbody>\n                                        </table>\n                                        <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;\">\n                                            <tbody>\n                                                <tr height=\"25\" style=\"vertical-align: middle;\">\n                                                    <td width=\"30\" style=\"vertical-align: middle;\">\n                                                        <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;\">\n                                                            <tbody>\n                                                                <tr>\n                                                                    <td style=\"vertical-align: bottom;\">\n                                                                        <span color=\"#a40c3f\" width=\"11\" style=\"display: inline-block; background-color: rgb(164, 12, 63);\">\n                                                                            <img src=\"https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/phone-icon-2x.png\" color=\"#a40c3f\" alt=\"mobilePhone\" width=\"13\" style=\"display: block; background-color: rgb(164, 12, 63);\">\n                                                                        </span>\n                                                                    </td>\n                                                                </tr>\n                                                            </tbody>\n                                                        </table>\n                                                    </td>\n                                                    <td style=\"padding: 0px; color: rgb(0, 0, 0);\">\n                                                        <a href=\"tel:0777 777 7777 \" color=\"#000000\" style=\"text-decoration: none; color: rgb(0, 0, 0); font-size: 12px;\">\n                                                            <span>0777 777 7777 </span>\n                                                        </a>\n                                                    </td>\n                                                </tr>\n                                                <tr height=\"25\" style=\"vertical-align: middle;\">\n                                                    <td width=\"30\" style=\"vertical-align: middle;\">\n                                                        <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;\">\n                                                            <tbody>\n                                                                <tr>\n                                                                    <td style=\"vertical-align: bottom;\">\n                                                                        <span color=\"#a40c3f\" width=\"11\" style=\"display: inline-block; background-color: rgb(164, 12, 63);\">\n                                                                            <img src=\"https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/link-icon-2x.png\" color=\"#a40c3f\" alt=\"website\" width=\"13\" style=\"display: block; background-color: rgb(164, 12, 63);\">\n                                                                        </span>\n                                                                    </td>\n                                                                </tr>\n                                                            </tbody>\n                                                        </table>\n                                                    </td>\n                                                    <td style=\"padding: 0px;\">\n                                                        <a href=\"//barberbarberrr.co\" color=\"#000000\" style=\"text-decoration: none; color: rgb(0, 0, 0); font-size: 12px;\">\n                                                            <span>barberbarberrr.co</span>\n                                                        </a>\n                                                    </td>\n                                                </tr>\n                                            </tbody>\n                                        </table>\n                                        <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;\">\n                                            <tbody>\n                                                <tr>\n                                                    <td height=\"30\"></td>\n                                                </tr>\n                                            </tbody>\n                                        </table>\n                                    </td>\n                                </tr>\n                            </tbody>\n                        </table>\n                    </td>\n                </tr>\n            </tbody>\n        </table>\n    </div>\n</body>\n</html>",
                "attachments": [],
                "cc": [],
                "bcc": []
            },
            "metadata": {
                "designer": {
                    "x": 67,
                    "y": -12
                },
                "restore": {
                    "parameters": {
                        "account": {
                            "label": "My Google Restricted connection",
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            }
                        }
                    },
                    "expect": {
                        "folder": {
                            "mode": "chose",
                            "path": [
                                "Drafts"
                            ]
                        },
                        "to": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "attachments": {
                            "mode": "chose"
                        },
                        "cc": {
                            "mode": "chose"
                        },
                        "bcc": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "folder",
                        "type": "folder",
                        "label": "Folder",
                        "required": true
                    },
                    {
                        "name": "folder",
                        "type": "folder",
                        "label": "Folder",
                        "required": true
                    },
                    {
                        "name": "to",
                        "type": "array",
                        "label": "To",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address",
                            "required": true
                        }
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "html",
                        "type": "text",
                        "label": "Content"
                    },
                    {
                        "name": "attachments",
                        "type": "array",
                        "label": "Attachments",
                        "spec": [
                            {
                                "name": "fileName",
                                "label": "File name",
                                "type": "filename",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "label": "Data",
                                "type": "buffer",
                                "required": true,
                                "semantic": "file:data"
                            }
                        ]
                    },
                    {
                        "name": "cc",
                        "type": "array",
                        "label": "Copy recipient",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address",
                            "required": true
                        }
                    },
                    {
                        "name": "bcc",
                        "type": "array",
                        "label": "Blind copy recipient",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address",
                            "required": true
                        }
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "airtable:ActionCreateRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 1532818
            },
            "mapper": {
                "base": "appXSsKgxjFoIaAc5",
                "typecast": false,
                "useColumnId": false,
                "table": "tbl4Kg80Fv7t2KrZT",
                "record": {
                    "fld00inXUJY1sf8zr": "{{1.data.`9n7q2`.value.start_date}}",
                    "fldUeho6R5xCCIuCB": "{{1.data.`68erf`.value}}",
                    "fldL6lKh2LMDkJL5m": "{{1.data.`7h7j0`.value}}",
                    "fldgJrd2t9PBY0AlS": "{{1.data.`1h0ee`.value}}"
                }
            },
            "metadata": {
                "designer": {
                    "x": 416,
                    "y": -15
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Airtable OAuth connection (User ID: usrWHZndszJIS5AWQ)",
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            }
                        }
                    },
                    "expect": {
                        "base": {
                            "label": "BarberBarber CRM 💈"
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        },
                        "table": {
                            "nested": [
                                {
                                    "name": "record",
                                    "spec": [
                                        {
                                            "name": "fld00inXUJY1sf8zr",
                                            "label": "Date 📅",
                                            "type": "text"
                                        },
                                        {
                                            "name": "fldUeho6R5xCCIuCB",
                                            "label": "Name 👋",
                                            "type": "text",
                                            "multiline": true
                                        },
                                        {
                                            "name": "fldL6lKh2LMDkJL5m",
                                            "label": "Client Email 📧",
                                            "type": "text"
                                        },
                                        {
                                            "name": "fldgJrd2t9PBY0AlS",
                                            "label": "Barber 💈",
                                            "type": "text",
                                            "multiline": true
                                        },
                                        {
                                            "name": "fldlHODWyaFNR1KsX",
                                            "label": "date created 📆",
                                            "type": "date",
                                            "time": false
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Record"
                                }
                            ],
                            "label": "Table 1"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "record",
                        "type": "collection",
                        "label": "Record",
                        "spec": [
                            {
                                "name": "fld00inXUJY1sf8zr",
                                "type": "text",
                                "label": "Date 📅"
                            },
                            {
                                "name": "fldUeho6R5xCCIuCB",
                                "type": "text",
                                "label": "Name 👋"
                            },
                            {
                                "name": "fldL6lKh2LMDkJL5m",
                                "type": "text",
                                "label": "Client Email 📧"
                            },
                            {
                                "name": "fldgJrd2t9PBY0AlS",
                                "type": "text",
                                "label": "Barber 💈"
                            },
                            {
                                "name": "fldlHODWyaFNR1KsX",
                                "type": "date",
                                "label": "date created 📆",
                                "time": false
                            }
                        ]
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Date 📅",
                        "label": "Date 📅",
                        "type": "text"
                    },
                    {
                        "name": "Name 👋",
                        "label": "Name 👋",
                        "type": "text",
                        "multiline": true
                    },
                    {
                        "name": "Client Email 📧",
                        "label": "Client Email 📧",
                        "type": "text"
                    },
                    {
                        "name": "Barber 💈",
                        "label": "Barber 💈",
                        "type": "text",
                        "multiline": true
                    },
                    {
                        "name": "date created 📆",
                        "label": "date created 📆",
                        "type": "date",
                        "time": false
                    },
                    {
                        "name": "Last Modified Time 👀",
                        "label": "Last Modified Time 👀",
                        "type": "date"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "google-email:ActionCreateDraft",
            "version": 2,
            "parameters": {
                "account": 2248699
            },
            "mapper": {
                "folder": "[Gmail]/Drafts",
                "to": [
                    "{{1.data.`7h7j0`.value}}"
                ],
                "subject": "Barber-Barber Appointment Confirmation 🎉",
                "html": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Haircut Appointment Confirmation</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            line-height: 1.6;\n            color: #333;\n            max-width: 600px;\n            margin: 0 auto;\n            padding: 20px;\n        }\n        .header {\n            background-color: #90EE90;\n            padding: 10px;\n            text-align: center;\n        }\n        .header h1 {\n            color: #006400;\n            margin: 0;\n        }\n        .content {\n            padding: 20px 0;\n        }\n        .footer {\n            text-align: center;\n            font-size: 0.9em;\n            color: #777;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"header\">\n        <h1>Haircut Appointment Confirmation 🎉</h1>\n    </div>\n    <div class=\"content\">\n        <p>Howdy {{1.data.`68erf`.value}} 👋,</p>\n        <p>This email is to confirm your haircut appointment on <strong>{{1.data.`9n7q2`.value.start_date}} at {{1.data.`9n7q2`.value.start_time}}</strong>.</p>\n        <p>If you have any questions, drop me an email.</p>\n        <p>I look forward to seeing you soon!</p>\n        <p>{{1.data.`1h0ee`.value}}</p>\n    </div>\n    <div class=\"footer\">\n        <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;\">\n            <tbody>\n                <tr>\n                    <td>\n                        <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;\">\n                            <tbody>\n                                <tr>\n                                    <td style=\"vertical-align: top;\">\n                                        <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;\">\n                                            <tbody>\n                                                <tr>\n                                                    <td class=\"template1__ImageContainer-sc-nmby7a-0 dBWRiW\" style=\"text-align: center;\">\n                                                        <img src=\"https://imgs.search.brave.com/p-3L5AbXp7Zf7Vowj8wv-UdSlKO3C-Nzb0ztDX6oeT4/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90NC5m/dGNkbi5uZXQvanBn/LzAyLzEwLzk3LzE5/LzM2MF9GXzIxMDk3/MTk1OV93WGNCWWZp/ZjdqS2V5S2tIS2hW/eU9uelFXSGF3SWdL/NC5qcGc\" role=\"presentation\" width=\"130\" class=\"image__StyledImage-sc-hupvqm-0 kUXePh\" style=\"display: block; max-width: 128px;\">\n                                                    </td>\n                                                </tr>\n                                                <tr>\n                                                    <td height=\"30\"></td>\n                                                </tr>\n                                                <tr>\n                                                    <td style=\"text-align: center;\">\n                                                        <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"display: inline-block; vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;\">\n                                                            <tbody>\n                                                                <tr style=\"text-align: center;\">\n                                                                    <td>\n                                                                        <a href=\"//qerger\" color=\"#7075db\" style=\"display: inline-block; padding: 0px; background-color: rgb(112, 117, 219);\">\n                                                                            <img src=\"https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/facebook-icon-2x.png\" alt=\"facebook\" color=\"#7075db\" width=\"24\" style=\"background-color: rgb(112, 117, 219); max-width: 135px; display: block;\">\n                                                                        </a>\n                                                                    </td>\n                                                                    <td width=\"5\">\n                                                                        <div></div>\n                                                                    </td>\n                                                                    <td>\n                                                                        <a href=\"//erg\" color=\"#7075db\" style=\"display: inline-block; padding: 0px; background-color: rgb(112, 117, 219);\">\n                                                                            <img src=\"https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/twitter-icon-2x.png\" alt=\"twitter\" color=\"#7075db\" width=\"24\" style=\"background-color: rgb(112, 117, 219); max-width: 135px; display: block;\">\n                                                                        </a>\n                                                                    </td>\n                                                                    <td width=\"5\">\n                                                                        <div></div>\n                                                                    </td>\n                                                                    <td>\n                                                                        <a href=\"//asdfref\" color=\"#7075db\" style=\"display: inline-block; padding: 0px; background-color: rgb(112, 117, 219);\">\n                                                                            <img src=\"https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/linkedin-icon-2x.png\" alt=\"linkedin\" color=\"#7075db\" width=\"24\" style=\"background-color: rgb(112, 117, 219); max-width: 135px; display: block;\">\n                                                                        </a>\n                                                                    </td>\n                                                                    <td width=\"5\">\n                                                                        <div></div>\n                                                                    </td>\n                                                                    <td>\n                                                                        <a href=\"//eqrger\" color=\"#7075db\" style=\"display: inline-block; padding: 0px; background-color: rgb(112, 117, 219);\">\n                                                                            <img src=\"https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/instagram-icon-2x.png\" alt=\"instagram\" color=\"#7075db\" width=\"24\" style=\"background-color: rgb(112, 117, 219); max-width: 135px; display: block;\">\n                                                                        </a>\n                                                                    </td>\n                                                                    <td width=\"5\">\n                                                                        <div></div>\n                                                                    </td>\n                                                                </tr>\n                                                            </tbody>\n                                                        </table>\n                                                    </td>\n                                                </tr>\n                                            </tbody>\n                                        </table>\n                                    </td>\n                                    <td width=\"46\">\n                                        <div></div>\n                                    </td>\n                                    <td style=\"padding: 0px; vertical-align: middle;\">\n                                        <h2 color=\"#000000\" style=\"margin: 0px; font-size: 18px; color: rgb(0, 0, 0); font-weight: 600;\">\n                                            <span>Barber Barberr</span><span>&nbsp;</span><span></span>\n                                        </h2>\n                                        <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"width: 100%; vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;\">\n                                            <tbody>\n                                                <tr>\n                                                    <td height=\"30\"></td>\n                                                </tr>\n                                                <tr>\n                                                    <td color=\"#a40c3f\" direction=\"horizontal\" width=\"auto\" height=\"1\" style=\"width: 100%; border-bottom: 1px solid rgb(164, 12, 63); border-left: none; display: block;\"></td>\n                                                </tr>\n                                                <tr>\n                                                    <td height=\"30\"></td>\n                                                </tr>\n                                            </tbody>\n                                        </table>\n                                        <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;\">\n                                            <tbody>\n                                                <tr height=\"25\" style=\"vertical-align: middle;\">\n                                                    <td width=\"30\" style=\"vertical-align: middle;\">\n                                                        <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;\">\n                                                            <tbody>\n                                                                <tr>\n                                                                    <td style=\"vertical-align: bottom;\">\n                                                                        <span color=\"#a40c3f\" width=\"11\" style=\"display: inline-block; background-color: rgb(164, 12, 63);\">\n                                                                            <img src=\"https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/phone-icon-2x.png\" color=\"#a40c3f\" alt=\"mobilePhone\" width=\"13\" style=\"display: block; background-color: rgb(164, 12, 63);\">\n                                                                        </span>\n                                                                    </td>\n                                                                </tr>\n                                                            </tbody>\n                                                        </table>\n                                                    </td>\n                                                    <td style=\"padding: 0px; color: rgb(0, 0, 0);\">\n                                                        <a href=\"tel:0777 777 7777 \" color=\"#000000\" style=\"text-decoration: none; color: rgb(0, 0, 0); font-size: 12px;\">\n                                                            <span>0777 777 7777 </span>\n                                                        </a>\n                                                    </td>\n                                                </tr>\n                                                <tr height=\"25\" style=\"vertical-align: middle;\">\n                                                    <td width=\"30\" style=\"vertical-align: middle;\">\n                                                        <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;\">\n                                                            <tbody>\n                                                                <tr>\n                                                                    <td style=\"vertical-align: bottom;\">\n                                                                        <span color=\"#a40c3f\" width=\"11\" style=\"display: inline-block; background-color: rgb(164, 12, 63);\">\n                                                                            <img src=\"https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/link-icon-2x.png\" color=\"#a40c3f\" alt=\"website\" width=\"13\" style=\"display: block; background-color: rgb(164, 12, 63);\">\n                                                                        </span>\n                                                                    </td>\n                                                                </tr>\n                                                            </tbody>\n                                                        </table>\n                                                    </td>\n                                                    <td style=\"padding: 0px;\">\n                                                        <a href=\"//barberbarberrr.co\" color=\"#000000\" style=\"text-decoration: none; color: rgb(0, 0, 0); font-size: 12px;\">\n                                                            <span>barberbarberrr.co</span>\n                                                        </a>\n                                                    </td>\n                                                </tr>\n                                            </tbody>\n                                        </table>\n                                        <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;\">\n                                            <tbody>\n                                                <tr>\n                                                    <td height=\"30\"></td>\n                                                </tr>\n                                            </tbody>\n                                        </table>\n                                    </td>\n                                </tr>\n                            </tbody>\n                        </table>\n                    </td>\n                </tr>\n            </tbody>\n        </table>\n    </div>\n</body>\n</html>",
                "attachments": [],
                "cc": [],
                "bcc": []
            },
            "metadata": {
                "designer": {
                    "x": 739,
                    "y": -19
                },
                "restore": {
                    "parameters": {
                        "account": {
                            "label": "My Google Restricted connection",
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            }
                        }
                    },
                    "expect": {
                        "folder": {
                            "mode": "chose",
                            "path": [
                                "Drafts"
                            ]
                        },
                        "to": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "attachments": {
                            "mode": "chose"
                        },
                        "cc": {
                            "mode": "chose"
                        },
                        "bcc": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "folder",
                        "type": "folder",
                        "label": "Folder",
                        "required": true
                    },
                    {
                        "name": "folder",
                        "type": "folder",
                        "label": "Folder",
                        "required": true
                    },
                    {
                        "name": "to",
                        "type": "array",
                        "label": "To",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address",
                            "required": true
                        }
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "html",
                        "type": "text",
                        "label": "Content"
                    },
                    {
                        "name": "attachments",
                        "type": "array",
                        "label": "Attachments",
                        "spec": [
                            {
                                "name": "fileName",
                                "label": "File name",
                                "type": "filename",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "label": "Data",
                                "type": "buffer",
                                "required": true,
                                "semantic": "file:data"
                            }
                        ]
                    },
                    {
                        "name": "cc",
                        "type": "array",
                        "label": "Copy recipient",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address",
                            "required": true
                        }
                    },
                    {
                        "name": "bcc",
                        "type": "array",
                        "label": "Blind copy recipient",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address",
                            "required": true
                        }
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com"
    }
}