assets/workflows/94/Cópia de Automacoes redes (Blueprint).json
{
    "name": "IA TECH RETO",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomMailHook",
            "version": 1,
            "parameters": {
                "hook": 731318,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 600
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "IA TECH RETO"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-mailhook",
                        "label": "Mailhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "onesaas:codepython",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 2200163
            },
            "mapper": {
                "pythonCode": "from youtube_transcript_api import YouTubeTranscriptApi\n\ndef fetch_video_transcript(video_url):\n    # Extracting Video ID from URL\n    if \"youtu.be\" in video_url:\n        video_id = video_url.split('/')[-1]\n    else:\n        video_id = video_url.split('v=')[-1].split('&')[0]\n\n    # Attempt to fetch the video transcript in Spanish\n    try:\n        transcript_list = YouTubeTranscriptApi.get_transcript(video_id, languages=['es', 'es-419', 'es-MX', 'es-ES'])\n        full_transcript = '\\\\n'.join([item['text'] for item in transcript_list])\n        return full_transcript\n    except Exception as e:\n        return f\"Failed to fetch transcript: {str(e)}\"\n\n# Main block to set the 'result' variable, as expected by the platform\nvideo_url = \"{{1.subject}}\"\nresult = fetch_video_transcript(video_url)\n"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 600
                },
                "restore": {
                    "expect": {
                        "requirements": {
                            "mode": "chose"
                        },
                        "otherInputParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "onesaas2"
                            },
                            "label": "RETO 2"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:onesaas2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "otherInputParameters",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Other Input Parameters"
                    },
                    {
                        "name": "requirements",
                        "spec": {
                            "name": "value",
                            "type": "text"
                        },
                        "type": "array",
                        "label": "Requirements"
                    },
                    {
                        "name": "pythonCode",
                        "type": "text",
                        "label": "Your Python Code",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 19,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 600
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 20,
                            "module": "openai-gpt-3:CreateCompletion",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2195124
                            },
                            "mapper": {
                                "model": "gpt-4o-2024-05-13",
                                "top_p": "1",
                                "select": "chat",
                                "messages": [
                                    {
                                        "role": "system",
                                        "content": "Actua como un experto creado guiones para podcasts"
                                    },
                                    {
                                        "role": "user",
                                        "content": "Escribe un guion de podcast a partir de la siguiente información. El guion debe ser un monólogo en formato de noticias, escrito en tercera persona y desde una perspectiva periodística. \nDebe constar de un máximo de cinco frases, siendo breve y directo al punto. No incluyas sitios web en el guion. No agregues introducción, despedida, notas entre paréntesis ni ninguna otra indicación. \nSOLO EL GUION.\n\nInformación: {{2.result}}"
                                    }
                                ],
                                "max_tokens": "2000",
                                "temperature": "1",
                                "n_completions": "1",
                                "response_format": "text"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 1200,
                                    "name": "Generacion blog"
                                },
                                "restore": {
                                    "expect": {
                                        "stop": {
                                            "mode": "chose"
                                        },
                                        "model": {
                                            "mode": "chose",
                                            "label": "gpt-4o-2024-05-13 (system)"
                                        },
                                        "select": {
                                            "label": "Create a Chat Completion (GPT Models)"
                                        },
                                        "messages": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "System"
                                                    }
                                                },
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "User"
                                                    }
                                                }
                                            ]
                                        },
                                        "logit_bias": {
                                            "mode": "chose"
                                        },
                                        "response_format": {
                                            "mode": "chose",
                                            "label": "Text"
                                        },
                                        "additionalParameters": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "openai-gpt-3"
                                            },
                                            "label": "My OpenAI connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:openai-gpt-3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Select Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "chat",
                                                "prompt"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "max_tokens",
                                        "type": "number",
                                        "label": "Max Tokens",
                                        "required": true
                                    },
                                    {
                                        "name": "temperature",
                                        "type": "number",
                                        "label": "Temperature",
                                        "validate": {
                                            "max": 2,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "top_p",
                                        "type": "number",
                                        "label": "Top P",
                                        "validate": {
                                            "max": 1,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "n_completions",
                                        "type": "number",
                                        "label": "Number"
                                    },
                                    {
                                        "name": "frequency_penalty",
                                        "type": "number",
                                        "label": "Frequency Penalty",
                                        "validate": {
                                            "max": 2,
                                            "min": -2
                                        }
                                    },
                                    {
                                        "name": "presence_penalty",
                                        "type": "number",
                                        "label": "Presence Penalty",
                                        "validate": {
                                            "max": 2,
                                            "min": -2
                                        }
                                    },
                                    {
                                        "name": "logit_bias",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "token",
                                                    "type": "text",
                                                    "label": "Token ID",
                                                    "required": true
                                                },
                                                {
                                                    "name": "probability",
                                                    "type": "number",
                                                    "label": "Probability",
                                                    "required": true,
                                                    "validate": {
                                                        "max": 100,
                                                        "min": -100
                                                    }
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Token Probability"
                                        },
                                        "type": "array",
                                        "label": "Token Probability"
                                    },
                                    {
                                        "name": "response_format",
                                        "type": "select",
                                        "label": "Response Format",
                                        "validate": {
                                            "enum": [
                                                "text",
                                                "json_object"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "seed",
                                        "type": "integer",
                                        "label": "Seed"
                                    },
                                    {
                                        "name": "stop",
                                        "spec": {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Stop Sequence"
                                        },
                                        "type": "array",
                                        "label": "Stop Sequences",
                                        "validate": {
                                            "maxItems": 4
                                        }
                                    },
                                    {
                                        "name": "additionalParameters",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "key",
                                                    "type": "text",
                                                    "label": "Parameter Name",
                                                    "required": true
                                                },
                                                {
                                                    "name": "type",
                                                    "type": "select",
                                                    "label": "Input Type",
                                                    "options": [
                                                        {
                                                            "label": "Text",
                                                            "value": "text",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "text",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ],
                                                            "default": true
                                                        },
                                                        {
                                                            "label": "Number",
                                                            "value": "number",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "number",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Boolean",
                                                            "value": "boolean",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "boolean",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Date",
                                                            "value": "date",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "date",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Any",
                                                            "value": "any",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "any",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Input Parameter"
                                        },
                                        "type": "array",
                                        "label": "Other Input Parameters"
                                    },
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "Model",
                                        "required": true
                                    },
                                    {
                                        "name": "messages",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "role",
                                                    "type": "select",
                                                    "label": "Role",
                                                    "options": [
                                                        {
                                                            "label": "System",
                                                            "value": "system"
                                                        },
                                                        {
                                                            "label": "User",
                                                            "value": "user"
                                                        },
                                                        {
                                                            "label": "Assistant",
                                                            "value": "assistant"
                                                        }
                                                    ],
                                                    "required": true
                                                },
                                                {
                                                    "name": "content",
                                                    "type": "text",
                                                    "label": "Message Content"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Message"
                                        },
                                        "type": "array",
                                        "label": "Messages",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 21,
                            "module": "elevenlabs:createTextToSpeech",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 1569251
                            },
                            "mapper": {
                                "text": "{{20.result}}",
                                "model_id": "eleven_multilingual_v2",
                                "voice_id": "vaiZqXP6k5SRp3MKtOoJ",
                                "voice_settings": {
                                    "stability": "0.4",
                                    "similarity_boost": "0.75"
                                },
                                "optimize_streaming_latency": "0"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 1200
                                },
                                "restore": {
                                    "expect": {
                                        "model_id": {
                                            "mode": "chose",
                                            "label": "Eleven Multilingual v2 (eleven_multilingual_v2)"
                                        },
                                        "voice_id": {
                                            "mode": "chose",
                                            "label": "professional/Jaume Ferrer (Español España)"
                                        },
                                        "optimize_streaming_latency": {
                                            "mode": "chose",
                                            "label": "Default Mode"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "elevenlabs"
                                            },
                                            "label": "My ElevenLabs connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:elevenlabs",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "voice_id",
                                        "type": "select",
                                        "label": "Voice",
                                        "required": true
                                    },
                                    {
                                        "name": "model_id",
                                        "type": "select",
                                        "label": "Model",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "voice_settings",
                                        "spec": [
                                            {
                                                "name": "stability",
                                                "type": "number",
                                                "label": "Stability",
                                                "validate": {
                                                    "max": 1,
                                                    "min": 0
                                                }
                                            },
                                            {
                                                "name": "similarity_boost",
                                                "type": "number",
                                                "label": "Similarity Boost",
                                                "validate": {
                                                    "max": 1,
                                                    "min": 0
                                                }
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Voice Settings"
                                    },
                                    {
                                        "name": "optimize_streaming_latency",
                                        "type": "select",
                                        "label": "Optimize Streaming Latency",
                                        "validate": {
                                            "enum": [
                                                "0",
                                                "1",
                                                "2",
                                                "3",
                                                "4"
                                            ]
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "id": 22,
                            "module": "dropbox:uploadLargeFile",
                            "version": 5,
                            "parameters": {
                                "__IMTCONN__": 1627932
                            },
                            "mapper": {
                                "data": "{{21.data}}",
                                "path": "/",
                                "filename": "{{21.fileName}}",
                                "overwrite": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 1200
                                },
                                "restore": {
                                    "expect": {
                                        "path": {
                                            "mode": "chose"
                                        },
                                        "overwrite": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "dropbox"
                                            },
                                            "label": "My Dropbox connection (angel.aparicio92@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:dropbox",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "path",
                                        "type": "folder",
                                        "label": "Folder",
                                        "required": true
                                    },
                                    {
                                        "name": "filename",
                                        "type": "filename",
                                        "label": "File Name",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Data",
                                        "required": true
                                    },
                                    {
                                        "name": "overwrite",
                                        "type": "boolean",
                                        "label": "Overwrite an existing file",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 3,
                            "module": "openai-gpt-3:CreateCompletion",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2195124
                            },
                            "mapper": {
                                "model": "gpt-4o-2024-05-13",
                                "top_p": "1",
                                "select": "chat",
                                "messages": [
                                    {
                                        "role": "system",
                                        "content": "Actua como un experto en redacción de blogs informativos en formato HTML."
                                    },
                                    {
                                        "role": "user",
                                        "content": "Escribe un artículo de entre 1000 y 1200 palabras en formato HTML a partir de la transcripción que te proporcionaré a continuación.\n\nPasos a seguir:\n-Utiliza titulos atractivos para estructurar el contenido adecuadamente.\n-Resalta frases o palabras importantes en negrita.\n-Usa un tono conversacional y cercano.\n\nImportante: Responde solo con el artículo en formato HTML. No utilices ningún símbolo (\"\" o **) para resaltar el texto. No empieces con ´´´html\n\nInformación: {{2.result}}"
                                    }
                                ],
                                "max_tokens": "2000",
                                "temperature": "1",
                                "n_completions": "1",
                                "response_format": "text"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 450,
                                    "name": "Generacion blog"
                                },
                                "restore": {
                                    "expect": {
                                        "stop": {
                                            "mode": "chose"
                                        },
                                        "model": {
                                            "mode": "chose",
                                            "label": "gpt-4o-2024-05-13 (system)"
                                        },
                                        "select": {
                                            "label": "Create a Chat Completion (GPT Models)"
                                        },
                                        "messages": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "System"
                                                    }
                                                },
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "User"
                                                    }
                                                }
                                            ]
                                        },
                                        "logit_bias": {
                                            "mode": "chose"
                                        },
                                        "response_format": {
                                            "mode": "chose",
                                            "label": "Text"
                                        },
                                        "additionalParameters": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "openai-gpt-3"
                                            },
                                            "label": "My OpenAI connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:openai-gpt-3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Select Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "chat",
                                                "prompt"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "max_tokens",
                                        "type": "number",
                                        "label": "Max Tokens",
                                        "required": true
                                    },
                                    {
                                        "name": "temperature",
                                        "type": "number",
                                        "label": "Temperature",
                                        "validate": {
                                            "max": 2,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "top_p",
                                        "type": "number",
                                        "label": "Top P",
                                        "validate": {
                                            "max": 1,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "n_completions",
                                        "type": "number",
                                        "label": "Number"
                                    },
                                    {
                                        "name": "frequency_penalty",
                                        "type": "number",
                                        "label": "Frequency Penalty",
                                        "validate": {
                                            "max": 2,
                                            "min": -2
                                        }
                                    },
                                    {
                                        "name": "presence_penalty",
                                        "type": "number",
                                        "label": "Presence Penalty",
                                        "validate": {
                                            "max": 2,
                                            "min": -2
                                        }
                                    },
                                    {
                                        "name": "logit_bias",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "token",
                                                    "type": "text",
                                                    "label": "Token ID",
                                                    "required": true
                                                },
                                                {
                                                    "name": "probability",
                                                    "type": "number",
                                                    "label": "Probability",
                                                    "required": true,
                                                    "validate": {
                                                        "max": 100,
                                                        "min": -100
                                                    }
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Token Probability"
                                        },
                                        "type": "array",
                                        "label": "Token Probability"
                                    },
                                    {
                                        "name": "response_format",
                                        "type": "select",
                                        "label": "Response Format",
                                        "validate": {
                                            "enum": [
                                                "text",
                                                "json_object"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "seed",
                                        "type": "integer",
                                        "label": "Seed"
                                    },
                                    {
                                        "name": "stop",
                                        "spec": {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Stop Sequence"
                                        },
                                        "type": "array",
                                        "label": "Stop Sequences",
                                        "validate": {
                                            "maxItems": 4
                                        }
                                    },
                                    {
                                        "name": "additionalParameters",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "key",
                                                    "type": "text",
                                                    "label": "Parameter Name",
                                                    "required": true
                                                },
                                                {
                                                    "name": "type",
                                                    "type": "select",
                                                    "label": "Input Type",
                                                    "options": [
                                                        {
                                                            "label": "Text",
                                                            "value": "text",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "text",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ],
                                                            "default": true
                                                        },
                                                        {
                                                            "label": "Number",
                                                            "value": "number",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "number",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Boolean",
                                                            "value": "boolean",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "boolean",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Date",
                                                            "value": "date",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "date",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Any",
                                                            "value": "any",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "any",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Input Parameter"
                                        },
                                        "type": "array",
                                        "label": "Other Input Parameters"
                                    },
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "Model",
                                        "required": true
                                    },
                                    {
                                        "name": "messages",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "role",
                                                    "type": "select",
                                                    "label": "Role",
                                                    "options": [
                                                        {
                                                            "label": "System",
                                                            "value": "system"
                                                        },
                                                        {
                                                            "label": "User",
                                                            "value": "user"
                                                        },
                                                        {
                                                            "label": "Assistant",
                                                            "value": "assistant"
                                                        }
                                                    ],
                                                    "required": true
                                                },
                                                {
                                                    "name": "content",
                                                    "type": "text",
                                                    "label": "Message Content"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Message"
                                        },
                                        "type": "array",
                                        "label": "Messages",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 4,
                            "module": "openai-gpt-3:CreateCompletion",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2195124
                            },
                            "mapper": {
                                "model": "gpt-4o-2024-05-13",
                                "top_p": "1",
                                "select": "chat",
                                "messages": [
                                    {
                                        "role": "system",
                                        "content": "Actua como un experto creación de contenido para redes sociales"
                                    },
                                    {
                                        "role": "user",
                                        "content": "Crea un resumen basado en el siguiente blog. El resumen debe tener la siguiente estructura sin agregar títulos (solo texto):\n\n-Un título muy atractivo que despierte la curiosidad de los lectores\n-Describe los tres aspectos más importantes del contenido (en forma de lista). No utilices asteriscos ni texto en negrita en los títulos y aspectos importantes. Usa solo texto simple. Añade un emoji de número frente a cada aspecto (1️⃣, 2️⃣, 3️⃣).\n-Un llamado a la acción que anime a los lectores a interactuar con el post.\n-5 hashtags relevantes\n\nIMPORTANTE:\n-El texto debe contener emojis para hacerlo más atractivo.\n-No utilices texto en negrita ni asteriscos en ninguna parte del texto.\n\nEl post debe tener entre 1600 y 1800 caracteres.\n\nBlog: {{3.result}}"
                                    }
                                ],
                                "max_tokens": "600",
                                "temperature": "1",
                                "n_completions": "1",
                                "response_format": "text"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 450,
                                    "name": "Generacion RRSS"
                                },
                                "restore": {
                                    "expect": {
                                        "stop": {
                                            "mode": "chose"
                                        },
                                        "model": {
                                            "mode": "chose",
                                            "label": "gpt-4o-2024-05-13 (system)"
                                        },
                                        "select": {
                                            "label": "Create a Chat Completion (GPT Models)"
                                        },
                                        "messages": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "System"
                                                    }
                                                },
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "User"
                                                    }
                                                }
                                            ]
                                        },
                                        "logit_bias": {
                                            "mode": "chose"
                                        },
                                        "response_format": {
                                            "mode": "chose",
                                            "label": "Text"
                                        },
                                        "additionalParameters": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "openai-gpt-3"
                                            },
                                            "label": "My OpenAI connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:openai-gpt-3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Select Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "chat",
                                                "prompt"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "max_tokens",
                                        "type": "number",
                                        "label": "Max Tokens",
                                        "required": true
                                    },
                                    {
                                        "name": "temperature",
                                        "type": "number",
                                        "label": "Temperature",
                                        "validate": {
                                            "max": 2,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "top_p",
                                        "type": "number",
                                        "label": "Top P",
                                        "validate": {
                                            "max": 1,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "n_completions",
                                        "type": "number",
                                        "label": "Number"
                                    },
                                    {
                                        "name": "frequency_penalty",
                                        "type": "number",
                                        "label": "Frequency Penalty",
                                        "validate": {
                                            "max": 2,
                                            "min": -2
                                        }
                                    },
                                    {
                                        "name": "presence_penalty",
                                        "type": "number",
                                        "label": "Presence Penalty",
                                        "validate": {
                                            "max": 2,
                                            "min": -2
                                        }
                                    },
                                    {
                                        "name": "logit_bias",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "token",
                                                    "type": "text",
                                                    "label": "Token ID",
                                                    "required": true
                                                },
                                                {
                                                    "name": "probability",
                                                    "type": "number",
                                                    "label": "Probability",
                                                    "required": true,
                                                    "validate": {
                                                        "max": 100,
                                                        "min": -100
                                                    }
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Token Probability"
                                        },
                                        "type": "array",
                                        "label": "Token Probability"
                                    },
                                    {
                                        "name": "response_format",
                                        "type": "select",
                                        "label": "Response Format",
                                        "validate": {
                                            "enum": [
                                                "text",
                                                "json_object"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "seed",
                                        "type": "integer",
                                        "label": "Seed"
                                    },
                                    {
                                        "name": "stop",
                                        "spec": {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Stop Sequence"
                                        },
                                        "type": "array",
                                        "label": "Stop Sequences",
                                        "validate": {
                                            "maxItems": 4
                                        }
                                    },
                                    {
                                        "name": "additionalParameters",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "key",
                                                    "type": "text",
                                                    "label": "Parameter Name",
                                                    "required": true
                                                },
                                                {
                                                    "name": "type",
                                                    "type": "select",
                                                    "label": "Input Type",
                                                    "options": [
                                                        {
                                                            "label": "Text",
                                                            "value": "text",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "text",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ],
                                                            "default": true
                                                        },
                                                        {
                                                            "label": "Number",
                                                            "value": "number",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "number",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Boolean",
                                                            "value": "boolean",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "boolean",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Date",
                                                            "value": "date",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "date",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Any",
                                                            "value": "any",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "any",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Input Parameter"
                                        },
                                        "type": "array",
                                        "label": "Other Input Parameters"
                                    },
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "Model",
                                        "required": true
                                    },
                                    {
                                        "name": "messages",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "role",
                                                    "type": "select",
                                                    "label": "Role",
                                                    "options": [
                                                        {
                                                            "label": "System",
                                                            "value": "system"
                                                        },
                                                        {
                                                            "label": "User",
                                                            "value": "user"
                                                        },
                                                        {
                                                            "label": "Assistant",
                                                            "value": "assistant"
                                                        }
                                                    ],
                                                    "required": true
                                                },
                                                {
                                                    "name": "content",
                                                    "type": "text",
                                                    "label": "Message Content"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Message"
                                        },
                                        "type": "array",
                                        "label": "Messages",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 5,
                            "module": "openai-gpt-3:CreateCompletion",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2195124
                            },
                            "mapper": {
                                "model": "gpt-4o-2024-05-13",
                                "top_p": "1",
                                "select": "chat",
                                "messages": [
                                    {
                                        "role": "system",
                                        "content": "Actua como un experto creando prompt para generar imagenes con DALLE 3"
                                    },
                                    {
                                        "role": "user",
                                        "content": "Crea el mejor prompt para generar una imagen realista y ultradetallada para la siguiente publicación: {{4.result}}\n\nImportante: \n-Responde solo con el prompt\n-Indica explicitamente que la imagen no debe tener palabras ni texto"
                                    }
                                ],
                                "max_tokens": "600",
                                "temperature": "1",
                                "n_completions": "1",
                                "response_format": "text"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 450,
                                    "name": "Prompt imagen"
                                },
                                "restore": {
                                    "expect": {
                                        "stop": {
                                            "mode": "chose"
                                        },
                                        "model": {
                                            "mode": "chose",
                                            "label": "gpt-4o-2024-05-13 (system)"
                                        },
                                        "select": {
                                            "label": "Create a Chat Completion (GPT Models)"
                                        },
                                        "messages": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "System"
                                                    }
                                                },
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "User"
                                                    }
                                                }
                                            ]
                                        },
                                        "logit_bias": {
                                            "mode": "chose"
                                        },
                                        "response_format": {
                                            "mode": "chose",
                                            "label": "Text"
                                        },
                                        "additionalParameters": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "openai-gpt-3"
                                            },
                                            "label": "My OpenAI connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:openai-gpt-3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Select Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "chat",
                                                "prompt"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "max_tokens",
                                        "type": "number",
                                        "label": "Max Tokens",
                                        "required": true
                                    },
                                    {
                                        "name": "temperature",
                                        "type": "number",
                                        "label": "Temperature",
                                        "validate": {
                                            "max": 2,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "top_p",
                                        "type": "number",
                                        "label": "Top P",
                                        "validate": {
                                            "max": 1,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "n_completions",
                                        "type": "number",
                                        "label": "Number"
                                    },
                                    {
                                        "name": "frequency_penalty",
                                        "type": "number",
                                        "label": "Frequency Penalty",
                                        "validate": {
                                            "max": 2,
                                            "min": -2
                                        }
                                    },
                                    {
                                        "name": "presence_penalty",
                                        "type": "number",
                                        "label": "Presence Penalty",
                                        "validate": {
                                            "max": 2,
                                            "min": -2
                                        }
                                    },
                                    {
                                        "name": "logit_bias",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "token",
                                                    "type": "text",
                                                    "label": "Token ID",
                                                    "required": true
                                                },
                                                {
                                                    "name": "probability",
                                                    "type": "number",
                                                    "label": "Probability",
                                                    "required": true,
                                                    "validate": {
                                                        "max": 100,
                                                        "min": -100
                                                    }
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Token Probability"
                                        },
                                        "type": "array",
                                        "label": "Token Probability"
                                    },
                                    {
                                        "name": "response_format",
                                        "type": "select",
                                        "label": "Response Format",
                                        "validate": {
                                            "enum": [
                                                "text",
                                                "json_object"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "seed",
                                        "type": "integer",
                                        "label": "Seed"
                                    },
                                    {
                                        "name": "stop",
                                        "spec": {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Stop Sequence"
                                        },
                                        "type": "array",
                                        "label": "Stop Sequences",
                                        "validate": {
                                            "maxItems": 4
                                        }
                                    },
                                    {
                                        "name": "additionalParameters",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "key",
                                                    "type": "text",
                                                    "label": "Parameter Name",
                                                    "required": true
                                                },
                                                {
                                                    "name": "type",
                                                    "type": "select",
                                                    "label": "Input Type",
                                                    "options": [
                                                        {
                                                            "label": "Text",
                                                            "value": "text",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "text",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ],
                                                            "default": true
                                                        },
                                                        {
                                                            "label": "Number",
                                                            "value": "number",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "number",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Boolean",
                                                            "value": "boolean",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "boolean",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Date",
                                                            "value": "date",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "date",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Any",
                                                            "value": "any",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "any",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Input Parameter"
                                        },
                                        "type": "array",
                                        "label": "Other Input Parameters"
                                    },
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "Model",
                                        "required": true
                                    },
                                    {
                                        "name": "messages",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "role",
                                                    "type": "select",
                                                    "label": "Role",
                                                    "options": [
                                                        {
                                                            "label": "System",
                                                            "value": "system"
                                                        },
                                                        {
                                                            "label": "User",
                                                            "value": "user"
                                                        },
                                                        {
                                                            "label": "Assistant",
                                                            "value": "assistant"
                                                        }
                                                    ],
                                                    "required": true
                                                },
                                                {
                                                    "name": "content",
                                                    "type": "text",
                                                    "label": "Message Content"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Message"
                                        },
                                        "type": "array",
                                        "label": "Messages",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 6,
                            "module": "openai-gpt-3:GenerateImage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2195124
                            },
                            "mapper": {
                                "size": "1024x1024",
                                "model": "dall-e-3",
                                "style": "natural",
                                "prompt": "{{5.result}}",
                                "quality": "hd",
                                "response_format": "url"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 450,
                                    "name": "Imagen DALLE"
                                },
                                "restore": {
                                    "expect": {
                                        "size": {
                                            "mode": "chose",
                                            "label": "1024x1024"
                                        },
                                        "model": {
                                            "mode": "chose",
                                            "label": "Dall-E 3"
                                        },
                                        "style": {
                                            "mode": "chose",
                                            "label": "Natural"
                                        },
                                        "quality": {
                                            "mode": "chose",
                                            "label": "HD"
                                        },
                                        "response_format": {
                                            "mode": "chose",
                                            "label": "URL"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "openai-gpt-3"
                                            },
                                            "label": "My OpenAI connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:openai-gpt-3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "Model",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "dall-e-3",
                                                "dall-e-2"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "prompt",
                                        "type": "text",
                                        "label": "Prompt",
                                        "required": true,
                                        "validate": {
                                            "max": 4000,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "size",
                                        "type": "select",
                                        "label": "Size",
                                        "validate": {
                                            "enum": [
                                                "1024x1024",
                                                "1792x1024",
                                                "1024x1792"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "quality",
                                        "type": "select",
                                        "label": "Quality",
                                        "validate": {
                                            "enum": [
                                                "standard",
                                                "hd"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "style",
                                        "type": "select",
                                        "label": "Style",
                                        "validate": {
                                            "enum": [
                                                "vivid",
                                                "natural"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "response_format",
                                        "type": "select",
                                        "label": "Response Format",
                                        "validate": {
                                            "enum": [
                                                "url",
                                                "imageFile"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "created",
                                        "type": "date",
                                        "label": "Created"
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "revised_prompt",
                                                "type": "text",
                                                "label": "Revised Prompt"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Data"
                                    },
                                    {
                                        "name": "resImgName",
                                        "type": "text",
                                        "label": "Response Image Name",
                                        "semantic": "file:name"
                                    },
                                    {
                                        "name": "resImgData",
                                        "type": "buffer",
                                        "label": "Response Image Data",
                                        "semantic": "file:data"
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 13,
                            "module": "http:ActionGetFile",
                            "version": 3,
                            "parameters": {
                                "handleErrors": false
                            },
                            "mapper": {
                                "url": "{{6.data[].url}}",
                                "method": "get",
                                "serializeUrl": false,
                                "shareCookies": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2100,
                                    "y": 450
                                },
                                "restore": {},
                                "parameters": [
                                    {
                                        "name": "handleErrors",
                                        "type": "boolean",
                                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "serializeUrl",
                                        "type": "boolean",
                                        "label": "Serialize URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "hidden",
                                        "label": "Method"
                                    },
                                    {
                                        "name": "shareCookies",
                                        "type": "boolean",
                                        "label": "Share cookies with other HTTP modules",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 14,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 2400,
                                    "y": 450
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 15,
                                            "module": "google-docs:createADocument",
                                            "version": 1,
                                            "parameters": {
                                                "__IMTCONN__": 1523189
                                            },
                                            "mapper": {
                                                "name": "Blog - {{1.date}}",
                                                "footer": false,
                                                "header": false,
                                                "content": "<img width=\"600\" src=\"{{6.data[].url}}\"></br>{{3.result}}</br>",
                                                "folderId": "/1sJqM61k7jvXd7Y3_tdXhExH2EJWQdKZw",
                                                "destination": "drive"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2700,
                                                    "y": 0
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "folderId": {
                                                            "mode": "chose",
                                                            "path": [
                                                                "Pruebas"
                                                            ]
                                                        },
                                                        "destination": {
                                                            "label": "My Drive"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "google"
                                                            },
                                                            "label": "My Google connection (angel.aparicio92@gmail.com)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:google",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Name",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Content",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "destination",
                                                        "type": "select",
                                                        "label": "Choose a Drive",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "drive",
                                                                "share",
                                                                "team"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "header",
                                                        "type": "boolean",
                                                        "label": "Insert a Header",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "footer",
                                                        "type": "boolean",
                                                        "label": "Insert a Footer",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "folderId",
                                                        "type": "folder",
                                                        "label": "New Document's Location",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Name",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Content",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "destination",
                                                        "type": "select",
                                                        "label": "Choose a Drive",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "drive",
                                                                "share",
                                                                "team"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "header",
                                                        "type": "boolean",
                                                        "label": "Insert a Header",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "footer",
                                                        "type": "boolean",
                                                        "label": "Insert a Footer",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "folderId",
                                                        "type": "folder",
                                                        "label": "New Document's Location",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 16,
                                            "module": "instagram-business:CreatePostPhoto",
                                            "version": 1,
                                            "parameters": {
                                                "__IMTCONN__": 1834419
                                            },
                                            "mapper": {
                                                "caption": "{{4.result}}",
                                                "accountId": "17841463008416376",
                                                "image_url": "{{6.data[].url}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2700,
                                                    "y": 300
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "accountId": {
                                                            "mode": "chose",
                                                            "label": "Angel Aparicio (@angelapa_ia)"
                                                        },
                                                        "user_tags": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "facebook"
                                                            },
                                                            "label": "Angel Personal (Angel Aparicio)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:facebook",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "accountId",
                                                        "type": "select",
                                                        "label": "Page",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "image_url",
                                                        "type": "url",
                                                        "label": "Photo URL",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "caption",
                                                        "type": "text",
                                                        "label": "Caption"
                                                    },
                                                    {
                                                        "name": "user_tags",
                                                        "spec": [
                                                            {
                                                                "name": "username",
                                                                "type": "text",
                                                                "label": "Username",
                                                                "required": true,
                                                                "validate": {
                                                                    "pattern": "^(?!@)"
                                                                }
                                                            },
                                                            {
                                                                "name": "x",
                                                                "type": "number",
                                                                "label": "X position",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 1,
                                                                    "min": 0
                                                                }
                                                            },
                                                            {
                                                                "name": "y",
                                                                "type": "number",
                                                                "label": "Y position",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 1,
                                                                    "min": 0
                                                                }
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "User Tags"
                                                    },
                                                    {
                                                        "name": "location_id",
                                                        "type": "text",
                                                        "label": "Location ID"
                                                    },
                                                    {
                                                        "name": "accountId",
                                                        "type": "select",
                                                        "label": "Page",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "image_url",
                                                        "type": "url",
                                                        "label": "Photo URL",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "caption",
                                                        "type": "text",
                                                        "label": "Caption"
                                                    },
                                                    {
                                                        "name": "user_tags",
                                                        "spec": [
                                                            {
                                                                "name": "username",
                                                                "type": "text",
                                                                "label": "Username",
                                                                "required": true,
                                                                "validate": {
                                                                    "pattern": "^(?!@)"
                                                                }
                                                            },
                                                            {
                                                                "name": "x",
                                                                "type": "number",
                                                                "label": "X position",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 1,
                                                                    "min": 0
                                                                }
                                                            },
                                                            {
                                                                "name": "y",
                                                                "type": "number",
                                                                "label": "Y position",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 1,
                                                                    "min": 0
                                                                }
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "User Tags"
                                                    },
                                                    {
                                                        "name": "location_id",
                                                        "type": "text",
                                                        "label": "Location ID"
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 17,
                                            "module": "facebook-pages:CreatePostWithPhotos",
                                            "version": 6,
                                            "parameters": {
                                                "__IMTCONN__": 1834419
                                            },
                                            "mapper": {
                                                "photos": [
                                                    {
                                                        "data": "{{13.data}}",
                                                        "type": "data",
                                                        "fileName": "{{13.fileName}}"
                                                    }
                                                ],
                                                "message": "{{4.result}}",
                                                "page_id": "274091429117242"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2700,
                                                    "y": 600
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "photos": {
                                                            "mode": "chose",
                                                            "items": [
                                                                {
                                                                    "type": {
                                                                        "mode": "chose",
                                                                        "label": "upload a photo"
                                                                    }
                                                                }
                                                            ]
                                                        },
                                                        "page_id": {
                                                            "mode": "chose",
                                                            "label": "Angel Aparicio"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "facebook"
                                                            },
                                                            "label": "Angel Personal (Angel Aparicio)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:facebook",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "page_id",
                                                        "type": "select",
                                                        "label": "Page",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "photos",
                                                        "spec": [
                                                            {
                                                                "name": "type",
                                                                "type": "select",
                                                                "label": "I want to",
                                                                "options": [
                                                                    {
                                                                        "label": "upload a photo",
                                                                        "value": "data",
                                                                        "nested": [
                                                                            {
                                                                                "name": "fileName",
                                                                                "type": "filename",
                                                                                "label": "File name",
                                                                                "required": true,
                                                                                "semantic": "file:name"
                                                                            },
                                                                            {
                                                                                "name": "data",
                                                                                "type": "buffer",
                                                                                "label": "Data",
                                                                                "required": true,
                                                                                "semantic": "file:data"
                                                                            }
                                                                        ],
                                                                        "default": true
                                                                    },
                                                                    {
                                                                        "label": "download photo from URL",
                                                                        "value": "url",
                                                                        "nested": [
                                                                            {
                                                                                "name": "url",
                                                                                "type": "url",
                                                                                "label": "URL",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    }
                                                                ],
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "caption",
                                                                "type": "text",
                                                                "label": "Caption"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Photos",
                                                        "required": true,
                                                        "validate": {
                                                            "maxItems": 30,
                                                            "minItems": 1
                                                        }
                                                    },
                                                    {
                                                        "name": "message",
                                                        "type": "text",
                                                        "label": "Message"
                                                    },
                                                    {
                                                        "name": "date",
                                                        "type": "date",
                                                        "label": "Date"
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 18,
                                            "module": "linkedin:ShareImage",
                                            "version": 2,
                                            "parameters": {
                                                "__IMTCONN__": 1587016
                                            },
                                            "mapper": {
                                                "data": "{{13.data}}",
                                                "content": "{{4.result}}",
                                                "fileName": "{{13.fileName}}",
                                                "visibility": "PUBLIC",
                                                "feedDistribution": "MAIN_FEED",
                                                "isReshareDisabledByAuthor": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2700,
                                                    "y": 900
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "visibility": {
                                                            "mode": "chose",
                                                            "label": "Public"
                                                        },
                                                        "feedDistribution": {
                                                            "mode": "chose",
                                                            "label": "Main feed"
                                                        },
                                                        "isReshareDisabledByAuthor": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "linkedin2"
                                                            },
                                                            "label": "My LinkedIn connection (ANGEL APARICIO)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:linkedin2",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "fileName",
                                                        "type": "text",
                                                        "label": "File name",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "data",
                                                        "type": "buffer",
                                                        "label": "Data",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "title",
                                                        "type": "text",
                                                        "label": "Title"
                                                    },
                                                    {
                                                        "name": "altText",
                                                        "type": "text",
                                                        "label": "Alt Text"
                                                    },
                                                    {
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Content",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "visibility",
                                                        "type": "select",
                                                        "label": "Visibility",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "PUBLIC",
                                                                "CONNECTIONS",
                                                                "LOGGED_IN"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "feedDistribution",
                                                        "type": "select",
                                                        "label": "Feed Distribution",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "MAIN_FEED",
                                                                "NONE"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "isReshareDisabledByAuthor",
                                                        "type": "boolean",
                                                        "label": "Is Reshare Disabled",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com"
    }
}