assets/workflows/8244/blueprint.json
{
    "name": "NM8 - ntegration RSS",
    "flow": [
        {
            "id": 8,
            "module": "google-drive:watchFilesInAFolder",
            "version": 4,
            "parameters": {
                "limit": 1,
                "select": "create",
                "folderId": "/1ZQvGbBSAgSB8lcadsHWwnGfd36vYt3zF",
                "mimeType": "all",
                "__IMTCONN__": 3010309,
                "destination": "drive"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "select": {
                            "label": "By Created Time"
                        },
                        "folderId": {
                            "path": [
                                "Filmes"
                            ]
                        },
                        "mimeType": {
                            "label": "All"
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "My Google Restricted TDS (inematds@gmail.com)"
                        },
                        "destination": {
                            "label": "My Drive"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "type": "hidden"
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Watch Files",
                        "required": true,
                        "validate": {
                            "enum": [
                                "create",
                                "modify"
                            ]
                        }
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "mimeType",
                        "type": "select",
                        "label": "File Types to Watch",
                        "required": true,
                        "validate": {
                            "enum": [
                                "all",
                                "document",
                                "spreadsheet",
                                "slide",
                                "drawing"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "Select the Folder to be Watched",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "google-drive:getAFile",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 3010309
            },
            "mapper": {
                "file": "{{8.id}}",
                "select": "map",
                "formatDrawings": "image/jpeg",
                "formatDocuments": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                "formatSpreadsheets": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                "formatPresentations": "application/vnd.openxmlformats-officedocument.presentationml.presentation"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "select": {
                            "label": "Enter manually"
                        },
                        "formatDrawings": {
                            "label": "JPEG"
                        },
                        "formatDocuments": {
                            "label": "MS Word Document"
                        },
                        "formatSpreadsheets": {
                            "label": "MS Excel"
                        },
                        "formatPresentations": {
                            "label": "MS PowerPoint"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "My Google Restricted TDS (inematds@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "type": "hidden"
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Enter a File ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "value"
                            ]
                        }
                    },
                    {
                        "name": "formatDocuments",
                        "type": "select",
                        "label": "Convert Google Documents Files to Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                                "application/pdf",
                                "application/vnd.oasis.opendocument.text",
                                "text/html",
                                "text/plain",
                                "application/rtf"
                            ]
                        }
                    },
                    {
                        "name": "formatSpreadsheets",
                        "type": "select",
                        "label": "Convert Google Spreadsheets Files to Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                                "application/x-vnd.oasis.opendocument.spreadsheet",
                                "application/pdf"
                            ]
                        }
                    },
                    {
                        "name": "formatPresentations",
                        "type": "select",
                        "label": "Convert Google Slides Files to Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "application/vnd.openxmlformats-officedocument.presentationml.presentation",
                                "application/pdf"
                            ]
                        }
                    },
                    {
                        "name": "formatDrawings",
                        "type": "select",
                        "label": "Convert Google Drawings Files to Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "image/jpeg",
                                "image/png",
                                "image/svg+xml",
                                "application/pdf"
                            ]
                        }
                    },
                    {
                        "name": "file",
                        "type": "text",
                        "label": "File ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 12,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 10,
                            "module": "groq:speechToText",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 691657,
                                "response_format": "verbose_json"
                            },
                            "filter": {
                                "name": "video",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{9.mimeType}}",
                                            "b": "video",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "model": "whisper-large-v3",
                                "prompt": "transcreva",
                                "file_data": "{{9.data}}",
                                "file_name": "{{9.name}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "model": {
                                            "mode": "chose",
                                            "label": "whisper-large-v3"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "groq"
                                            },
                                            "label": "My Groq connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:groq",
                                        "label": "Connection",
                                        "required": true
                                    },
                                    {
                                        "name": "response_format",
                                        "type": "text",
                                        "label": "Response Format"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "file_name",
                                        "type": "filename",
                                        "label": "Name",
                                        "required": true
                                    },
                                    {
                                        "name": "file_data",
                                        "type": "buffer",
                                        "label": "Data",
                                        "required": true
                                    },
                                    {
                                        "name": "prompt",
                                        "type": "text",
                                        "label": "System Prompt"
                                    },
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "Model",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "whisper-large-v3",
                                                "distil-whisper-large-v3-en"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "temperature",
                                        "type": "number",
                                        "label": "Temperature"
                                    },
                                    {
                                        "name": "language",
                                        "type": "text",
                                        "label": "Language"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 2,
                            "module": "groq:chatCompletion",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 3033350
                            },
                            "mapper": {
                                "model": "meta-llama/llama-4-maverick-17b-128e-instruct",
                                "messages": [
                                    {
                                        "role": "user",
                                        "content": "quero um texto viral de 200 caracteres sobre o assunto {{10.result}} nao quero nehum comentario ou explkicacao adicional, nao diga q voce esta criando algo, so quero o texto do resultado\n\ne 5 hashtag"
                                    }
                                ],
                                "response_format": "text"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1225,
                                    "y": -30
                                },
                                "restore": {
                                    "expect": {
                                        "model": {
                                            "mode": "chose",
                                            "label": "meta-llama/llama-4-maverick-17b-128e-instruct"
                                        },
                                        "messages": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "User"
                                                    }
                                                }
                                            ]
                                        },
                                        "response_format": {
                                            "mode": "chose",
                                            "label": "Text"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "groq"
                                            },
                                            "label": "My Groq testes xxx"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:groq",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "Model",
                                        "required": true
                                    },
                                    {
                                        "name": "messages",
                                        "spec": [
                                            {
                                                "name": "role",
                                                "type": "select",
                                                "label": "Role",
                                                "options": [
                                                    {
                                                        "label": "System",
                                                        "value": "system"
                                                    },
                                                    {
                                                        "label": "User",
                                                        "value": "user"
                                                    },
                                                    {
                                                        "label": "Assistant",
                                                        "value": "assistant"
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "content",
                                                "type": "text",
                                                "label": "Content"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Messages",
                                        "required": true
                                    },
                                    {
                                        "name": "max_tokens",
                                        "type": "number",
                                        "label": "Max tokens returned"
                                    },
                                    {
                                        "name": "temperature",
                                        "type": "number",
                                        "label": "Temperature"
                                    },
                                    {
                                        "name": "response_format",
                                        "type": "select",
                                        "label": "Response Format",
                                        "validate": {
                                            "enum": [
                                                "text",
                                                "json_object"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "top_p",
                                        "type": "number",
                                        "label": "Top P"
                                    },
                                    {
                                        "name": "frequency_penalty",
                                        "type": "number",
                                        "label": "Frequency Penalty"
                                    },
                                    {
                                        "name": "seed",
                                        "type": "number",
                                        "label": "Seed"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 3,
                            "module": "facebook-pages:CreatePost",
                            "version": 6,
                            "parameters": {
                                "__IMTCONN__": 941503
                            },
                            "mapper": {
                                "link": "{{9.webViewLink}}",
                                "message": "{{2.result}}",
                                "page_id": "109375295310780"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "page_id": {
                                            "mode": "chose",
                                            "label": "HyperAutomação (Canela)"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "facebook"
                                            },
                                            "label": "FACE2014 (Nei Eugenio Maldaner)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:facebook",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "page_id",
                                        "type": "select",
                                        "label": "Page",
                                        "required": true
                                    },
                                    {
                                        "name": "message",
                                        "type": "text",
                                        "label": "Message"
                                    },
                                    {
                                        "name": "link",
                                        "type": "url",
                                        "label": "Link"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Link name"
                                    },
                                    {
                                        "name": "description",
                                        "type": "text",
                                        "label": "Link description"
                                    },
                                    {
                                        "name": "date",
                                        "type": "date",
                                        "label": "Date"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 11,
                            "module": "groq:analyzeImagesVision",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 691657
                            },
                            "filter": {
                                "name": "foto",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{9.mimeType}}",
                                            "b": "imagem",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "model": "llava-v1.5-7b-4096-preview",
                                "prompt": "descrevea a imagem ",
                                "image_url": "{{9.webViewLink}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 300
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "groq"
                                            },
                                            "label": "My Groq connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:groq",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "image_url",
                                        "type": "url",
                                        "label": "Image URL"
                                    },
                                    {
                                        "name": "prompt",
                                        "type": "text",
                                        "label": "Prompt",
                                        "required": true
                                    },
                                    {
                                        "name": "model",
                                        "type": "text",
                                        "label": "Model",
                                        "required": true
                                    },
                                    {
                                        "name": "max_tokens",
                                        "type": "number",
                                        "label": "Max tokens returned"
                                    },
                                    {
                                        "name": "temperature",
                                        "type": "number",
                                        "label": "Temperature"
                                    },
                                    {
                                        "name": "top_p",
                                        "type": "number",
                                        "label": "Top P"
                                    },
                                    {
                                        "name": "frequency_penalty",
                                        "type": "number",
                                        "label": "Frequency Penalty"
                                    },
                                    {
                                        "name": "seed",
                                        "type": "number",
                                        "label": "Seed"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 13,
                            "module": "groq:chatCompletion",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 3033350
                            },
                            "mapper": {
                                "model": "meta-llama/llama-4-maverick-17b-128e-instruct",
                                "messages": [
                                    {
                                        "role": "user",
                                        "content": "quero um texto viral de 200 caracteres sobre o assunto {{11.result}}nao quero nehum comentario ou explkicacao adicional, nao diga q voce esta criando algo, so quero o texto do resultado\n\ne 5 hashtag"
                                    }
                                ],
                                "response_format": "text"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1249,
                                    "y": 299
                                },
                                "restore": {
                                    "expect": {
                                        "model": {
                                            "mode": "chose",
                                            "label": "meta-llama/llama-4-maverick-17b-128e-instruct"
                                        },
                                        "messages": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "User"
                                                    }
                                                }
                                            ]
                                        },
                                        "response_format": {
                                            "mode": "chose",
                                            "label": "Text"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "groq"
                                            },
                                            "label": "My Groq testes xxx"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:groq",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "Model",
                                        "required": true
                                    },
                                    {
                                        "name": "messages",
                                        "spec": [
                                            {
                                                "name": "role",
                                                "type": "select",
                                                "label": "Role",
                                                "options": [
                                                    {
                                                        "label": "System",
                                                        "value": "system"
                                                    },
                                                    {
                                                        "label": "User",
                                                        "value": "user"
                                                    },
                                                    {
                                                        "label": "Assistant",
                                                        "value": "assistant"
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "content",
                                                "type": "text",
                                                "label": "Content"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Messages",
                                        "required": true
                                    },
                                    {
                                        "name": "max_tokens",
                                        "type": "number",
                                        "label": "Max tokens returned"
                                    },
                                    {
                                        "name": "temperature",
                                        "type": "number",
                                        "label": "Temperature"
                                    },
                                    {
                                        "name": "response_format",
                                        "type": "select",
                                        "label": "Response Format",
                                        "validate": {
                                            "enum": [
                                                "text",
                                                "json_object"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "top_p",
                                        "type": "number",
                                        "label": "Top P"
                                    },
                                    {
                                        "name": "frequency_penalty",
                                        "type": "number",
                                        "label": "Frequency Penalty"
                                    },
                                    {
                                        "name": "seed",
                                        "type": "number",
                                        "label": "Seed"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 14,
                            "module": "facebook-pages:CreatePost",
                            "version": 6,
                            "parameters": {
                                "__IMTCONN__": 941503
                            },
                            "mapper": {
                                "link": "{{9.webContentLink}}",
                                "message": "{{13.result}}",
                                "page_id": "109375295310780"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "page_id": {
                                            "mode": "chose",
                                            "label": "HyperAutomação (Canela)"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "facebook"
                                            },
                                            "label": "FACE2014 (Nei Eugenio Maldaner)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:facebook",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "page_id",
                                        "type": "select",
                                        "label": "Page",
                                        "required": true
                                    },
                                    {
                                        "name": "message",
                                        "type": "text",
                                        "label": "Message"
                                    },
                                    {
                                        "name": "link",
                                        "type": "url",
                                        "label": "Link"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Link name"
                                    },
                                    {
                                        "name": "description",
                                        "type": "text",
                                        "label": "Link description"
                                    },
                                    {
                                        "name": "date",
                                        "type": "date",
                                        "label": "Date"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}