assets/workflows/4740/3. Ninja scraper.json
{
    "name": "2. Apify -> Sheets IG videos",
    "flow": [
        {
            "id": 1,
            "module": "apify:finishedActorRuns",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 1184846
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150,
                    "name": "Finish Actor"
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "Tiktok scraper"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:apify",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "apify:fetchDatasetItems",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2983978
            },
            "mapper": {
                "type": "none",
                "limit": "100",
                "format": "json",
                "datasetId": "{{1.defaultDatasetId}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150,
                    "name": "Videos"
                },
                "restore": {
                    "expect": {
                        "type": {
                            "mode": "chose",
                            "label": "None"
                        },
                        "format": {
                            "mode": "chose",
                            "label": "JSON"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "apify"
                            },
                            "label": "AngelApaIA"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:apify",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "datasetId",
                        "type": "text",
                        "label": "Dataset ID",
                        "required": true
                    },
                    {
                        "name": "type",
                        "type": "select",
                        "label": "Data transformation",
                        "required": true,
                        "validate": {
                            "enum": [
                                "clean",
                                "simplified",
                                "none"
                            ]
                        }
                    },
                    {
                        "name": "format",
                        "type": "select",
                        "label": "Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "json",
                                "csv",
                                "html",
                                "xml",
                                "rss",
                                "xlsx"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "validate": {
                            "max": 100000,
                            "min": 1
                        }
                    },
                    {
                        "name": "offset",
                        "type": "uinteger",
                        "label": "Offset",
                        "validate": {
                            "min": 0
                        }
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{2.videoUrl}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150,
                    "name": "Iterar videos"
                },
                "restore": {
                    "expect": {
                        "array": {
                            "mode": "edit"
                        }
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "http:ActionGetFile",
            "version": 3,
            "parameters": {
                "handleErrors": false
            },
            "mapper": {
                "url": "{{5.value}}",
                "method": "get",
                "serializeUrl": false,
                "shareCookies": false
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 150,
                    "name": "Descargar Video"
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "hidden",
                        "label": "Method"
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 17,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 18,
                            "module": "cloudconvert:ConvertFile",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 3593638
                            },
                            "filter": {
                                "name": "+25mb",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{6.fileSize}}",
                                            "b": "25000000",
                                            "o": "number:greaterorequal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "export": {
                                    "downloadFile": true
                                },
                                "import": {
                                    "data": "{{6.data}}",
                                    "filename": "{{6.fileName}}",
                                    "importType": "upload"
                                },
                                "options": {
                                    "opts": [
                                        {
                                            "name": "audio_qscale",
                                            "value": "9"
                                        },
                                        {
                                            "name": "channels",
                                            "value": "1"
                                        }
                                    ],
                                    "filename": "{{2.name}}",
                                    "useInputType": "no",
                                    "output_format": "mp3"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "export": {
                                            "nested": {
                                                "downloadFile": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "import": {
                                            "nested": {
                                                "importType": {
                                                    "label": "upload a file"
                                                }
                                            }
                                        },
                                        "options": {
                                            "nested": {
                                                "opts": {
                                                    "mode": "chose",
                                                    "items": [
                                                        null,
                                                        null
                                                    ]
                                                },
                                                "useInputType": {
                                                    "mode": "chose",
                                                    "label": "I don't know the input format"
                                                },
                                                "output_format": {
                                                    "mode": "chose",
                                                    "label": "mp3"
                                                }
                                            }
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "cloudconvert3"
                                            },
                                            "label": "Make nueva (angel.aparicio92@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:cloudconvert3,cloudconvert2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "import",
                                        "spec": [
                                            {
                                                "name": "importType",
                                                "type": "select",
                                                "label": "Input file",
                                                "required": true,
                                                "validate": {
                                                    "enum": [
                                                        "upload",
                                                        "url"
                                                    ]
                                                }
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true
                                            },
                                            {
                                                "name": "filename",
                                                "type": "filename",
                                                "label": "File name",
                                                "required": true
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Import options",
                                        "required": true
                                    },
                                    {
                                        "name": "options",
                                        "spec": [
                                            {
                                                "name": "useInputType",
                                                "type": "select",
                                                "label": "Format",
                                                "required": true,
                                                "validate": {
                                                    "enum": [
                                                        "yes",
                                                        "no"
                                                    ]
                                                }
                                            },
                                            {
                                                "name": "output_format",
                                                "type": "select",
                                                "label": "Output format",
                                                "required": true
                                            },
                                            {
                                                "name": "filename",
                                                "type": "filename",
                                                "label": "File name",
                                                "required": true
                                            },
                                            {
                                                "name": "opts",
                                                "spec": [
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Name",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "value",
                                                        "type": "text",
                                                        "label": "Value"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Conversion and engine specific options"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Convert options",
                                        "required": true
                                    },
                                    {
                                        "name": "export",
                                        "spec": [
                                            {
                                                "name": "downloadFile",
                                                "type": "boolean",
                                                "label": "Download a file",
                                                "required": true
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Export options",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 19,
                            "module": "groq:speechToText",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2431689,
                                "response_format": "verbose_json"
                            },
                            "mapper": {
                                "model": "whisper-large-v3",
                                "file_data": "{{18.data}}",
                                "file_name": "{{18.filename}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "model": {
                                            "mode": "chose",
                                            "label": "whisper-large-v3"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "groq"
                                            },
                                            "label": "My Groq connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:groq",
                                        "label": "Connection",
                                        "required": true
                                    },
                                    {
                                        "name": "response_format",
                                        "type": "text",
                                        "label": "Response Format"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "file_name",
                                        "type": "filename",
                                        "label": "Name",
                                        "required": true
                                    },
                                    {
                                        "name": "file_data",
                                        "type": "buffer",
                                        "label": "Data",
                                        "required": true
                                    },
                                    {
                                        "name": "prompt",
                                        "type": "text",
                                        "label": "System Prompt"
                                    },
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "Model",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "whisper-large-v3",
                                                "distil-whisper-large-v3-en"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "temperature",
                                        "type": "number",
                                        "label": "Temperature"
                                    },
                                    {
                                        "name": "language",
                                        "type": "text",
                                        "label": "Language"
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 12,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 1523189
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "0": "{{2.ownerUsername}}",
                                    "1": "{{2.displayUrl}}",
                                    "2": "{{2.videoUrl}}",
                                    "3": "{{2.caption}}",
                                    "4": "{{2.likesCount}}",
                                    "6": "{{2.videoPlayCount}}",
                                    "8": "{{2.dimensionsHeight}}",
                                    "9": "{{2.dimensionsWidth}}",
                                    "10": "{{2.videoDuration}}",
                                    "11": "{{2.commentsCount}}",
                                    "12": "{{19.result}}",
                                    "13": "{{2.timestamp}}",
                                    "15": "{{var.scenario.executionStartedAt}}",
                                    "16": "{{2.id}}",
                                    "18": "Instagram"
                                },
                                "sheetId": "Videos",
                                "spreadsheetId": "/1cqqUecKoqE_RJcXzBgakF-8YvGR8SPgXhxz7-s7sQBk",
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "valueInputOption": "USER_ENTERED",
                                "insertUnformatted": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2100,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "Videos"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Scraper Tiktok"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "Usuario (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "Portada (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "Video (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "Captions (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "Likes (E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "Compartidos (F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "Visualizaciones (G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "Guardado (H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "Alto (I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "Ancho (J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "Duración (K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "Comentarios (L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "Transcripción (M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "Fecha creación video (N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "Guión viral (O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "Ultima ejecución (P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "ID ejecución (Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "(S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "(T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "(U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "(V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "(W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "(X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "(Y)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (angel.aparicio92@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Usuario (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "Portada (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "Video (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "Captions (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "Likes (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "Compartidos (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "Visualizaciones (G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "Guardado (H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "Alto (I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "Ancho (J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "Duración (K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "Comentarios (L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "Transcripción (M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "Fecha creación video (N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "Guión viral (O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "Ultima ejecución (P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "ID ejecución (Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "(T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "(U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "(V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "(W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "(X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "(Y)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 20,
                            "module": "groq:speechToText",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2431689,
                                "response_format": "verbose_json"
                            },
                            "filter": {
                                "name": "<25 mb",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{6.fileSize}}",
                                            "b": "25000000",
                                            "o": "number:less"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "model": "whisper-large-v3",
                                "file_data": "{{6.data}}",
                                "file_name": "{{6.fileName}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "model": {
                                            "mode": "chose",
                                            "label": "whisper-large-v3"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "groq"
                                            },
                                            "label": "My Groq connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:groq",
                                        "label": "Connection",
                                        "required": true
                                    },
                                    {
                                        "name": "response_format",
                                        "type": "text",
                                        "label": "Response Format"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "file_name",
                                        "type": "filename",
                                        "label": "Name",
                                        "required": true
                                    },
                                    {
                                        "name": "file_data",
                                        "type": "buffer",
                                        "label": "Data",
                                        "required": true
                                    },
                                    {
                                        "name": "prompt",
                                        "type": "text",
                                        "label": "System Prompt"
                                    },
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "Model",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "whisper-large-v3",
                                                "distil-whisper-large-v3-en"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "temperature",
                                        "type": "number",
                                        "label": "Temperature"
                                    },
                                    {
                                        "name": "language",
                                        "type": "text",
                                        "label": "Language"
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 27,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 1523189
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "0": "{{2.ownerUsername}}",
                                    "1": "{{2.displayUrl}}",
                                    "2": "{{2.videoUrl}}",
                                    "3": "{{2.caption}}",
                                    "4": "{{2.likesCount}}",
                                    "6": "{{2.videoPlayCount}}",
                                    "8": "{{2.dimensionsHeight}}",
                                    "9": "{{2.dimensionsWidth}}",
                                    "10": "{{2.videoDuration}}",
                                    "11": "{{2.commentsCount}}",
                                    "12": "{{20.result}}",
                                    "13": "{{2.timestamp}}",
                                    "15": "{{var.scenario.executionStartedAt}}",
                                    "16": "{{2.id}}",
                                    "18": "Instagram"
                                },
                                "sheetId": "Videos",
                                "spreadsheetId": "/1cqqUecKoqE_RJcXzBgakF-8YvGR8SPgXhxz7-s7sQBk",
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "valueInputOption": "USER_ENTERED",
                                "insertUnformatted": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "Videos"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Scraper Tiktok"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "Usuario (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "Portada (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "Video (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "Captions (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "Likes (E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "Compartidos (F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "Visualizaciones (G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "Guardado (H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "Alto (I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "Ancho (J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "Duración (K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "Comentarios (L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "Transcripción (M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "Fecha creación video (N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "Guión viral (O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "Ultima ejecución (P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "ID ejecución (Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "(S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "(T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "(U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "(V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "(W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "(X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "(Y)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (angel.aparicio92@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Usuario (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "Portada (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "Video (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "Captions (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "Likes (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "Compartidos (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "Visualizaciones (G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "Guardado (H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "Alto (I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "Ancho (J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "Duración (K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "Comentarios (L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "Transcripción (M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "Fecha creación video (N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "Guión viral (O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "Ultima ejecución (P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "ID ejecución (Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "(T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "(U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "(V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "(W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "(X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "(Y)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com"
    }
}