assets/workflows/5058/Creating an Automated AI Sales System 🚀 (1) (1) (2).json
{
    "name": "Creating an Automated AI Sales System 🚀",
    "flow": [
        {
            "id": 1,
            "module": "paperform:submission",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 501855
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "My New Submission webhook"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:paperform",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "openai-gpt-3:sendMessageToAssistant",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1425946
            },
            "mapper": {
                "role": "user",
                "message": "Name:{{1.data.`7h7j0`.value}}\nEmail: {{1.data.cav6t.value}}\nDream Outcome: {{1.data.`49ui`.value}}\nCurrent Obstacle:{{1.data.`3qed1`.value}}\nBudget:{{1.data.fh4hi.value}}",
                "assistantId": "asst_REFNWh8Q1U7rzJDJzpImfunO"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0,
                    "name": "Email bot 🤖"
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "tools": {
                            "mode": "chose"
                        },
                        "fileIds": {
                            "mode": "chose"
                        },
                        "assistantId": {
                            "mode": "chose",
                            "label": "Email Bot 🤖 (gpt-4-turbo)"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "message",
                        "type": "text",
                        "label": "Message",
                        "required": true
                    },
                    {
                        "name": "role",
                        "type": "hidden",
                        "label": "Role"
                    },
                    {
                        "name": "assistantId",
                        "type": "select",
                        "label": "Assistant",
                        "required": true
                    },
                    {
                        "name": "threadId",
                        "type": "text",
                        "label": "Thread ID"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model"
                    },
                    {
                        "name": "fileIds",
                        "spec": {
                            "name": "value",
                            "type": "select",
                            "label": "File ID",
                            "dynamic": true,
                            "options": []
                        },
                        "type": "array",
                        "label": "File IDs",
                        "validate": {
                            "maxItems": 10
                        }
                    },
                    {
                        "name": "tools",
                        "type": "select",
                        "label": "Tools",
                        "multiple": true,
                        "validate": {
                            "enum": [
                                "retrieval",
                                "code_interpreter"
                            ]
                        }
                    },
                    {
                        "name": "instructions",
                        "type": "text",
                        "label": "Instructions"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "openai-gpt-3:sendMessageToAssistant",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1425946
            },
            "mapper": {
                "role": "user",
                "message": "Name: {{1.data.`7h7j0`.value}}\n{{2.result}}",
                "assistantId": "asst_S7UleyrK1Ntt8sCDlrQ51bex"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0,
                    "name": "Subject Bot 🔮"
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "tools": {
                            "mode": "chose"
                        },
                        "fileIds": {
                            "mode": "chose"
                        },
                        "assistantId": {
                            "mode": "chose",
                            "label": "Subject Line Bot 🔥 (gpt-4-turbo)"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "message",
                        "type": "text",
                        "label": "Message",
                        "required": true
                    },
                    {
                        "name": "role",
                        "type": "hidden",
                        "label": "Role"
                    },
                    {
                        "name": "assistantId",
                        "type": "select",
                        "label": "Assistant",
                        "required": true
                    },
                    {
                        "name": "threadId",
                        "type": "text",
                        "label": "Thread ID"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model"
                    },
                    {
                        "name": "fileIds",
                        "spec": {
                            "name": "value",
                            "type": "select",
                            "label": "File ID",
                            "dynamic": true,
                            "options": []
                        },
                        "type": "array",
                        "label": "File IDs",
                        "validate": {
                            "maxItems": 10
                        }
                    },
                    {
                        "name": "tools",
                        "type": "select",
                        "label": "Tools",
                        "multiple": true,
                        "validate": {
                            "enum": [
                                "retrieval",
                                "code_interpreter"
                            ]
                        }
                    },
                    {
                        "name": "instructions",
                        "type": "text",
                        "label": "Instructions"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "regexp:HTMLToText",
            "version": 1,
            "parameters": {},
            "mapper": {
                "html": "{{2.result}}",
                "newline": "lf",
                "uppercaseHeadings": true
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "newline": {
                            "label": "LF (\\n) - Unix/Mac OS X"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "html",
                        "type": "text",
                        "label": "HTML"
                    },
                    {
                        "name": "newline",
                        "type": "select",
                        "label": "Line break",
                        "required": true,
                        "validate": {
                            "enum": [
                                "lf",
                                "crlf",
                                "cr"
                            ]
                        }
                    },
                    {
                        "name": "uppercaseHeadings",
                        "type": "boolean",
                        "label": "Uppercase headings",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "openai-gpt-3:sendMessageToAssistant",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1425946
            },
            "mapper": {
                "role": "user",
                "message": "Name: {{1.data.`7h7j0`.value}}\nDream outcome: {{1.data.`49ui`.value}}\nProblem statement: {{1.data.`3qed1`.value}}\nBudget: {{1.data.fh4hi.value}}\n",
                "assistantId": "asst_Z4sMfep19OEPD9fihLyGOU4F"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose"
                        },
                        "tools": {
                            "mode": "chose"
                        },
                        "fileIds": {
                            "mode": "chose"
                        },
                        "assistantId": {
                            "mode": "chose",
                            "label": "Email to voice 🔮 (gpt-4-turbo)"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "message",
                        "type": "text",
                        "label": "Message",
                        "required": true
                    },
                    {
                        "name": "role",
                        "type": "hidden",
                        "label": "Role"
                    },
                    {
                        "name": "assistantId",
                        "type": "select",
                        "label": "Assistant",
                        "required": true
                    },
                    {
                        "name": "threadId",
                        "type": "text",
                        "label": "Thread ID"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model"
                    },
                    {
                        "name": "fileIds",
                        "spec": {
                            "name": "value",
                            "type": "select",
                            "label": "File ID",
                            "dynamic": true,
                            "options": []
                        },
                        "type": "array",
                        "label": "File IDs",
                        "validate": {
                            "maxItems": 10
                        }
                    },
                    {
                        "name": "tools",
                        "type": "select",
                        "label": "Tools",
                        "multiple": true,
                        "validate": {
                            "enum": [
                                "retrieval",
                                "code_interpreter"
                            ]
                        }
                    },
                    {
                        "name": "instructions",
                        "type": "text",
                        "label": "Instructions"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "elevenlabs:createTextToSpeech",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1190920
            },
            "mapper": {
                "text": "{{5.result}}",
                "model_id": "eleven_turbo_v2",
                "voice_id": "KD5NvYtQMUIEIfhHNrzy",
                "voice_settings": {
                    "stability": ".4",
                    "similarity_boost": ".9"
                },
                "optimize_streaming_latency": "0"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "model_id": {
                            "mode": "chose",
                            "label": "Eleven Turbo v2 (eleven_turbo_v2)"
                        },
                        "voice_id": {
                            "mode": "chose",
                            "label": "professional/Jack V2 Voice"
                        },
                        "optimize_streaming_latency": {
                            "mode": "chose",
                            "label": "Default Mode"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "elevenlabs"
                            },
                            "label": "My ElevenLabs connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:elevenlabs",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "voice_id",
                        "type": "select",
                        "label": "Voice",
                        "required": true
                    },
                    {
                        "name": "model_id",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text",
                        "required": true
                    },
                    {
                        "name": "voice_settings",
                        "spec": [
                            {
                                "name": "stability",
                                "type": "number",
                                "label": "Stability",
                                "validate": {
                                    "max": 1,
                                    "min": 0
                                }
                            },
                            {
                                "name": "similarity_boost",
                                "type": "number",
                                "label": "Similarity Boost",
                                "validate": {
                                    "max": 1,
                                    "min": 0
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Voice Settings"
                    },
                    {
                        "name": "optimize_streaming_latency",
                        "type": "select",
                        "label": "Optimize Streaming Latency",
                        "validate": {
                            "enum": [
                                "0",
                                "1",
                                "2",
                                "3",
                                "4"
                            ]
                        }
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "google-drive:uploadAFile",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 1480479
            },
            "mapper": {
                "data": "{{7.data}}",
                "select": "value",
                "convert": false,
                "filename": "{{7.fileName}}",
                "folderId": "/1YuQxklkDlGk_kQMArmT_W8g_lmXKAaAs",
                "destination": "drive"
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "select": {
                            "label": "Select from the list"
                        },
                        "folderId": {
                            "mode": "chose",
                            "path": [
                                "AI Voice Message"
                            ]
                        },
                        "destination": {
                            "label": "My Drive"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "My Google Restricted connection (jack@aiautomationswithjack.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Enter a Folder ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "value"
                            ]
                        }
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "New File Name"
                    },
                    {
                        "name": "filename",
                        "type": "text",
                        "label": "File Name",
                        "required": true
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "convert",
                        "type": "boolean",
                        "label": "Convert a File",
                        "required": true
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "New Drive Location",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "New Folder Location",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "google-email:ActionCreateDraft",
            "version": 2,
            "parameters": {
                "account": 1480479
            },
            "mapper": {
                "cc": [],
                "to": [
                    "{{1.data.cav6t.value}}"
                ],
                "bcc": [],
                "html": "{{2.result}}",
                "folder": "[Gmail]/Drafts",
                "subject": "{{3.result}}",
                "attachments": [
                    {
                        "data": "{{7.data}}",
                        "fileName": "{{7.fileName}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 2100,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "cc": {
                            "mode": "chose"
                        },
                        "to": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "bcc": {
                            "mode": "chose"
                        },
                        "folder": {
                            "mode": "chose",
                            "path": [
                                "Drafts",
                                "Drafts"
                            ]
                        },
                        "attachments": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        }
                    },
                    "parameters": {
                        "account": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "My Google Restricted connection (jack@aiautomationswithjack.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "folder",
                        "type": "folder",
                        "label": "Folder",
                        "required": true
                    },
                    {
                        "name": "to",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address",
                            "required": true
                        },
                        "type": "array",
                        "label": "To"
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "html",
                        "type": "text",
                        "label": "Content"
                    },
                    {
                        "name": "attachments",
                        "spec": [
                            {
                                "name": "fileName",
                                "type": "filename",
                                "label": "File name",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "type": "buffer",
                                "label": "Data",
                                "required": true,
                                "semantic": "file:data"
                            }
                        ],
                        "type": "array",
                        "label": "Attachments"
                    },
                    {
                        "name": "cc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address",
                            "required": true
                        },
                        "type": "array",
                        "label": "Copy recipient"
                    },
                    {
                        "name": "bcc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address",
                            "required": true
                        },
                        "type": "array",
                        "label": "Blind copy recipient"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": [],
            "notes": [
                {
                    "id": 3,
                    "text": "",
                    "filter": false
                }
            ]
        },
        "zone": "eu2.make.com"
    }
}