assets/workflows/8329/blueprint (6).json
{
    "name": "nm21 - Integration Webhooks, Groq",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 730545,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -420,
                    "y": -83
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "label": "My gateway-webhook malhacao",
                            "data": {
                                "editable": "true"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "groq:chatCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3033350
            },
            "mapper": {
                "model": "meta-llama/llama-4-scout-17b-16e-instruct",
                "messages": [
                    {
                        "role": "user",
                        "content": "Você é um assistente virtual inteligente, especializado em atendimento nutricional, com ampla experiência em ajudar pessoas com dificuldade de controle alimentar.  \r\nSua única função é responder às mensagens dos usuários de forma clara, objetiva e útil, sempre retornando a resposta em um JSON válido.\r\n\r\n⚠️ Nunca responda sobre assuntos que não estejam relacionados à nutrição e ao controle alimentar.  \r\nSeja persistente, empática e envolvida, com foco em fazer o usuário compreender e aplicar suas orientações e dicas.\r\n\r\nResponda APENAS com um objeto JSON no seguinte formato:\r\n\r\n{\r\n  \"response\": \"<sua resposta gerada aqui>\"\r\n}\r\n\r\nExemplo:\r\n{\r\n  \"response\": \"Olá! Posso te ajudar com isso. Qual seria a sua dúvida?\"\r\n}\r\n\r\n⚠️ Nunca retorne texto fora do JSON. Nunca inclua comentários, quebras de linha extras, nem outro conteúdo além do objeto JSON. Apenas substitua o conteúdo do campo \"response\" com a sua resposta.\r\n\r\nMensagem do usuário: \"{{1.message}}\"\r\n"
                    }
                ],
                "response_format": "text"
            },
            "metadata": {
                "designer": {
                    "x": -31,
                    "y": -89
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Groq testes xxx",
                            "data": {
                                "scoped": "true",
                                "connection": "groq"
                            }
                        }
                    },
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "meta-llama/llama-4-scout-17b-16e-instruct"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                }
                            ]
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:groq",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "type": "array",
                        "label": "Messages",
                        "required": true,
                        "spec": [
                            {
                                "name": "role",
                                "type": "select",
                                "label": "Role",
                                "options": [
                                    {
                                        "label": "System",
                                        "value": "system"
                                    },
                                    {
                                        "label": "User",
                                        "value": "user"
                                    },
                                    {
                                        "label": "Assistant",
                                        "value": "assistant"
                                    }
                                ]
                            },
                            {
                                "name": "content",
                                "type": "text",
                                "label": "Content"
                            }
                        ]
                    },
                    {
                        "name": "max_tokens",
                        "type": "number",
                        "label": "Max tokens returned"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature"
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty"
                    },
                    {
                        "name": "seed",
                        "type": "number",
                        "label": "Seed"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "gateway:WebhookRespond",
            "version": 1,
            "parameters": {},
            "mapper": {
                "status": "200",
                "body": "{{3.result}}",
                "headers": []
            },
            "metadata": {
                "designer": {
                    "x": 350,
                    "y": -52
                },
                "restore": {
                    "expect": {
                        "headers": {
                            "mode": "chose"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "status",
                        "type": "uinteger",
                        "label": "Status",
                        "validate": {
                            "min": 100
                        },
                        "required": true
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    },
                    {
                        "name": "headers",
                        "type": "array",
                        "label": "Custom headers",
                        "validate": {
                            "maxItems": 16
                        },
                        "spec": [
                            {
                                "name": "key",
                                "label": "Key",
                                "type": "text",
                                "required": true,
                                "validate": {
                                    "max": 256
                                }
                            },
                            {
                                "name": "value",
                                "label": "Value",
                                "type": "text",
                                "required": true,
                                "validate": {
                                    "max": 4096
                                }
                            }
                        ]
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}