assets/workflows/3473/How to Turn Podcasts into Reels 3_3.json
{
    "name": "How to Turn Podcasts into Tweets 3/3",
    "flow": [
        {
            "id": 5,
            "module": "airtable:TriggerWatchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 1532818,
                "base": "appmjq2EdSJzScn7g",
                "useColumnId": false,
                "table": "tblcx2rOMSQlgd9pV",
                "config": {
                    "triggerField": "Last Modified Time",
                    "labelField": "Quotes"
                },
                "maxRecords": 1,
                "formula": ""
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Airtable OAuth connection (User ID: usrWHZndszJIS5AWQ)",
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            }
                        },
                        "base": {
                            "label": "Podcast Quotes "
                        },
                        "table": {
                            "label": "Table 1"
                        },
                        "config": {
                            "nested": {
                                "triggerField": {
                                    "label": "Last Modified Time"
                                },
                                "labelField": {
                                    "label": "Quotes"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "config",
                        "type": "collection",
                        "label": "Trigger configuration",
                        "spec": [
                            {
                                "name": "triggerField",
                                "type": "select",
                                "label": "Trigger field",
                                "required": true
                            },
                            {
                                "name": "triggerField",
                                "type": "hidden"
                            },
                            {
                                "name": "labelField",
                                "type": "select",
                                "label": "Label field",
                                "required": true
                            }
                        ]
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Quotes",
                        "label": "Quotes",
                        "type": "text"
                    },
                    {
                        "name": "Created Time 🕰️",
                        "label": "Created Time 🕰️",
                        "type": "date"
                    },
                    {
                        "name": "Last Modified Time",
                        "label": "Last Modified Time",
                        "type": "date"
                    },
                    {
                        "name": "Status",
                        "label": "Status",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1425946
            },
            "mapper": {
                "select": "chat",
                "max_tokens": "0",
                "temperature": "1",
                "top_p": "1",
                "n_completions": "1",
                "response_format": "text",
                "model": "gpt-4o",
                "messages": [
                    {
                        "role": "user",
                        "content": "\nAct as an informed twitter expert in the Business industry. You will be provided with a piece of content (this could be an article, a summary, a linked post etc..). You will create an optimized Twitter post based on that content, incorporating Twitter posting best practices and using the structure outlined below:\n \nPrompt: Please read the following content: {{5.Quotes}}\n\nCreate an engaging tweet based on its main points, using the tweet best practices provided:\n \n1. Keep the tweet concise, focusing on one clear message.\n2. Use the format Hook-Explain-Question-Hashtags\n3. Add a space after the hook after explain and before the hashtags\n4. Your output must be a maximum 240 characters maximum (including emojis)\n5. Keep it factual and clear to understand.\n6. Do not start a sentence with an emoji\n7. Incorporate a thought-provoking question at the end of the tweet\n8. Use 1-2 relevant hashtags to increase visibility but avoid overusing them.\n9. Do not include any links or recommend the original content\n10. Never start a sentence with an emoji\n11. Where there are statistics or data, you must reference that in the tweet\n12. Do not add any additional information\n13. For the avoidance of doubt, the message shall not exceed 220 characters\n14. You must not say ‘here is the suggested tweet’, you must only provide the tweet itself with no other supporting text\n \nThink step-by-step.\n \nFor example,\n \nExample text 1:\nAccording to the article, house sales in the UK are expected to increase in the coming months. The Royal Institution of Chartered Surveyors (Rics) reported a steady improvement in housing market sentiment in March, with rising demand from home buyers and an increase in the supply of available properties for the fourth consecutive month. 1 A net balance of 8% of property professionals saw an increase in inquiries from new buyers in March, the most positive result since February 2022. Additionally, a net balance of 13% reported a rise in new property listings for sale. 1 Over the next three months, a net balance of 13% of professionals expect house sales to increase, while over the next year, a balance of 46% are anticipating a jump in sales. 1 However, elevated mortgage rates are likely to limit the acceleration of housing market activity. The article notes that house prices appear to be stabilizing, with a net balance of 4% of professionals finding that prices fell in March. 1 The senior economist at Rics commented that the gradual recovery in demand, coupled with the prospect of interest rate cuts later in the year, should continue to support the housing market to some degree. 1\n \nExample Tweet 1:\nBreaking: UK House prices expected to rise this quarter, according to RICS 📈 There has been a13% rise in property listings.\n \nWhat are you seeing in your market? 🤔\n \nExample text 2:\nThe industry needs to provide more properties to second-time buyers and downsizers, rather than overwhelmingly focusing on first-time buyers, estate agency platform eXp UK has claimed.\nThe company said there are 9.4 million 29 to 40 year olds across the nation, accounting for just 25% of the total population aged 29 and above – the lowest proportion of all homebuyer demographics.\n \nDespite this, homes suitable for first-time buyers accounts for the largest proportion of housing market stock, with an estimated 5.4 million flats making up 23% of total housing stock, while some 6.6 million terraced homes make up 28% of all available housing.\nAdam Day, head of eXp UK, said: “There’s no denying that first-time buyers are at a severe disadvantage when it comes to climbing the property ladder but it’s clear that the government’s insistence on fuelling demand while neglecting supply is only making the issue worse.\n \n“At the same time, our research shows that when it comes to the issue of supply, the market is seriously out of kilter, with an oversupply of first-time buyer suitable homes to serve the smallest proportion of the homebuying population.\n \n“Yes, more must be done to incentivise downsizers in particular, as it will help unclog the higher rungs of the housing market, however, we need to deliver homes suitable to do so if we have a chance of rebalancing the market.”\n \nSecond home buyers aged 41 to 64 form the most significant chunk of the nation’s homebuyers, accounting for 47% of the homebuying population aged 29 and above.\nAt 28%, downsizers also account for a larger proportion of the homebuying population compared to first-time buyers.\n \nExample Tweet 2:\nThe UK housing industry needs change 🤷\n \nAccording to the estate agency platform eXp, Despite the 29-40 age group being the smallest homebuyer demographic at just 25%, the majority of the available housing stock consists of flats and terraced homes suitable for first-time buyers.\n \nIs it too difficult for first-time buyers at the moment? 🤔\n \nThe input: {{5.Quotes}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 338,
                    "y": -1
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My OpenAI connection",
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            }
                        }
                    },
                    "expect": {
                        "select": {
                            "label": "Create a Chat Completion (GPT Models)"
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        },
                        "stop": {
                            "mode": "chose"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4o (system)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                }
                            ]
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "max_tokens",
                        "type": "number",
                        "label": "Max Tokens",
                        "required": true
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "type": "array",
                        "label": "Token Probability",
                        "spec": {
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability",
                            "name": "value"
                        }
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "stop",
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        },
                        "spec": {
                            "type": "text",
                            "label": "Stop Sequence",
                            "name": "value"
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "type": "array",
                        "label": "Other Input Parameters",
                        "spec": {
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter",
                            "name": "value"
                        }
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "type": "array",
                        "label": "Messages",
                        "required": true,
                        "spec": {
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": [
                                        {
                                            "label": "System",
                                            "value": "system"
                                        },
                                        {
                                            "label": "User",
                                            "value": "user"
                                        },
                                        {
                                            "label": "Assistant",
                                            "value": "assistant"
                                        }
                                    ],
                                    "required": true
                                },
                                {
                                    "name": "content",
                                    "type": "text",
                                    "label": "Message Content"
                                }
                            ],
                            "type": "collection",
                            "label": "Message",
                            "name": "value"
                        }
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "twitter:createATweet",
            "version": 6,
            "parameters": {
                "__IMTCONN__": 1533175
            },
            "mapper": {
                "text": "{{3.result}}"
            },
            "metadata": {
                "designer": {
                    "x": 682,
                    "y": -1
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My X (formerly Twitter) OAuth 2.0 connection (itsssss_Jaack)",
                            "data": {
                                "scoped": "true",
                                "connection": "twitter2"
                            }
                        }
                    },
                    "expect": {
                        "media_ids": {
                            "mode": "edit"
                        },
                        "for_super_followers_only": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:twitter2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text Content",
                        "required": true
                    },
                    {
                        "name": "media_ids",
                        "type": "array",
                        "label": "Media IDs",
                        "mode": "edit",
                        "spec": {
                            "type": "text",
                            "name": "value"
                        }
                    },
                    {
                        "name": "place_id",
                        "type": "text",
                        "label": "Place ID"
                    },
                    {
                        "name": "direct_message_deep_link",
                        "type": "url",
                        "label": "Direct Message Link"
                    },
                    {
                        "name": "for_super_followers_only",
                        "type": "boolean",
                        "label": "Allow to Post Exclusively for Super Followers Only"
                    },
                    {
                        "name": "quote_tweet_id",
                        "type": "text",
                        "label": "Quote Post ID"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com"
    }
}