assets/workflows/3473/How to Turn Podcasts into Tweets 1_3.json
{
    "name": "How to Turn Podcasts into Tweets 1/3",
    "flow": [
        {
            "id": 24,
            "module": "rss:ActionReadArticles",
            "version": 4,
            "parameters": {
                "include": []
            },
            "mapper": {
                "url": "https://rss.app/feeds/sGYAj0aInVt08JaT.xml",
                "gzip": true,
                "password": "",
                "username": "",
                "maxResults": "1",
                "filterDateTo": "",
                "filterDateFrom": ""
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "include",
                        "type": "select",
                        "label": "Process RSS fields",
                        "multiple": true,
                        "validate": {
                            "enum": [
                                "google-merchant-center",
                                "itunes"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "username",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "password",
                        "type": "text",
                        "label": "Password"
                    },
                    {
                        "name": "filterDateFrom",
                        "type": "date",
                        "label": "Date from"
                    },
                    {
                        "name": "filterDateTo",
                        "type": "date",
                        "label": "Date to "
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of returned items",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "title",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "summary",
                        "type": "text",
                        "label": "Summary"
                    },
                    {
                        "name": "author",
                        "type": "text",
                        "label": "Author"
                    },
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL"
                    },
                    {
                        "name": "dateUpdated",
                        "type": "date",
                        "label": "Date updated"
                    },
                    {
                        "name": "dateCreated",
                        "type": "date",
                        "label": "Date created"
                    },
                    {
                        "name": "comments",
                        "type": "url",
                        "label": "Comments"
                    },
                    {
                        "name": "image",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Image"
                    },
                    {
                        "name": "categories",
                        "spec": {
                            "type": "text"
                        },
                        "type": "array",
                        "label": "Categories"
                    },
                    {
                        "name": "source",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Source"
                    },
                    {
                        "name": "enclosures",
                        "spec": [
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "length",
                                "type": "number",
                                "label": "Length"
                            }
                        ],
                        "type": "array",
                        "label": "Enclosures"
                    },
                    {
                        "help": "Other RSS fields. All values are in text format.",
                        "name": "rssFields",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "title"
                            },
                            {
                                "name": "description",
                                "type": "text",
                                "label": "description"
                            },
                            {
                                "name": "link",
                                "type": "text",
                                "label": "link"
                            },
                            {
                                "name": "guid",
                                "type": "text",
                                "label": "guid"
                            },
                            {
                                "name": "pubdate",
                                "type": "text",
                                "label": "pubdate"
                            },
                            {
                                "name": "enclosure",
                                "type": "text",
                                "label": "enclosure"
                            },
                            {
                                "name": "media:content",
                                "spec": [
                                    {
                                        "name": "props",
                                        "spec": [
                                            {
                                                "name": "medium",
                                                "type": "text",
                                                "label": "medium"
                                            },
                                            {
                                                "name": "url",
                                                "type": "text",
                                                "label": "url"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Properties"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    }
                                ],
                                "type": "collection",
                                "label": "media:content"
                            }
                        ],
                        "type": "collection",
                        "label": "RSS fields"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "onesaas:codepython",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 1545688
            },
            "mapper": {
                "pythonCode": "from youtube_transcript_api import YouTubeTranscriptApi\n\ndef fetch_video_transcript(video_url):\n    # Extracting Video ID from URL\n    if \"youtu.be\" in video_url:\n        video_id = video_url.split('/')[-1]\n    else:\n        video_id = video_url.split('v=')[-1].split('&')[0]\n     \n    # Attempt to fetch the video transcript\n    try:\n        transcript_list = YouTubeTranscriptApi.get_transcript(video_id)\n        full_transcript = '\\n'.join([item['text'] for item in transcript_list])\n        return full_transcript\n    except Exception as e:\n        return f\"Failed to fetch transcript: {str(e)}\"\n\n# Main block to set the 'result' variable, as expected by the platform\nvideo_url = \"{{24.url}}\"\nresult = fetch_video_transcript(video_url)"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "otherInputParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "onesaas2"
                            },
                            "label": "My 0-CodeKit connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:onesaas2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "otherInputParameters",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Other Input Parameters"
                    },
                    {
                        "name": "pythonCode",
                        "type": "text",
                        "label": "Your Python Code",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 25,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1425946
            },
            "mapper": {
                "model": "gpt-4o",
                "top_p": "1",
                "select": "chat",
                "messages": [
                    {
                        "role": "user",
                        "content": "You are a quote export. Please review this podcast transcript: {{3.result}}\n\nYou must create 10 insightful, concise quotes from the content. You can rephrase slightly to improve readability but only if necessary. Do not change the meaning of the quote. Each quote should be a maximum of 200 characters. Format the output as follows:\n\n- Use short, impactful sentences for each quote.\n- If there are more than one sentence in a quote you create, ensure there is a single space (line-break after each period sentences\n- Add a line break after each sentence within a quote to enhance readability.\n- Avoid including filler words, repetition, or unnecessary context.\n- Maintain the original meaning and intent of the speaker.\n- Do not include quotes that are incomplete or lack clarity when taken out of context.\n- Aim for a mix of quotes that capture key insights, actionable advice, and memorable phrases.\n\nFocus on capturing the essence of key ideas shared in the podcast while maintaining brevity and accuracy. The final result should be a collection of powerful, bite-sized quotes that encapsulate the main insights from the episode.\n\nGood examples:\n\"When I was 20 I wanted to be a millionaire…\nNow that I'm a millionaire, I want to be 20.\" \n\nI overheard a version of this.\nMakes me realize that when I'm 40, I'd rather be 32 (my age) with nothing, just to be 32 (again).\nA different frame on gratitude I thought I'd share. \n\nSolve rich people's problems.\nThey pay better. \n\n\"This is a frightening visual for me.\nThe first dot is the amount of data Chat GPT 3 was trained on.\nThe second is what chat GPT 4 is trained on.\nThey are already doing demos.\nIt can write a 60,000 word book from a single prompt.\nThe only question I've had about AI…\" \n\nSolve rich people's problems.\nThey pay better. \n\n\"Before I met my wife, I never cracked $3,000,000 per year.\n24 months after, I took home $17,000,000 in personal income.\nSome business lessons I've learned from her in no order:\" \n\n\"How to avoid tons of problems in life:\nGo to bed on time.\" \n\nIf you can be in a bad mood for no reason, you might as well be in a good mood for no reason. \n\nThe world belongs to those who can keep doing without seeing the result of their doing. \n\n\"Money loves speed.\nWealth loves time.\nPoverty loves indecision.\" \n\n\"I built wealth without:\n1) Reading a book a week\n2) Making my bed\n3) Journaling\n4) 2 hour morning routine\n5) Giving up alcohol\n6) Waiting to marry\n7) Giving up netflix\n8) Leverage\nYou just gotta find shit people want.\nThen sell it to them for more than it costs.\nMany times.\" \n\nA focused fool can accomplish more than a distracted genius. \n\n\"Ask the girl.\nShoot the shot.\nLaunch the business.\nRun the ad.\nQuit the job.\nTake the risk.\nWhen you're 85 years old and on your deathbed, you're not gonna wish you had fewer crazy stories.\" \n\n\"You can beat 99% of people by\n…preparing the night before\n…showing up early\n…leaving only when the job is done right\n…remembering peoples names\n…following up\n…improving one thing each time\nIt's not about being fancy.\nDoing the basics every time is what makes you advanced.\" \n\nGenerational wealth is transferred through education not assets. \n\nIt's impossible to control a man who needs nothing. \n\n\"9-5 you work to feed your present.\n5-9 you work to feed your future.\nMon-Fri you work to feed your present.\nSat-Sun you risk to feed your future.\nTo get ahead, you gotta work like you're coming up from behind.\nBecause you are.\" \n\nIf you want to see who has the most control over your life…just look at who you blame. \n\n\"Until you win, effort always goes unnoticed.\nGet used to it.\" \n\nYou can beat 99% of people simply by continuing to work without needing immediate reward. \n\n\"There's a moment when every boy realizes no one is coming to save him.\nAnd that's when he becomes a man.\nAnd some boys never get there and stay children forever.\" \n\nPoor people stay poor because they're afraid of other poor people judging them for trying to get rich. \n\nPeople want you to lose because it helps them justify the risks they chose not to take. \n\n\"Rule of thumb:\nHang out with people who talk about your future more than your past.\" \n\n\"Money loves speed.\nWealth loves time.\nPoverty loves indecision.\" \n\n\"If you surround yourself with only people who make you better…you'll probably get better than you are.\nAnd if you're that rare combination of ambitious yet humble - you may even get better than they are.\" \n\n\"My favorite Chinese proverb:\nEverything must be hard before it can be easy.\" \n\n\"Everyone is going to forget about you six months after you die.\nAnd in 3 generations everyone who ever knew you will be dead.\nProbably worth doing what you want between now and then (because everyone's gonna forget about you eventually anyways).\" \n\nIf you solve rich people problems, you get to charge rich people prices. \n\nIf you don't track, you don't care. \n\nA focused fool can accomplish more than a distracted genius. \n\n\"The fact that you don't know if it's gonna work - is exactly what makes it worth doing.\nIt's why entrepreneurship isn't for the faint of heart.\nEmbrace uncertainty.\" \n\n\"If you're willing to suck at anything for 100 days in a row, you can beat most people at most things.\nThe bar for excellence has never been so low.\" \n\n\"During my hardest days, I repeated the same phrase to myself:\nI cannot lose if I do not quit.\" \n\n\"The Queen of England died 5 months ago….\nShe ruled an entire nation and accumulated more wealth than 99.99% of humans…\nAnd…yet…you haven't thought about her except for this tweet.\nYou're gonna die.\nEveryone will move on.\nDo what you want.\" \n\n\"If you're poor, it makes sense to buy a suit and pretend you have money.\nIf youre rich, it makes sense to hide your wealth and look like an everyday guy.\n\"When youre strong, appear weak.\nWhen youre weak, appear strong.\"\n-Sun Tzu\nThere's 0 advantage to being accurately judged.\" \n\n\"The Queen of England died 12 months ago.\nShe ruled a nation and accumulated more wealth than 99.99% of humans…\nAnd…yet…you haven't thought about her except for this post.\nYou're gonna die.\nEveryone will move on.\nDo what you want.\" \n\n\"You have to learn to do things you hate in order to do the things you love.\nNo payoffs come without sacrifice.\" \n\nThe sooner you accept that everything is your fault, the sooner you can do something about it. \n\n\"Imagine how much further you'd be if you did things even when you didn't feel like doing them.\nPeople think there's some complex formula to winning - when the most basic one is: do what you said you were gonna do before it became inconvenient.\" \n\n\"You're gonna lose sleep.\nYou'll doubt whether it'll work.\nYou'll stress to make ends meet.\nYou won't finish your to do list.\nYou'll wonder if you made the right call - and have no way to know for years.\nThis is what 'hard' feels like.\nAnd that's okay.\" \n\n\"Hot take:\nNo one cares about marriage advice from single people.\nMoney advice from poor people.\nFitness advice from fat people.\nAnd if you aren't richer, fitter, or married longer, maybe you should just shut up and listen instead.\" \n\n\"\"I work a 9 to 5 and I can't find the time to work on my goals.\"\nYou get 104 days off a year.\nThey're called weekends.\nUse them.\" \n\nFriendly reminder that after you make your first $10k per month you don't immediately have to start a coaching program. \n\nEntrepreneurship is a test of will, not intellect. \n\nSelf love isn't a wine and spa day,  it's holding yourself to a higher standard than anyone else does."
                    }
                ],
                "max_tokens": "4096",
                "temperature": "1",
                "n_completions": "1",
                "response_format": "text"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "stop": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4o (system)"
                        },
                        "select": {
                            "label": "Create a Chat Completion (GPT Models)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                }
                            ]
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "max_tokens",
                        "type": "number",
                        "label": "Max Tokens",
                        "required": true
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability"
                        },
                        "type": "array",
                        "label": "Token Probability"
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "stop",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": [
                                        {
                                            "label": "System",
                                            "value": "system"
                                        },
                                        {
                                            "label": "User",
                                            "value": "user"
                                        },
                                        {
                                            "label": "Assistant",
                                            "value": "assistant"
                                        }
                                    ],
                                    "required": true
                                },
                                {
                                    "name": "content",
                                    "type": "text",
                                    "label": "Message Content"
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 30,
            "module": "regexp:Parser",
            "version": 1,
            "parameters": {
                "global": true,
                "pattern": "\"(.*?)\"",
                "multiline": false,
                "sensitive": true,
                "singleline": false,
                "continueWhenNoRes": false,
                "ignoreInfiniteLoopsWhenGlobal": false
            },
            "mapper": {
                "text": "{{25.result}}"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "pattern",
                        "type": "text",
                        "label": "Pattern",
                        "required": true
                    },
                    {
                        "name": "global",
                        "type": "boolean",
                        "label": "Global match",
                        "required": true
                    },
                    {
                        "name": "sensitive",
                        "type": "boolean",
                        "label": "Case sensitive",
                        "required": true
                    },
                    {
                        "name": "multiline",
                        "type": "boolean",
                        "label": "Multiline",
                        "required": true
                    },
                    {
                        "name": "singleline",
                        "type": "boolean",
                        "label": "Singleline",
                        "required": true
                    },
                    {
                        "name": "continueWhenNoRes",
                        "type": "boolean",
                        "label": "Continue the execution of the route even if the module finds no matches",
                        "required": true
                    },
                    {
                        "name": "ignoreInfiniteLoopsWhenGlobal",
                        "type": "boolean",
                        "label": "Ignore errors when there is an infinite search loop",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text"
                    }
                ],
                "interface": [
                    {
                        "name": "$1",
                        "type": "text",
                        "label": "$1"
                    },
                    {
                        "name": "i",
                        "type": "uinteger",
                        "label": "i"
                    },
                    {
                        "name": "__IMTMATCH__",
                        "type": "any",
                        "label": "Fallback Match"
                    }
                ]
            }
        },
        {
            "id": 31,
            "module": "airtable:ActionCreateRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 1532818
            },
            "mapper": {
                "base": "appmjq2EdSJzScn7g",
                "typecast": false,
                "useColumnId": false,
                "table": "tblcx2rOMSQlgd9pV",
                "record": {
                    "fldvIpsiNg4eHcIkJ": "\"{{30.`$1`}}\"",
                    "fldAFEcvShxGeRIym": {}
                }
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Airtable OAuth connection (User ID: usrWHZndszJIS5AWQ)",
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            }
                        }
                    },
                    "expect": {
                        "base": {
                            "label": "Podcast Quotes "
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        },
                        "table": {
                            "nested": [
                                {
                                    "name": "record",
                                    "spec": [
                                        {
                                            "name": "fldvIpsiNg4eHcIkJ",
                                            "label": "Quotes",
                                            "type": "text"
                                        },
                                        {
                                            "name": "fldiK3FhSzD6jVOF2",
                                            "label": "Notes",
                                            "type": "text",
                                            "multiline": true
                                        },
                                        {
                                            "name": "fldAFEcvShxGeRIym",
                                            "label": "Assignee",
                                            "type": "collection",
                                            "spec": [
                                                {
                                                    "name": "id",
                                                    "type": "text",
                                                    "label": "ID",
                                                    "help": "Unique user id"
                                                },
                                                {
                                                    "name": "email",
                                                    "type": "email",
                                                    "label": "Email",
                                                    "help": "User's email address"
                                                },
                                                {
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": "Name",
                                                    "help": "User's display name (may be empty if the user hasn't created an account)"
                                                }
                                            ]
                                        },
                                        {
                                            "name": "fldFXnDkleEMcVMUO",
                                            "label": "Status",
                                            "type": "select",
                                            "mode": "edit",
                                            "dynamic": true,
                                            "validate": false,
                                            "options": [
                                                {
                                                    "label": "Todo",
                                                    "value": "Todo"
                                                },
                                                {
                                                    "label": "In progress",
                                                    "value": "In progress"
                                                },
                                                {
                                                    "label": "Done",
                                                    "value": "Done"
                                                }
                                            ]
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Record"
                                }
                            ],
                            "label": "Table 1"
                        },
                        "record": {
                            "nested": {
                                "fldFXnDkleEMcVMUO": {
                                    "mode": "edit"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "record",
                        "type": "collection",
                        "label": "Record",
                        "spec": [
                            {
                                "name": "fldvIpsiNg4eHcIkJ",
                                "type": "text",
                                "label": "Quotes"
                            },
                            {
                                "name": "fldiK3FhSzD6jVOF2",
                                "type": "text",
                                "label": "Notes"
                            },
                            {
                                "name": "fldAFEcvShxGeRIym",
                                "type": "collection",
                                "label": "Assignee",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "email",
                                        "type": "email",
                                        "label": "Email"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    }
                                ]
                            },
                            {
                                "name": "fldFXnDkleEMcVMUO",
                                "type": "select",
                                "label": "Status",
                                "mode": "edit"
                            }
                        ]
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Quotes",
                        "label": "Quotes",
                        "type": "text"
                    },
                    {
                        "name": "Notes",
                        "label": "Notes",
                        "type": "text",
                        "multiline": true
                    },
                    {
                        "name": "Assignee",
                        "label": "Assignee",
                        "type": "collection",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ]
                    },
                    {
                        "name": "Status",
                        "label": "Status",
                        "type": "text"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com"
    }
}