assets/workflows/4292/Blueprint Vapi 2.json
{
    "name": "2. Appointment setter",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1009628,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 300
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "IA Barbershop agendar"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 10,
            "module": "groq:chatCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2431689
            },
            "mapper": {
                "model": "llama-3.1-70b-versatile",
                "messages": [
                    {
                        "role": "user",
                        "content": "Transforma esta fecha {{1.message.toolCallList[].function.arguments.Fecha_hora}} en el siguiente formato YYYY/MM/DD HH:MM.\n\nSolo responde con la fecha, no añadas mas texto."
                    }
                ],
                "max_tokens": "100",
                "response_format": "text"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 300
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "llama-3.1-70b-versatile"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                }
                            ]
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "groq"
                            },
                            "label": "My Groq connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:groq",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "spec": [
                            {
                                "name": "role",
                                "type": "select",
                                "label": "Role",
                                "options": [
                                    {
                                        "label": "System",
                                        "value": "system"
                                    },
                                    {
                                        "label": "User",
                                        "value": "user"
                                    },
                                    {
                                        "label": "Assistant",
                                        "value": "assistant"
                                    }
                                ]
                            },
                            {
                                "name": "content",
                                "type": "text",
                                "label": "Content"
                            }
                        ],
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "number",
                        "label": "Max tokens returned"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature"
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty"
                    },
                    {
                        "name": "seed",
                        "type": "number",
                        "label": "Seed"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 300
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 2,
                            "module": "google-calendar:createAnEvent",
                            "version": 5,
                            "parameters": {
                                "__IMTCONN__": 1523189
                            },
                            "filter": {
                                "name": "Corte de pelo",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{lower(1.message.toolCallList[].function.arguments.Tipo_de_servicio)}}",
                                            "b": "corte",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "start": "{{10.result}}",
                                "select": "detail",
                                "summary": "Corte - {{1.message.toolCallList[].function.arguments.Nombre}}",
                                "calendar": "faturas@gmail,com",
                                "duration": "00:30",
                                "location": "Carrer de Sant Jaume, 16, 12580 Benicarló, Castelló",
                                "attendees": [
                                    {
                                        "email": "{{1.message.toolCallList[].function.arguments.Email}}",
                                        "displayName": "{{1.message.toolCallList[].function.arguments.Nombre}}"
                                    }
                                ],
                                "overrides": [
                                    {
                                        "method": "popup",
                                        "minutes": "30"
                                    }
                                ],
                                "useDefault": true,
                                "visibility": "default",
                                "allDayEvent": false,
                                "sendUpdates": "all",
                                "transparency": "opaque",
                                "conferenceDate": false,
                                "guestPermissions": {
                                    "guestsCanModify": false,
                                    "guestsCanInviteOthers": true,
                                    "guestsCanSeeOtherGuests": true
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "select": {
                                            "label": "In Detail"
                                        },
                                        "colorId": {
                                            "mode": "chose"
                                        },
                                        "calendar": {
                                            "mode": "chose",
                                            "label": "faturas@gmail,com (Primary Calendar)"
                                        },
                                        "attendees": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "overrides": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "method": {
                                                        "mode": "chose",
                                                        "label": "Pop-up"
                                                    }
                                                }
                                            ]
                                        },
                                        "recurrence": {
                                            "mode": "chose"
                                        },
                                        "visibility": {
                                            "mode": "chose",
                                            "label": "Default"
                                        },
                                        "allDayEvent": {
                                            "mode": "chose"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "sendUpdates": {
                                            "mode": "chose",
                                            "label": "To All Guests"
                                        },
                                        "transparency": {
                                            "mode": "chose",
                                            "label": "Busy"
                                        },
                                        "conferenceDate": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (faturas@gmail,com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Create an Event",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "quick",
                                                "detail"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "calendar",
                                        "type": "select",
                                        "label": "Calendar ID",
                                        "required": true
                                    },
                                    {
                                        "name": "colorId",
                                        "type": "select",
                                        "label": "Color"
                                    },
                                    {
                                        "name": "summary",
                                        "type": "text",
                                        "label": "Event Name",
                                        "required": true
                                    },
                                    {
                                        "name": "allDayEvent",
                                        "type": "boolean",
                                        "label": "All Day Event",
                                        "required": true
                                    },
                                    {
                                        "name": "start",
                                        "time": true,
                                        "type": "date",
                                        "label": "Start Date",
                                        "required": true
                                    },
                                    {
                                        "name": "end",
                                        "time": true,
                                        "type": "date",
                                        "label": "End Date"
                                    },
                                    {
                                        "name": "duration",
                                        "type": "time",
                                        "label": "Duration"
                                    },
                                    {
                                        "name": "description",
                                        "type": "text",
                                        "label": "Description"
                                    },
                                    {
                                        "name": "location",
                                        "type": "text",
                                        "label": "Location"
                                    },
                                    {
                                        "name": "useDefault",
                                        "type": "boolean",
                                        "label": "Use the default reminder settings for this event"
                                    },
                                    {
                                        "name": "overrides",
                                        "spec": [
                                            {
                                                "name": "method",
                                                "type": "select",
                                                "label": "Method",
                                                "options": [
                                                    {
                                                        "label": "Email",
                                                        "value": "email"
                                                    },
                                                    {
                                                        "label": "Pop-up",
                                                        "value": "popup"
                                                    }
                                                ],
                                                "required": true
                                            },
                                            {
                                                "name": "minutes",
                                                "type": "uinteger",
                                                "label": "Minutes",
                                                "required": true,
                                                "validate": {
                                                    "max": 40320
                                                }
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Reminders",
                                        "validate": {
                                            "maxItems": 5
                                        }
                                    },
                                    {
                                        "name": "attendees",
                                        "spec": [
                                            {
                                                "name": "displayName",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "email",
                                                "type": "email",
                                                "label": "Email",
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attendees"
                                    },
                                    {
                                        "name": "transparency",
                                        "type": "select",
                                        "label": "Show me as",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "opaque",
                                                "transparent"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "visibility",
                                        "type": "select",
                                        "label": "Visibility",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "default",
                                                "public",
                                                "private"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "sendUpdates",
                                        "type": "select",
                                        "label": "Send notifications about the event creation",
                                        "validate": {
                                            "enum": [
                                                "all",
                                                "externalOnly",
                                                "none"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "guestPermissions",
                                        "spec": [
                                            {
                                                "name": "guestsCanModify",
                                                "type": "boolean",
                                                "label": "Modify event",
                                                "required": true
                                            },
                                            {
                                                "name": "guestsCanInviteOthers",
                                                "type": "boolean",
                                                "label": "Invite others",
                                                "required": true
                                            },
                                            {
                                                "name": "guestsCanSeeOtherGuests",
                                                "type": "boolean",
                                                "label": "See guest list",
                                                "required": true
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Guest Permissions"
                                    },
                                    {
                                        "name": "recurrence",
                                        "spec": {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Value"
                                        },
                                        "type": "array",
                                        "label": "Recurrence"
                                    },
                                    {
                                        "name": "conferenceDate",
                                        "type": "boolean",
                                        "label": "Add Google Meet Video Conferencing",
                                        "required": true
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "fileUrl",
                                                "type": "url",
                                                "label": "File URL",
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments"
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 4,
                            "module": "airtable:ActionCreateRecord",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 2923290
                            },
                            "mapper": {
                                "base": "appNDZF7ubXUqgEsA",
                                "table": "tblEhCoBWtYExxTqi",
                                "record": {
                                    "fldMW4qvfdU1aXvyf": "{{10.result}}",
                                    "fldQrleQFqaCoTGYa": "{{1.message.toolCallList[].function.arguments.Nombre}}",
                                    "fldfpzL7HV4aBiMj0": "{{1.message.toolCallList[].function.arguments.Email}}",
                                    "fldvQoYh7WR2jK5Yv": "{{1.message.toolCallList[].function.arguments.Numero}}"
                                },
                                "typecast": false,
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "label": "IA Barbershop"
                                        },
                                        "table": {
                                            "label": "Table 1",
                                            "nested": [
                                                {
                                                    "name": "record",
                                                    "spec": [
                                                        {
                                                            "name": "fldQrleQFqaCoTGYa",
                                                            "type": "text",
                                                            "label": "Nombre"
                                                        },
                                                        {
                                                            "name": "fldvQoYh7WR2jK5Yv",
                                                            "type": "text",
                                                            "label": "Numero de telefono"
                                                        },
                                                        {
                                                            "name": "fldfpzL7HV4aBiMj0",
                                                            "type": "text",
                                                            "label": "Email"
                                                        },
                                                        {
                                                            "name": "fldMW4qvfdU1aXvyf",
                                                            "time": true,
                                                            "type": "date",
                                                            "label": "Dia y hora"
                                                        },
                                                        {
                                                            "mode": "edit",
                                                            "name": "fld8KyrUsaeOS5vDt",
                                                            "type": "select",
                                                            "label": "Status",
                                                            "dynamic": true,
                                                            "options": [
                                                                {
                                                                    "label": "No presentado",
                                                                    "value": "No presentado"
                                                                },
                                                                {
                                                                    "label": "Completado",
                                                                    "value": "Completado"
                                                                }
                                                            ],
                                                            "validate": false
                                                        },
                                                        {
                                                            "name": "fldhf1eBp1tpLGpGh",
                                                            "type": "uinteger",
                                                            "label": "Satisfacción",
                                                            "validate": {
                                                                "min": 1
                                                            }
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Record"
                                                }
                                            ]
                                        },
                                        "record": {
                                            "nested": {
                                                "fld8KyrUsaeOS5vDt": {
                                                    "mode": "edit"
                                                }
                                            }
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            },
                                            "label": "My Airtable OAuth connection buena (User ID: usr1voXsCs2mwE0pt)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "fldQrleQFqaCoTGYa",
                                                "type": "text",
                                                "label": "Nombre"
                                            },
                                            {
                                                "name": "fldvQoYh7WR2jK5Yv",
                                                "type": "text",
                                                "label": "Numero de telefono"
                                            },
                                            {
                                                "name": "fldfpzL7HV4aBiMj0",
                                                "type": "text",
                                                "label": "Email"
                                            },
                                            {
                                                "name": "fldMW4qvfdU1aXvyf",
                                                "time": true,
                                                "type": "date",
                                                "label": "Dia y hora"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fld8KyrUsaeOS5vDt",
                                                "type": "select",
                                                "label": "Status"
                                            },
                                            {
                                                "name": "fldhf1eBp1tpLGpGh",
                                                "type": "uinteger",
                                                "label": "Satisfacción",
                                                "validate": {
                                                    "min": 1
                                                }
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Nombre",
                                        "type": "text",
                                        "label": "Nombre"
                                    },
                                    {
                                        "name": "Numero de telefono",
                                        "type": "text",
                                        "label": "Numero de telefono"
                                    },
                                    {
                                        "name": "Email",
                                        "type": "text",
                                        "label": "Email"
                                    },
                                    {
                                        "name": "Dia y hora",
                                        "time": true,
                                        "type": "date",
                                        "label": "Dia y hora"
                                    },
                                    {
                                        "name": "Status",
                                        "type": "text",
                                        "label": "Status"
                                    },
                                    {
                                        "name": "Satisfacción",
                                        "type": "uinteger",
                                        "label": "Satisfacción",
                                        "validate": {
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "Última modificación",
                                        "type": "date",
                                        "label": "Última modificación"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 11,
                            "module": "google-calendar:createAnEvent",
                            "version": 5,
                            "parameters": {
                                "__IMTCONN__": 1523189
                            },
                            "filter": {
                                "name": "afeitado",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{lower(1.message.toolCallList[].function.arguments.Tipo_de_servicio)}}",
                                            "b": "afeitado",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "start": "{{10.result}}",
                                "select": "detail",
                                "summary": "Afeitado - {{1.message.toolCallList[].function.arguments.Nombre}}",
                                "calendar": "faturas@gmail,com",
                                "duration": "00:30",
                                "location": "Carrer de Sant Jaume, 16, 12580 Benicarló, Castelló",
                                "attendees": [
                                    {
                                        "email": "{{1.message.toolCallList[].function.arguments.Email}}",
                                        "displayName": "{{1.message.toolCallList[].function.arguments.Nombre}}"
                                    }
                                ],
                                "overrides": [
                                    {
                                        "method": "popup",
                                        "minutes": "30"
                                    }
                                ],
                                "useDefault": true,
                                "visibility": "default",
                                "allDayEvent": false,
                                "sendUpdates": "all",
                                "transparency": "opaque",
                                "conferenceDate": false,
                                "guestPermissions": {
                                    "guestsCanModify": false,
                                    "guestsCanInviteOthers": true,
                                    "guestsCanSeeOtherGuests": true
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "select": {
                                            "label": "In Detail"
                                        },
                                        "colorId": {
                                            "mode": "chose"
                                        },
                                        "calendar": {
                                            "mode": "chose",
                                            "label": "faturas@gmail,com (Primary Calendar)"
                                        },
                                        "attendees": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "overrides": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "method": {
                                                        "mode": "chose",
                                                        "label": "Pop-up"
                                                    }
                                                }
                                            ]
                                        },
                                        "recurrence": {
                                            "mode": "chose"
                                        },
                                        "visibility": {
                                            "mode": "chose",
                                            "label": "Default"
                                        },
                                        "allDayEvent": {
                                            "mode": "chose"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "sendUpdates": {
                                            "mode": "chose",
                                            "label": "To All Guests"
                                        },
                                        "transparency": {
                                            "mode": "chose",
                                            "label": "Busy"
                                        },
                                        "conferenceDate": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (faturas@gmail,com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Create an Event",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "quick",
                                                "detail"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "calendar",
                                        "type": "select",
                                        "label": "Calendar ID",
                                        "required": true
                                    },
                                    {
                                        "name": "colorId",
                                        "type": "select",
                                        "label": "Color"
                                    },
                                    {
                                        "name": "summary",
                                        "type": "text",
                                        "label": "Event Name",
                                        "required": true
                                    },
                                    {
                                        "name": "allDayEvent",
                                        "type": "boolean",
                                        "label": "All Day Event",
                                        "required": true
                                    },
                                    {
                                        "name": "start",
                                        "time": true,
                                        "type": "date",
                                        "label": "Start Date",
                                        "required": true
                                    },
                                    {
                                        "name": "end",
                                        "time": true,
                                        "type": "date",
                                        "label": "End Date"
                                    },
                                    {
                                        "name": "duration",
                                        "type": "time",
                                        "label": "Duration"
                                    },
                                    {
                                        "name": "description",
                                        "type": "text",
                                        "label": "Description"
                                    },
                                    {
                                        "name": "location",
                                        "type": "text",
                                        "label": "Location"
                                    },
                                    {
                                        "name": "useDefault",
                                        "type": "boolean",
                                        "label": "Use the default reminder settings for this event"
                                    },
                                    {
                                        "name": "overrides",
                                        "spec": [
                                            {
                                                "name": "method",
                                                "type": "select",
                                                "label": "Method",
                                                "options": [
                                                    {
                                                        "label": "Email",
                                                        "value": "email"
                                                    },
                                                    {
                                                        "label": "Pop-up",
                                                        "value": "popup"
                                                    }
                                                ],
                                                "required": true
                                            },
                                            {
                                                "name": "minutes",
                                                "type": "uinteger",
                                                "label": "Minutes",
                                                "required": true,
                                                "validate": {
                                                    "max": 40320
                                                }
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Reminders",
                                        "validate": {
                                            "maxItems": 5
                                        }
                                    },
                                    {
                                        "name": "attendees",
                                        "spec": [
                                            {
                                                "name": "displayName",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "email",
                                                "type": "email",
                                                "label": "Email",
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attendees"
                                    },
                                    {
                                        "name": "transparency",
                                        "type": "select",
                                        "label": "Show me as",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "opaque",
                                                "transparent"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "visibility",
                                        "type": "select",
                                        "label": "Visibility",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "default",
                                                "public",
                                                "private"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "sendUpdates",
                                        "type": "select",
                                        "label": "Send notifications about the event creation",
                                        "validate": {
                                            "enum": [
                                                "all",
                                                "externalOnly",
                                                "none"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "guestPermissions",
                                        "spec": [
                                            {
                                                "name": "guestsCanModify",
                                                "type": "boolean",
                                                "label": "Modify event",
                                                "required": true
                                            },
                                            {
                                                "name": "guestsCanInviteOthers",
                                                "type": "boolean",
                                                "label": "Invite others",
                                                "required": true
                                            },
                                            {
                                                "name": "guestsCanSeeOtherGuests",
                                                "type": "boolean",
                                                "label": "See guest list",
                                                "required": true
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Guest Permissions"
                                    },
                                    {
                                        "name": "recurrence",
                                        "spec": {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Value"
                                        },
                                        "type": "array",
                                        "label": "Recurrence"
                                    },
                                    {
                                        "name": "conferenceDate",
                                        "type": "boolean",
                                        "label": "Add Google Meet Video Conferencing",
                                        "required": true
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "fileUrl",
                                                "type": "url",
                                                "label": "File URL",
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments"
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 7,
                            "module": "airtable:ActionCreateRecord",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 2923290
                            },
                            "mapper": {
                                "base": "appNDZF7ubXUqgEsA",
                                "table": "tblEhCoBWtYExxTqi",
                                "record": {
                                    "fldMW4qvfdU1aXvyf": "{{10.result}}",
                                    "fldQrleQFqaCoTGYa": "{{1.message.toolCallList[].function.arguments.Nombre}}",
                                    "fldfpzL7HV4aBiMj0": "{{1.message.toolCallList[].function.arguments.Email}}",
                                    "fldvQoYh7WR2jK5Yv": "{{1.message.toolCallList[].function.arguments.Numero}}"
                                },
                                "typecast": false,
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "label": "IA Barbershop"
                                        },
                                        "table": {
                                            "label": "Table 1",
                                            "nested": [
                                                {
                                                    "name": "record",
                                                    "spec": [
                                                        {
                                                            "name": "fldQrleQFqaCoTGYa",
                                                            "type": "text",
                                                            "label": "Nombre"
                                                        },
                                                        {
                                                            "name": "fldvQoYh7WR2jK5Yv",
                                                            "type": "text",
                                                            "label": "Numero de telefono"
                                                        },
                                                        {
                                                            "name": "fldfpzL7HV4aBiMj0",
                                                            "type": "text",
                                                            "label": "Email"
                                                        },
                                                        {
                                                            "name": "fldMW4qvfdU1aXvyf",
                                                            "time": true,
                                                            "type": "date",
                                                            "label": "Dia y hora"
                                                        },
                                                        {
                                                            "mode": "edit",
                                                            "name": "fld8KyrUsaeOS5vDt",
                                                            "type": "select",
                                                            "label": "Status",
                                                            "dynamic": true,
                                                            "options": [
                                                                {
                                                                    "label": "No presentado",
                                                                    "value": "No presentado"
                                                                },
                                                                {
                                                                    "label": "Completado",
                                                                    "value": "Completado"
                                                                }
                                                            ],
                                                            "validate": false
                                                        },
                                                        {
                                                            "name": "fldhf1eBp1tpLGpGh",
                                                            "type": "uinteger",
                                                            "label": "Satisfacción",
                                                            "validate": {
                                                                "min": 1
                                                            }
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Record"
                                                }
                                            ]
                                        },
                                        "record": {
                                            "nested": {
                                                "fld8KyrUsaeOS5vDt": {
                                                    "mode": "edit"
                                                }
                                            }
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            },
                                            "label": "My Airtable OAuth connection buena (User ID: usr1voXsCs2mwE0pt)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "fldQrleQFqaCoTGYa",
                                                "type": "text",
                                                "label": "Nombre"
                                            },
                                            {
                                                "name": "fldvQoYh7WR2jK5Yv",
                                                "type": "text",
                                                "label": "Numero de telefono"
                                            },
                                            {
                                                "name": "fldfpzL7HV4aBiMj0",
                                                "type": "text",
                                                "label": "Email"
                                            },
                                            {
                                                "name": "fldMW4qvfdU1aXvyf",
                                                "time": true,
                                                "type": "date",
                                                "label": "Dia y hora"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fld8KyrUsaeOS5vDt",
                                                "type": "select",
                                                "label": "Status"
                                            },
                                            {
                                                "name": "fldhf1eBp1tpLGpGh",
                                                "type": "uinteger",
                                                "label": "Satisfacción",
                                                "validate": {
                                                    "min": 1
                                                }
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Nombre",
                                        "type": "text",
                                        "label": "Nombre"
                                    },
                                    {
                                        "name": "Numero de telefono",
                                        "type": "text",
                                        "label": "Numero de telefono"
                                    },
                                    {
                                        "name": "Email",
                                        "type": "text",
                                        "label": "Email"
                                    },
                                    {
                                        "name": "Dia y hora",
                                        "time": true,
                                        "type": "date",
                                        "label": "Dia y hora"
                                    },
                                    {
                                        "name": "Status",
                                        "type": "text",
                                        "label": "Status"
                                    },
                                    {
                                        "name": "Satisfacción",
                                        "type": "uinteger",
                                        "label": "Satisfacción",
                                        "validate": {
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "Última modificación",
                                        "type": "date",
                                        "label": "Última modificación"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 12,
                            "module": "google-calendar:createAnEvent",
                            "version": 5,
                            "parameters": {
                                "__IMTCONN__": 1523189
                            },
                            "filter": {
                                "name": "Tinte",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{lower(1.message.toolCallList[].function.arguments.Tipo_de_servicio)}}",
                                            "b": "tinte",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "start": "{{10.result}}",
                                "select": "detail",
                                "summary": "Tinte - {{1.message.toolCallList[].function.arguments.Nombre}}",
                                "calendar": "faturas@gmail,com",
                                "duration": "01:00",
                                "location": "Carrer de Sant Jaume, 16, 12580 Benicarló, Castelló",
                                "attendees": [
                                    {
                                        "email": "{{1.message.toolCallList[].function.arguments.Email}}",
                                        "displayName": "{{1.message.toolCallList[].function.arguments.Nombre}}"
                                    }
                                ],
                                "overrides": [
                                    {
                                        "method": "popup",
                                        "minutes": "30"
                                    }
                                ],
                                "useDefault": true,
                                "visibility": "default",
                                "allDayEvent": false,
                                "sendUpdates": "all",
                                "transparency": "opaque",
                                "conferenceDate": false,
                                "guestPermissions": {
                                    "guestsCanModify": false,
                                    "guestsCanInviteOthers": true,
                                    "guestsCanSeeOtherGuests": true
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 600
                                },
                                "restore": {
                                    "expect": {
                                        "select": {
                                            "label": "In Detail"
                                        },
                                        "colorId": {
                                            "mode": "chose"
                                        },
                                        "calendar": {
                                            "mode": "chose",
                                            "label": "faturas@gmail,com (Primary Calendar)"
                                        },
                                        "attendees": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "overrides": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "method": {
                                                        "mode": "chose",
                                                        "label": "Pop-up"
                                                    }
                                                }
                                            ]
                                        },
                                        "recurrence": {
                                            "mode": "chose"
                                        },
                                        "visibility": {
                                            "mode": "chose",
                                            "label": "Default"
                                        },
                                        "allDayEvent": {
                                            "mode": "chose"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "sendUpdates": {
                                            "mode": "chose",
                                            "label": "To All Guests"
                                        },
                                        "transparency": {
                                            "mode": "chose",
                                            "label": "Busy"
                                        },
                                        "conferenceDate": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (faturas@gmail,com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Create an Event",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "quick",
                                                "detail"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "calendar",
                                        "type": "select",
                                        "label": "Calendar ID",
                                        "required": true
                                    },
                                    {
                                        "name": "colorId",
                                        "type": "select",
                                        "label": "Color"
                                    },
                                    {
                                        "name": "summary",
                                        "type": "text",
                                        "label": "Event Name",
                                        "required": true
                                    },
                                    {
                                        "name": "allDayEvent",
                                        "type": "boolean",
                                        "label": "All Day Event",
                                        "required": true
                                    },
                                    {
                                        "name": "start",
                                        "time": true,
                                        "type": "date",
                                        "label": "Start Date",
                                        "required": true
                                    },
                                    {
                                        "name": "end",
                                        "time": true,
                                        "type": "date",
                                        "label": "End Date"
                                    },
                                    {
                                        "name": "duration",
                                        "type": "time",
                                        "label": "Duration"
                                    },
                                    {
                                        "name": "description",
                                        "type": "text",
                                        "label": "Description"
                                    },
                                    {
                                        "name": "location",
                                        "type": "text",
                                        "label": "Location"
                                    },
                                    {
                                        "name": "useDefault",
                                        "type": "boolean",
                                        "label": "Use the default reminder settings for this event"
                                    },
                                    {
                                        "name": "overrides",
                                        "spec": [
                                            {
                                                "name": "method",
                                                "type": "select",
                                                "label": "Method",
                                                "options": [
                                                    {
                                                        "label": "Email",
                                                        "value": "email"
                                                    },
                                                    {
                                                        "label": "Pop-up",
                                                        "value": "popup"
                                                    }
                                                ],
                                                "required": true
                                            },
                                            {
                                                "name": "minutes",
                                                "type": "uinteger",
                                                "label": "Minutes",
                                                "required": true,
                                                "validate": {
                                                    "max": 40320
                                                }
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Reminders",
                                        "validate": {
                                            "maxItems": 5
                                        }
                                    },
                                    {
                                        "name": "attendees",
                                        "spec": [
                                            {
                                                "name": "displayName",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "email",
                                                "type": "email",
                                                "label": "Email",
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attendees"
                                    },
                                    {
                                        "name": "transparency",
                                        "type": "select",
                                        "label": "Show me as",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "opaque",
                                                "transparent"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "visibility",
                                        "type": "select",
                                        "label": "Visibility",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "default",
                                                "public",
                                                "private"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "sendUpdates",
                                        "type": "select",
                                        "label": "Send notifications about the event creation",
                                        "validate": {
                                            "enum": [
                                                "all",
                                                "externalOnly",
                                                "none"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "guestPermissions",
                                        "spec": [
                                            {
                                                "name": "guestsCanModify",
                                                "type": "boolean",
                                                "label": "Modify event",
                                                "required": true
                                            },
                                            {
                                                "name": "guestsCanInviteOthers",
                                                "type": "boolean",
                                                "label": "Invite others",
                                                "required": true
                                            },
                                            {
                                                "name": "guestsCanSeeOtherGuests",
                                                "type": "boolean",
                                                "label": "See guest list",
                                                "required": true
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Guest Permissions"
                                    },
                                    {
                                        "name": "recurrence",
                                        "spec": {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Value"
                                        },
                                        "type": "array",
                                        "label": "Recurrence"
                                    },
                                    {
                                        "name": "conferenceDate",
                                        "type": "boolean",
                                        "label": "Add Google Meet Video Conferencing",
                                        "required": true
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "fileUrl",
                                                "type": "url",
                                                "label": "File URL",
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments"
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 9,
                            "module": "airtable:ActionCreateRecord",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 2923290
                            },
                            "mapper": {
                                "base": "appNDZF7ubXUqgEsA",
                                "table": "tblEhCoBWtYExxTqi",
                                "record": {
                                    "fldMW4qvfdU1aXvyf": "{{10.result}}",
                                    "fldQrleQFqaCoTGYa": "{{1.message.toolCallList[].function.arguments.Nombre}}",
                                    "fldfpzL7HV4aBiMj0": "{{1.message.toolCallList[].function.arguments.Email}}",
                                    "fldvQoYh7WR2jK5Yv": "{{1.message.toolCallList[].function.arguments.Numero}}"
                                },
                                "typecast": false,
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 600
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "label": "IA Barbershop"
                                        },
                                        "table": {
                                            "label": "Table 1",
                                            "nested": [
                                                {
                                                    "name": "record",
                                                    "spec": [
                                                        {
                                                            "name": "fldQrleQFqaCoTGYa",
                                                            "type": "text",
                                                            "label": "Nombre"
                                                        },
                                                        {
                                                            "name": "fldvQoYh7WR2jK5Yv",
                                                            "type": "text",
                                                            "label": "Numero de telefono"
                                                        },
                                                        {
                                                            "name": "fldfpzL7HV4aBiMj0",
                                                            "type": "text",
                                                            "label": "Email"
                                                        },
                                                        {
                                                            "name": "fldMW4qvfdU1aXvyf",
                                                            "time": true,
                                                            "type": "date",
                                                            "label": "Dia y hora"
                                                        },
                                                        {
                                                            "mode": "edit",
                                                            "name": "fld8KyrUsaeOS5vDt",
                                                            "type": "select",
                                                            "label": "Status",
                                                            "dynamic": true,
                                                            "options": [
                                                                {
                                                                    "label": "No presentado",
                                                                    "value": "No presentado"
                                                                },
                                                                {
                                                                    "label": "Completado",
                                                                    "value": "Completado"
                                                                }
                                                            ],
                                                            "validate": false
                                                        },
                                                        {
                                                            "name": "fldhf1eBp1tpLGpGh",
                                                            "type": "uinteger",
                                                            "label": "Satisfacción",
                                                            "validate": {
                                                                "min": 1
                                                            }
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Record"
                                                }
                                            ]
                                        },
                                        "record": {
                                            "nested": {
                                                "fld8KyrUsaeOS5vDt": {
                                                    "mode": "edit"
                                                }
                                            }
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            },
                                            "label": "My Airtable OAuth connection buena (User ID: usr1voXsCs2mwE0pt)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "fldQrleQFqaCoTGYa",
                                                "type": "text",
                                                "label": "Nombre"
                                            },
                                            {
                                                "name": "fldvQoYh7WR2jK5Yv",
                                                "type": "text",
                                                "label": "Numero de telefono"
                                            },
                                            {
                                                "name": "fldfpzL7HV4aBiMj0",
                                                "type": "text",
                                                "label": "Email"
                                            },
                                            {
                                                "name": "fldMW4qvfdU1aXvyf",
                                                "time": true,
                                                "type": "date",
                                                "label": "Dia y hora"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fld8KyrUsaeOS5vDt",
                                                "type": "select",
                                                "label": "Status"
                                            },
                                            {
                                                "name": "fldhf1eBp1tpLGpGh",
                                                "type": "uinteger",
                                                "label": "Satisfacción",
                                                "validate": {
                                                    "min": 1
                                                }
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Nombre",
                                        "type": "text",
                                        "label": "Nombre"
                                    },
                                    {
                                        "name": "Numero de telefono",
                                        "type": "text",
                                        "label": "Numero de telefono"
                                    },
                                    {
                                        "name": "Email",
                                        "type": "text",
                                        "label": "Email"
                                    },
                                    {
                                        "name": "Dia y hora",
                                        "time": true,
                                        "type": "date",
                                        "label": "Dia y hora"
                                    },
                                    {
                                        "name": "Status",
                                        "type": "text",
                                        "label": "Status"
                                    },
                                    {
                                        "name": "Satisfacción",
                                        "type": "uinteger",
                                        "label": "Satisfacción",
                                        "validate": {
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "Última modificación",
                                        "type": "date",
                                        "label": "Última modificación"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com"
    }
}