assets/workflows/1325/Ticket-Visao.json
{
    "name": "EN6 -Tiket",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomMailHook",
            "version": 1,
            "parameters": {
                "hook": 297328,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "label": "Tiket",
                            "data": {
                                "editable": "false"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-mailhook",
                        "label": "Mailhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{1.attachments}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "array": {
                            "mode": "edit"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "array",
                        "type": "array",
                        "label": "Array",
                        "mode": "edit",
                        "spec": []
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "dropbox:uploadLargeFile",
            "version": 5,
            "parameters": {
                "__IMTCONN__": 330164
            },
            "mapper": {
                "path": "/",
                "filename": "{{2.fileName}}",
                "data": "{{2.data}}",
                "overwrite": true
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Dropbox connection (nei.maldaner2014@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "dropbox"
                            }
                        }
                    },
                    "expect": {
                        "path": {
                            "mode": "chose"
                        },
                        "overwrite": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:dropbox",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "path",
                        "type": "folder",
                        "label": "Folder",
                        "required": true
                    },
                    {
                        "name": "filename",
                        "type": "filename",
                        "label": "File Name",
                        "required": true
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "overwrite",
                        "type": "boolean",
                        "label": "Overwrite an existing file",
                        "required": true
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 4,
            "module": "openai-gpt-3:analyzeImages",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 237783
            },
            "mapper": {
                "prompt": "Você é um assistente especializado em analisar imagens de tickets de despesas e extrair informações relevantes. A partir da imagem fornecida, identifique os seguintes dados e retorne no formato JSON:\n{\n  \"tipo\": \"Especifique o tipo de despesa (ex.: gasolina, alimentação, transporte, etc.)\",\n  \"data\": \"Insira a data do ticket no formato YYYY-MM-DD\",\n  \"empresa\": \"Nome da empresa emissora do ticket\",\n  \"valor\": \"Valor total do ticket no formato numérico com separador decimal (ex.: 1234.56)\",\n  \"arquivo\": \"Nome ou caminho do arquivo associado\"\n}\n\n\n\nCertifique-se de que o JSON retornado seja limpo, sem aspas adicionais ou outros caracteres indesejados. Exclua qualquer metadado que não seja relevante e não inclua o cabeçalho 'JSON' no retorno.",
                "images": [
                    {
                        "imageUploadType": "imageFile",
                        "imageFileData": "{{2.data}}"
                    }
                ],
                "model": "gpt-4o-mini",
                "max_tokens": "2048",
                "temperature": "1",
                "top_p": "1",
                "n_completions": "1"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My OpenAI connection",
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            }
                        }
                    },
                    "expect": {
                        "images": {
                            "mode": "chose",
                            "items": [
                                {
                                    "imageUploadType": {
                                        "mode": "chose",
                                        "label": "Image File"
                                    }
                                }
                            ]
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4o-mini"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "prompt",
                        "type": "text",
                        "label": "Prompt",
                        "required": true
                    },
                    {
                        "name": "images",
                        "type": "array",
                        "label": "Images",
                        "required": true,
                        "spec": {
                            "spec": [
                                {
                                    "name": "imageUploadType",
                                    "type": "select",
                                    "label": "How would you like to specify an image?",
                                    "options": [
                                        {
                                            "label": "Image URL",
                                            "value": "url",
                                            "nested": [
                                                {
                                                    "help": "Public URL of the image. For example, `https://getmyimage.com/myimage.png`.",
                                                    "mode": "edit",
                                                    "name": "imageUrl",
                                                    "type": "url",
                                                    "label": "Image URL",
                                                    "mappable": {
                                                        "help": "Public URL of the image. For example, `https://getmyimage.com/myimage.png`."
                                                    },
                                                    "required": true
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Image File",
                                            "value": "imageFile",
                                            "nested": [
                                                {
                                                    "help": "Binary data of the image. For example, you can retrieve the binary data of your image using the __HTTP: Get a file__ module.",
                                                    "name": "imageFileData",
                                                    "type": "buffer",
                                                    "label": "Image File",
                                                    "required": true,
                                                    "semantic": "file:data"
                                                }
                                            ]
                                        }
                                    ],
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Image",
                            "name": "value"
                        }
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Completion Tokens"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 5,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": ""
            },
            "mapper": {
                "json": "{{4.result}}"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "Choose a data structure"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "google-sheets:addRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 237786
            },
            "mapper": {
                "mode": "select",
                "insertUnformatted": false,
                "valueInputOption": "USER_ENTERED",
                "insertDataOption": "INSERT_ROWS",
                "from": "drive",
                "spreadsheetId": "/1GMBiD_JrTTTIGzRnpXiob2lp4FCRwIA2cqYvq2CXs2k",
                "sheetId": "Tickets",
                "includesHeaders": true,
                "values": {
                    "0": "{{5.tipo}}",
                    "1": "{{5.data}}",
                    "2": "{{5.empresa}}",
                    "3": "{{5.valor}}",
                    "4": "{{5.arquivo}}",
                    "5": "{{4.result}}",
                    "6": "{{1.from.name}}",
                    "7": "{{1.from.address}}"
                }
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "TDS Google connection (inematds@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    },
                    "expect": {
                        "mode": {
                            "label": "Search by path"
                        },
                        "insertUnformatted": {
                            "mode": "chose"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        },
                        "insertDataOption": {
                            "mode": "chose",
                            "label": "Insert rows"
                        },
                        "from": {
                            "label": "My Drive"
                        },
                        "spreadsheetId": {
                            "path": [
                                "testes1"
                            ]
                        },
                        "sheetId": {
                            "label": "Tickets"
                        },
                        "includesHeaders": {
                            "nested": [
                                {
                                    "name": "values",
                                    "label": "Values",
                                    "type": "collection",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "label": "A",
                                            "type": "text"
                                        },
                                        {
                                            "name": "1",
                                            "label": "B",
                                            "type": "text"
                                        },
                                        {
                                            "name": "2",
                                            "label": "C",
                                            "type": "text"
                                        },
                                        {
                                            "name": "3",
                                            "label": "D",
                                            "type": "text"
                                        },
                                        {
                                            "name": "4",
                                            "label": "E",
                                            "type": "text"
                                        },
                                        {
                                            "name": "5",
                                            "label": "F",
                                            "type": "text"
                                        },
                                        {
                                            "name": "6",
                                            "label": "G",
                                            "type": "text"
                                        },
                                        {
                                            "name": "7",
                                            "label": "H",
                                            "type": "text"
                                        },
                                        {
                                            "name": "8",
                                            "label": "I",
                                            "type": "text"
                                        },
                                        {
                                            "name": "9",
                                            "label": "J",
                                            "type": "text"
                                        },
                                        {
                                            "name": "10",
                                            "label": "K",
                                            "type": "text"
                                        },
                                        {
                                            "name": "11",
                                            "label": "L",
                                            "type": "text"
                                        },
                                        {
                                            "name": "12",
                                            "label": "M",
                                            "type": "text"
                                        },
                                        {
                                            "name": "13",
                                            "label": "N",
                                            "type": "text"
                                        },
                                        {
                                            "name": "14",
                                            "label": "O",
                                            "type": "text"
                                        },
                                        {
                                            "name": "15",
                                            "label": "P",
                                            "type": "text"
                                        },
                                        {
                                            "name": "16",
                                            "label": "Q",
                                            "type": "text"
                                        },
                                        {
                                            "name": "17",
                                            "label": "R",
                                            "type": "text"
                                        },
                                        {
                                            "name": "18",
                                            "label": "S",
                                            "type": "text"
                                        },
                                        {
                                            "name": "19",
                                            "label": "T",
                                            "type": "text"
                                        },
                                        {
                                            "name": "20",
                                            "label": "U",
                                            "type": "text"
                                        },
                                        {
                                            "name": "21",
                                            "label": "V",
                                            "type": "text"
                                        },
                                        {
                                            "name": "22",
                                            "label": "W",
                                            "type": "text"
                                        },
                                        {
                                            "name": "23",
                                            "label": "X",
                                            "type": "text"
                                        },
                                        {
                                            "name": "24",
                                            "label": "Y",
                                            "type": "text"
                                        },
                                        {
                                            "name": "25",
                                            "label": "Z",
                                            "type": "text"
                                        }
                                    ]
                                }
                            ],
                            "label": "Yes"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "insertUnformatted",
                        "type": "boolean",
                        "label": "Unformatted",
                        "required": true
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "insertDataOption",
                        "type": "select",
                        "label": "Insert data option",
                        "validate": {
                            "enum": [
                                "INSERT_ROWS",
                                "OVERWRITE"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "type": "collection",
                        "label": "Values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "A"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "B"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "C"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "D"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "E"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "F"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "G"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "H"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "I"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "J"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "K"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "L"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "M"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "N"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "O"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "P"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "Q"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "R"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "S"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "T"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "U"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "V"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "W"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "X"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "Y"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "Z"
                            }
                        ]
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com"
    }
}