assets/workflows/7836/blueprint (22) (1).json
{
    "name": "Publicacion_LinkedIn_Tool",
    "flow": [
        {
            "id": 3,
            "module": "http:ActionGetFile",
            "version": 3,
            "parameters": {
                "handleErrors": false
            },
            "mapper": {
                "url": "{{var.input.URL_Imagen}}",
                "method": "get",
                "serializeUrl": false,
                "shareCookies": false
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "hidden",
                        "label": "Method"
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "linkedin:ShareImage",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 5621703
            },
            "mapper": {
                "data": "{{3.data}}",
                "content": "{{var.input.Publicacion}}",
                "fileName": "{{3.fileName}}",
                "visibility": "PUBLIC",
                "feedDistribution": "MAIN_FEED",
                "isReshareDisabledByAuthor": false
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "visibility": {
                            "mode": "chose",
                            "label": "Public"
                        },
                        "feedDistribution": {
                            "mode": "chose",
                            "label": "Main feed"
                        },
                        "isReshareDisabledByAuthor": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "linkedin2"
                            },
                            "label": "Angel Aparicio (ANGEL APARICIO)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:linkedin2,linkedin-openid",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "fileName",
                        "type": "text",
                        "label": "File name",
                        "required": true
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "name": "altText",
                        "type": "text",
                        "label": "Alt Text"
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Content",
                        "required": true
                    },
                    {
                        "name": "visibility",
                        "type": "select",
                        "label": "Visibility",
                        "required": true,
                        "validate": {
                            "enum": [
                                "PUBLIC",
                                "CONNECTIONS",
                                "LOGGED_IN"
                            ]
                        }
                    },
                    {
                        "name": "feedDistribution",
                        "type": "select",
                        "label": "Feed Distribution",
                        "required": true,
                        "validate": {
                            "enum": [
                                "MAIN_FEED",
                                "NONE"
                            ]
                        }
                    },
                    {
                        "name": "isReshareDisabledByAuthor",
                        "type": "boolean",
                        "label": "Is Reshare Disabled",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "scenario-service:ReturnData",
            "version": 2,
            "parameters": {},
            "mapper": {
                "Info": "Se ha creado correctamente"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {},
                "expect": [
                    {
                        "name": "Info",
                        "type": "text",
                        "label": "",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    },
    "io": {
        "input_spec": [
            {
                "help": "URL de la imagen creada",
                "name": "URL_Imagen",
                "type": "text",
                "label": "",
                "default": "",
                "required": true,
                "multiline": false
            },
            {
                "help": "Publicación creada para LinkedIn",
                "name": "Publicacion",
                "type": "text",
                "label": "",
                "default": "",
                "required": true,
                "multiline": false
            }
        ],
        "output_spec": [
            {
                "help": "Se ha publicado exitosamente",
                "name": "Info",
                "type": "text",
                "label": "",
                "default": "",
                "required": true,
                "multiline": false
            }
        ]
    }
}