assets/workflows/3458/Hook & Script Generator 2_2 (1).json
{
    "name": "Hook & Script Generator 2/2 💎",
    "flow": [
        {
            "id": 1,
            "module": "airtable:TriggerWatchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 1532818,
                "base": "appCBl841oYre2bry",
                "useColumnId": false,
                "table": "tblrx7AenCtqdxv9H",
                "config": {
                    "triggerField": "Last Modified Time",
                    "labelField": "Create Script? 👻"
                },
                "maxRecords": 10,
                "view": "",
                "formula": ""
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Airtable OAuth connection (User ID: usrWHZndszJIS5AWQ)",
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            }
                        },
                        "base": {
                            "label": "Shorts Database"
                        },
                        "table": {
                            "label": "Table 1"
                        },
                        "config": {
                            "nested": {
                                "triggerField": {
                                    "label": "Last Modified Time"
                                },
                                "labelField": {
                                    "label": "Create Script? 👻"
                                }
                            }
                        },
                        "view": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "config",
                        "type": "collection",
                        "label": "Trigger configuration",
                        "spec": [
                            {
                                "name": "triggerField",
                                "type": "select",
                                "label": "Trigger field",
                                "required": true
                            },
                            {
                                "name": "triggerField",
                                "type": "hidden"
                            },
                            {
                                "name": "labelField",
                                "type": "select",
                                "label": "Label field",
                                "required": true
                            }
                        ]
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "One liner 🥇",
                        "label": "One liner 🥇",
                        "type": "text",
                        "multiline": true
                    },
                    {
                        "name": "Overview 💎",
                        "label": "Overview 💎",
                        "type": "text"
                    },
                    {
                        "name": "Virality Score 🚀",
                        "label": "Virality Score 🚀",
                        "type": "text",
                        "multiline": true
                    },
                    {
                        "name": "Additional Data 📊",
                        "label": "Additional Data 📊",
                        "type": "text",
                        "multiline": true
                    },
                    {
                        "name": "URL 🔗",
                        "label": "URL 🔗",
                        "type": "text"
                    },
                    {
                        "name": "Create Script? 👻",
                        "label": "Create Script? 👻",
                        "type": "text"
                    },
                    {
                        "name": "Script 📈",
                        "label": "Script 📈",
                        "type": "text",
                        "multiline": true
                    },
                    {
                        "name": "Created Time",
                        "label": "Created Time",
                        "type": "date"
                    },
                    {
                        "name": "Last Modified Time",
                        "label": "Last Modified Time",
                        "type": "date"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "openai-gpt-3:sendMessageToAssistant",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1425946
            },
            "filter": {
                "name": "Approval 👍",
                "conditions": [
                    [
                        {
                            "a": "{{1.`Create Script? 👻`}}",
                            "o": "text:contain:ci",
                            "b": "create"
                        }
                    ]
                ]
            },
            "mapper": {
                "message": "{{1.`Overview 💎`}}",
                "role": "user",
                "assistantId": "asst_3aHVqAfjhMzKe84i0ueI9paP"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0,
                    "name": "VIRAL Hook Agent 🚀"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My OpenAI connection",
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            }
                        }
                    },
                    "expect": {
                        "assistantId": {
                            "mode": "chose",
                            "label": "VIRAL Hook Agent (Gen 2) 🚀 (gpt-4-turbo)"
                        },
                        "model": {
                            "mode": "chose"
                        },
                        "fileIds": {
                            "mode": "chose"
                        },
                        "tools": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "message",
                        "type": "text",
                        "label": "Message",
                        "required": true
                    },
                    {
                        "name": "role",
                        "type": "hidden",
                        "label": "Role"
                    },
                    {
                        "name": "assistantId",
                        "type": "select",
                        "label": "Assistant",
                        "required": true
                    },
                    {
                        "name": "threadId",
                        "type": "text",
                        "label": "Thread ID"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model"
                    },
                    {
                        "name": "fileIds",
                        "type": "array",
                        "label": "File IDs",
                        "validate": {
                            "maxItems": 10
                        },
                        "spec": {
                            "type": "select",
                            "label": "File ID",
                            "options": [],
                            "name": "value",
                            "dynamic": true
                        }
                    },
                    {
                        "name": "tools",
                        "type": "select",
                        "label": "Tools",
                        "multiple": true,
                        "validate": {
                            "enum": [
                                "retrieval",
                                "code_interpreter"
                            ]
                        }
                    },
                    {
                        "name": "instructions",
                        "type": "text",
                        "label": "Instructions"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "openai-gpt-3:sendMessageToAssistant",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1425946
            },
            "mapper": {
                "message": "{{1.`Overview 💎`}}{{1.`Additional Data 📊`}}",
                "role": "user",
                "assistantId": "asst_AOrIxmGMoBVmRIeDmV6BuvMY"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0,
                    "name": "VIRAL Script Generator 💎"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My OpenAI connection",
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            }
                        }
                    },
                    "expect": {
                        "assistantId": {
                            "mode": "chose",
                            "label": "VIRAL Script Generator (Gen 2) 💎 (gpt-4-turbo)"
                        },
                        "model": {
                            "mode": "chose"
                        },
                        "fileIds": {
                            "mode": "chose"
                        },
                        "tools": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "message",
                        "type": "text",
                        "label": "Message",
                        "required": true
                    },
                    {
                        "name": "role",
                        "type": "hidden",
                        "label": "Role"
                    },
                    {
                        "name": "assistantId",
                        "type": "select",
                        "label": "Assistant",
                        "required": true
                    },
                    {
                        "name": "threadId",
                        "type": "text",
                        "label": "Thread ID"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model"
                    },
                    {
                        "name": "fileIds",
                        "type": "array",
                        "label": "File IDs",
                        "validate": {
                            "maxItems": 10
                        },
                        "spec": {
                            "type": "select",
                            "label": "File ID",
                            "options": [],
                            "name": "value",
                            "dynamic": true
                        }
                    },
                    {
                        "name": "tools",
                        "type": "select",
                        "label": "Tools",
                        "multiple": true,
                        "validate": {
                            "enum": [
                                "retrieval",
                                "code_interpreter"
                            ]
                        }
                    },
                    {
                        "name": "instructions",
                        "type": "text",
                        "label": "Instructions"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "google-docs:appendADocument",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1416296
            },
            "mapper": {
                "choose": "dropdown",
                "destination": "drive",
                "document": "/19ck1MDz3D9w6NEkeK69wNvwe14aRtm2UbbOJVV3zCKs",
                "select": "document",
                "text": "{{2.result}}{{6.result}}"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "Google Connection (itssssjaaaack@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    },
                    "expect": {
                        "choose": {
                            "label": "By Dropdown"
                        },
                        "destination": {
                            "label": "My Drive"
                        },
                        "document": {
                            "path": [
                                "Shorts Scripts 🚀"
                            ]
                        },
                        "select": {
                            "label": "By appending to the body of document"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "choose",
                        "type": "select",
                        "label": "Select a Document",
                        "required": true,
                        "validate": {
                            "enum": [
                                "mapping",
                                "dropdown"
                            ]
                        }
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "document",
                        "type": "file",
                        "label": "Document ID",
                        "required": true
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Insert a Paragraph",
                        "required": true,
                        "validate": {
                            "enum": [
                                "location",
                                "document",
                                "segment"
                            ]
                        }
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Appended Text",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com"
    }
}