assets/workflows/1/#3 RSS feed -- Postagens de noticias.blueprint.json
{
    "name": "#3 RSS feed -> Postagens de noticias",
    "flow": [
        {
            "id": 27,
            "module": "telegram:WatchUpdates",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 1282193
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 450
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "InfotecBOT"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:telegramapi",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 21,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": true,
                "useNewZLibDeCompress": true
            },
            "mapper": {
                "ca": "",
                "qs": [],
                "url": "{{27.message.link_preview_options.url}}",
                "gzip": true,
                "method": "get",
                "headers": [],
                "timeout": "",
                "useMtls": false,
                "authPass": "",
                "authUser": "",
                "bodyType": "",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": false,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 450
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose"
                        },
                        "bodyType": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate"
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 24,
            "module": "regexp:Parser",
            "version": 1,
            "parameters": {
                "global": false,
                "pattern": "thumbnailUrl\":\"(https:\\/\\/[^\"]+?\\.(jpg|png|webp|jpeg))",
                "multiline": false,
                "sensitive": false,
                "singleline": true,
                "continueWhenNoRes": true
            },
            "mapper": {
                "text": "{{21.data}}"
            },
            "metadata": {
                "designer": {
                    "x": 616,
                    "y": 448
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "pattern",
                        "type": "text",
                        "label": "Pattern",
                        "required": true
                    },
                    {
                        "name": "global",
                        "type": "boolean",
                        "label": "Global match",
                        "required": true
                    },
                    {
                        "name": "sensitive",
                        "type": "boolean",
                        "label": "Case sensitive",
                        "required": true
                    },
                    {
                        "name": "multiline",
                        "type": "boolean",
                        "label": "Multiline",
                        "required": true
                    },
                    {
                        "name": "singleline",
                        "type": "boolean",
                        "label": "Singleline",
                        "required": true
                    },
                    {
                        "name": "continueWhenNoRes",
                        "type": "boolean",
                        "label": "Continue the execution of the route even if the module finds no matches",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text"
                    }
                ],
                "interface": [
                    {
                        "name": "$1",
                        "type": "text",
                        "label": "$1"
                    },
                    {
                        "name": "$2",
                        "type": "text",
                        "label": "$2"
                    }
                ]
            },
            "onerror": [
                {
                    "id": 32,
                    "module": "builtin:Ignore",
                    "version": 1,
                    "metadata": {
                        "designer": {
                            "x": 692,
                            "y": 261
                        }
                    }
                }
            ]
        },
        {
            "id": 19,
            "module": "http:ActionGetFile",
            "version": 3,
            "parameters": {
                "handleErrors": false
            },
            "mapper": {
                "url": "{{24.`$1`}}",
                "method": "get",
                "serializeUrl": false,
                "shareCookies": false
            },
            "metadata": {
                "designer": {
                    "x": 911,
                    "y": 447
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "hidden",
                        "label": "Method"
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    }
                ]
            },
            "onerror": [
                {
                    "id": 35,
                    "module": "builtin:Ignore",
                    "version": 1,
                    "metadata": {
                        "designer": {
                            "x": 969,
                            "y": 261
                        }
                    }
                }
            ]
        },
        {
            "id": 7,
            "module": "regexp:HTMLToText",
            "version": 1,
            "parameters": {},
            "mapper": {
                "html": "{{21.data}}",
                "newline": "lf",
                "uppercaseHeadings": true
            },
            "metadata": {
                "designer": {
                    "x": 1235,
                    "y": 458
                },
                "restore": {
                    "expect": {
                        "newline": {
                            "label": "LF (\\n) - Unix/Mac OS X"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "html",
                        "type": "text",
                        "label": "HTML"
                    },
                    {
                        "name": "newline",
                        "type": "select",
                        "label": "Line break",
                        "required": true,
                        "validate": {
                            "enum": [
                                "lf",
                                "crlf",
                                "cr"
                            ]
                        }
                    },
                    {
                        "name": "uppercaseHeadings",
                        "type": "boolean",
                        "label": "Uppercase headings",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 28,
            "module": "groq:chatCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 5170850
            },
            "mapper": {
                "model": "llama-3.1-8b-instant",
                "messages": [
                    {
                        "role": "system",
                        "content": "Você é um especialista em criação de postagens para redes sociais. Seu papel é transformar qualquer conteúdo em um texto cativante, envolvente e direto, adaptado para plataformas como Instagram, Telegram, LinkedIn e Facebook.\r\n\r\nVocê deve escrever como um redator experiente que domina técnicas de copywriting e storytelling. Use emojis com moderação, frases de impacto, linguagem emocional e perguntas que despertem curiosidade. Evite linguagem técnica e termos complicados.\r\n\r\nSempre encerre com uma chamada para ação pedindo para o usuario se inscrever no canal e ficar atento as notificações (\"Se inscreva\", \"Fique atento as notificações\", \"Leia as nossas postagens\", etc.).\r\n\r\nVocê nunca deve repetir o conteúdo bruto; seu trabalho é reescrever de forma atrativa, resumida e com impacto.\n\n\nNão adicione asteriscos nem aspas (** ou \"\")\r\n​"
                    },
                    {
                        "role": "user",
                        "content": "Crie uma publicação a partir do seguinte texto: {{7.text}}\n\nEstrutura do resumo (Não adicione títulos):\n\nUm título muito chamativo e que chame a atenção, Um breve resumo do texto\n\n3 pontos principais curtos, Conclusão e chamada à ação para que me sigam para saber mais conteúdo como este.\n\n\n\n4 hashtags ao final\n\nImportante:\n\nNão adicione títulos na estrutura;\nO texto deve ter emojis para torná-lo mais visual e atrativo para o público;\nNão adicione asteriscos nem aspas (* ou \" );\nO objetivo principal é fazer com que o leitor queira ler todo o texto."
                    }
                ],
                "max_tokens": "600",
                "response_format": "text"
            },
            "metadata": {
                "designer": {
                    "x": 1580,
                    "y": 452
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "llama-3.1-8b-instant"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "System"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                }
                            ]
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "groq"
                            },
                            "label": "Nova API Groq"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:groq",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "spec": [
                            {
                                "name": "role",
                                "type": "select",
                                "label": "Role",
                                "options": [
                                    {
                                        "label": "System",
                                        "value": "system"
                                    },
                                    {
                                        "label": "User",
                                        "value": "user"
                                    },
                                    {
                                        "label": "Assistant",
                                        "value": "assistant"
                                    }
                                ]
                            },
                            {
                                "name": "content",
                                "type": "text",
                                "label": "Content"
                            }
                        ],
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "number",
                        "label": "Max tokens returned"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature"
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty"
                    },
                    {
                        "name": "seed",
                        "type": "number",
                        "label": "Seed"
                    }
                ]
            }
        },
        {
            "id": 30,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 1231,
                    "y": 735
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 31,
                            "module": "linkedin:ShareImage",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 5170837
                            },
                            "mapper": {
                                "data": "{{19.data}}",
                                "content": "{{28.result}}\n\n\r\n🚀✨ Eu crio automações que publicam imagens, noticias e videos geradas por IA de forma totalmente automática! 🤖🎨\n\nSe quiser aprender, chama no Chat ou acesse nosso canal no telegram: \n https://t.me/Automarizzepro",
                                "fileName": "{{19.fileName}}",
                                "visibility": "PUBLIC",
                                "feedDistribution": "MAIN_FEED",
                                "isReshareDisabledByAuthor": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1571,
                                    "y": 734
                                },
                                "restore": {
                                    "expect": {
                                        "visibility": {
                                            "mode": "chose",
                                            "label": "Public"
                                        },
                                        "feedDistribution": {
                                            "mode": "chose",
                                            "label": "Main feed"
                                        },
                                        "isReshareDisabledByAuthor": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "linkedin2"
                                            },
                                            "label": "Linkedin (Gleisson Santos)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:linkedin2,linkedin-openid",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "fileName",
                                        "type": "text",
                                        "label": "File name",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Data",
                                        "required": true
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "altText",
                                        "type": "text",
                                        "label": "Alt Text"
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content",
                                        "required": true
                                    },
                                    {
                                        "name": "visibility",
                                        "type": "select",
                                        "label": "Visibility",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "PUBLIC",
                                                "CONNECTIONS",
                                                "LOGGED_IN"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "feedDistribution",
                                        "type": "select",
                                        "label": "Feed Distribution",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "MAIN_FEED",
                                                "NONE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "isReshareDisabledByAuthor",
                                        "type": "boolean",
                                        "label": "Is Reshare Disabled",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 37,
                            "module": "dropbox:uploadLargeFile",
                            "version": 5,
                            "parameters": {
                                "__IMTCONN__": 2997026
                            },
                            "mapper": {
                                "data": "{{19.data}}",
                                "path": "/Prompts",
                                "filename": "foto.jpg",
                                "overwrite": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1250,
                                    "y": 1017
                                },
                                "restore": {
                                    "expect": {
                                        "path": {
                                            "mode": "chose"
                                        },
                                        "overwrite": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "dropbox"
                                            },
                                            "label": "My Dropbox connection (jsgleisson@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:dropbox",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "path",
                                        "type": "folder",
                                        "label": "Folder",
                                        "required": true
                                    },
                                    {
                                        "name": "filename",
                                        "type": "filename",
                                        "label": "File Name",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Data",
                                        "required": true
                                    },
                                    {
                                        "name": "overwrite",
                                        "type": "boolean",
                                        "label": "Overwrite an existing file",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 38,
                            "module": "dropbox:createShareLink",
                            "version": 5,
                            "parameters": {
                                "__IMTCONN__": 2997026
                            },
                            "mapper": {
                                "path": "{{37.path_lower}}",
                                "select": "map",
                                "settings": {
                                    "access": "max"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1581,
                                    "y": 1003
                                },
                                "restore": {
                                    "expect": {
                                        "select": {
                                            "label": "Map a file/folder path"
                                        },
                                        "settings": {
                                            "nested": {
                                                "access": {
                                                    "mode": "chose",
                                                    "label": "Max Access"
                                                },
                                                "allow_download": {
                                                    "mode": "chose"
                                                },
                                                "require_password": {
                                                    "mode": "chose"
                                                },
                                                "requested_visibility": {
                                                    "mode": "chose",
                                                    "label": "Empty"
                                                }
                                            }
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "dropbox"
                                            },
                                            "label": "My Dropbox connection (jsgleisson@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:dropbox",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Way of selecting files",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "map",
                                                "file"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "settings",
                                        "spec": [
                                            {
                                                "name": "access",
                                                "type": "select",
                                                "label": "Link's Access Level",
                                                "validate": {
                                                    "enum": [
                                                        "viewer",
                                                        "editor",
                                                        "max"
                                                    ]
                                                }
                                            },
                                            {
                                                "name": "expires",
                                                "time": true,
                                                "type": "date",
                                                "label": "Link's Expiration Date"
                                            },
                                            {
                                                "name": "require_password",
                                                "type": "boolean",
                                                "label": "Require Password"
                                            },
                                            {
                                                "name": "link_password",
                                                "type": "text",
                                                "label": "Link's Password"
                                            },
                                            {
                                                "name": "allow_download",
                                                "type": "boolean",
                                                "label": "Allow Download"
                                            },
                                            {
                                                "name": "requested_visibility",
                                                "type": "select",
                                                "label": "Requested Visibility (Deprecated)",
                                                "validate": {
                                                    "enum": [
                                                        "public",
                                                        "team_only",
                                                        "password"
                                                    ]
                                                }
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Settings"
                                    },
                                    {
                                        "name": "path",
                                        "type": "text",
                                        "label": "File Path",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 39,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 1843,
                                    "y": 995
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 40,
                                            "module": "instagram-business:CreatePostPhoto",
                                            "version": 1,
                                            "parameters": {
                                                "__IMTCONN__": 5171832
                                            },
                                            "mapper": {
                                                "caption": "{{28.result}}\n\nEssa noticia foi pro ar sem um único clique.  \nZero edição. Zero postagem manual.  \nTudo rodando num fluxo inteligente que trabalha enquanto você dorme.\n\nQuer aprender a criar isso ou já levar o projeto pronto?  \nComenta **\"Eu quero\"** aqui embaixo. 👇  \nNão ensino duas vezes.\n\n#foryou #automatizacao #trabalhointeligente #sucessoemoff #semclicar",
                                                "accountId": "17841450047208466",
                                                "image_url": "{{38.downloadUrl}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2139,
                                                    "y": 1002
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "accountId": {
                                                            "mode": "chose",
                                                            "label": "Automatizze Pro (@thiagoferrazzi)"
                                                        },
                                                        "user_tags": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "facebook"
                                                            },
                                                            "label": "Nova 2.0 (Gleisson Santos)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:facebook",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "accountId",
                                                        "type": "select",
                                                        "label": "Page",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "image_url",
                                                        "type": "url",
                                                        "label": "Photo URL",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "caption",
                                                        "type": "text",
                                                        "label": "Caption"
                                                    },
                                                    {
                                                        "name": "user_tags",
                                                        "spec": [
                                                            {
                                                                "name": "username",
                                                                "type": "text",
                                                                "label": "Username",
                                                                "required": true,
                                                                "validate": {
                                                                    "pattern": "^(?!@)"
                                                                }
                                                            },
                                                            {
                                                                "name": "x",
                                                                "type": "number",
                                                                "label": "X position",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 1,
                                                                    "min": 0
                                                                }
                                                            },
                                                            {
                                                                "name": "y",
                                                                "type": "number",
                                                                "label": "Y position",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 1,
                                                                    "min": 0
                                                                }
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "User Tags"
                                                    },
                                                    {
                                                        "name": "location_id",
                                                        "type": "text",
                                                        "label": "Location ID"
                                                    },
                                                    {
                                                        "name": "accountId",
                                                        "type": "select",
                                                        "label": "Page",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "image_url",
                                                        "type": "url",
                                                        "label": "Photo URL",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "caption",
                                                        "type": "text",
                                                        "label": "Caption"
                                                    },
                                                    {
                                                        "name": "user_tags",
                                                        "spec": [
                                                            {
                                                                "name": "username",
                                                                "type": "text",
                                                                "label": "Username",
                                                                "required": true,
                                                                "validate": {
                                                                    "pattern": "^(?!@)"
                                                                }
                                                            },
                                                            {
                                                                "name": "x",
                                                                "type": "number",
                                                                "label": "X position",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 1,
                                                                    "min": 0
                                                                }
                                                            },
                                                            {
                                                                "name": "y",
                                                                "type": "number",
                                                                "label": "Y position",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 1,
                                                                    "min": 0
                                                                }
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "User Tags"
                                                    },
                                                    {
                                                        "name": "location_id",
                                                        "type": "text",
                                                        "label": "Location ID"
                                                    }
                                                ]
                                            },
                                            "onerror": [
                                                {
                                                    "id": 41,
                                                    "module": "builtin:Ignore",
                                                    "version": 1,
                                                    "metadata": {
                                                        "designer": {
                                                            "x": 2104,
                                                            "y": 1242
                                                        }
                                                    }
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}