assets/workflows/1/#9 Asaas Cobrança Mensal.blueprint.json
{
    "name": "#9 Asaas Cobrança Mensal",
    "flow": [
        {
            "id": 27,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 905719,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 600
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "My gateway-webhook webhook"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 56,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "Texto",
                        "value": "{{27.message}}"
                    },
                    {
                        "name": "Audio",
                        "value": "{{27.file.data}}"
                    },
                    {
                        "name": "Id telefone ",
                        "value": "{{27.number}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 600
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        },
                        "variables": {
                            "items": [
                                null,
                                null,
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "Texto",
                        "type": "any",
                        "label": "Texto"
                    },
                    {
                        "name": "Audio",
                        "type": "any",
                        "label": "Audio"
                    },
                    {
                        "name": "Id telefone ",
                        "type": "any",
                        "label": "Id telefone "
                    }
                ]
            }
        },
        {
            "id": 37,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 600
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 38,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "Text Message",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{56.Texto}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "name": "mensaje",
                                "scope": "roundtrip",
                                "value": "{{56.Texto}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "mensaje",
                                        "type": "any",
                                        "label": "mensaje"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 58,
                            "module": "dropbox:uploadLargeFile",
                            "version": 5,
                            "parameters": {
                                "__IMTCONN__": 2724266
                            },
                            "filter": {
                                "name": "audio",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{56.Audio}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "data": "{{56.Audio}}",
                                "path": "/Prompts",
                                "filename": "{{27.file.name}}",
                                "overwrite": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "path": {
                                            "mode": "chose"
                                        },
                                        "overwrite": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "dropbox"
                                            },
                                            "label": "My Dropbox connection (saude.emforma7@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:dropbox",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "path",
                                        "type": "folder",
                                        "label": "Folder",
                                        "required": true
                                    },
                                    {
                                        "name": "filename",
                                        "type": "filename",
                                        "label": "File Name",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Data",
                                        "required": true
                                    },
                                    {
                                        "name": "overwrite",
                                        "type": "boolean",
                                        "label": "Overwrite an existing file",
                                        "required": true
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 40,
                            "module": "openai-gpt-3:CreateTranscription",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 3767239
                            },
                            "mapper": {
                                "model": "whisper-1",
                                "fileData": "{{56.Audio}}",
                                "fileName": "{{58.name}}",
                                "language": "pt",
                                "temperature": "1",
                                "response_format": "text"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 300,
                                    "name": "Transcribe Audio"
                                },
                                "restore": {
                                    "expect": {
                                        "model": {
                                            "mode": "chose",
                                            "label": "whisper-1",
                                            "nested": [
                                                {
                                                    "name": "response_format",
                                                    "type": "select",
                                                    "label": "Response Format",
                                                    "default": "json",
                                                    "options": [
                                                        {
                                                            "label": "JSON",
                                                            "value": "json"
                                                        },
                                                        {
                                                            "label": "Text",
                                                            "value": "text"
                                                        },
                                                        {
                                                            "label": "SRT",
                                                            "value": "srt"
                                                        },
                                                        {
                                                            "label": "Verbose JSON",
                                                            "value": "verbose_json"
                                                        },
                                                        {
                                                            "label": "VTT",
                                                            "value": "vtt"
                                                        }
                                                    ]
                                                }
                                            ]
                                        },
                                        "response_format": {
                                            "mode": "chose",
                                            "label": "Text"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "openai-gpt-3"
                                            },
                                            "label": "My OpenAI connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:openai-gpt-3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "fileName",
                                        "type": "filename",
                                        "label": "File Name",
                                        "required": true
                                    },
                                    {
                                        "name": "fileData",
                                        "type": "buffer",
                                        "label": "File Data",
                                        "required": true
                                    },
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "Model",
                                        "required": true
                                    },
                                    {
                                        "name": "prompt",
                                        "type": "text",
                                        "label": "Prompt"
                                    },
                                    {
                                        "name": "temperature",
                                        "type": "number",
                                        "label": "Temperature",
                                        "validate": {
                                            "max": 1,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "language",
                                        "type": "text",
                                        "label": "Language"
                                    },
                                    {
                                        "name": "response_format",
                                        "type": "select",
                                        "label": "Response Format",
                                        "validate": {
                                            "enum": [
                                                "json",
                                                "text",
                                                "srt",
                                                "verbose_json",
                                                "vtt"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 41,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "mensaje",
                                "scope": "roundtrip",
                                "value": "{{40.text}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 300
                                }
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 45,
                            "module": "util:GetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "mensaje"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 900,
                                    "name": "Get Message"
                                }
                            }
                        },
                        {
                            "id": 46,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "currentDate",
                                "scope": "roundtrip",
                                "value": "{{formatDate(now; \"YYYYMMDD_HHmmss\")}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 900
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "currentDate",
                                        "type": "any",
                                        "label": "currentDate"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 62,
                            "module": "datastore:GetRecord",
                            "version": 1,
                            "parameters": {
                                "datastore": 18731
                            },
                            "mapper": {
                                "key": "{{56.`Id telefone `}}",
                                "returnWrapped": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 900
                                },
                                "restore": {
                                    "parameters": {
                                        "datastore": {
                                            "label": "TelegramMediaGroups"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key",
                                        "required": true
                                    },
                                    {
                                        "name": "returnWrapped",
                                        "type": "boolean",
                                        "label": "Return Wrapped Output",
                                        "required": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key"
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "help": "",
                                                "name": "id",
                                                "type": "text",
                                                "label": null,
                                                "default": null,
                                                "required": false,
                                                "multiline": false
                                            },
                                            {
                                                "help": "",
                                                "name": "Thred",
                                                "type": "text",
                                                "label": null,
                                                "default": null,
                                                "required": false,
                                                "multiline": false
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 63,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 900
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 64,
                                            "module": "openai-gpt-3:messageAssistantAdvanced",
                                            "version": 1,
                                            "parameters": {
                                                "__IMTCONN__": 3767239
                                            },
                                            "filter": {
                                                "name": "Não possui Thread ",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{62.key}}",
                                                            "o": "notexist"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "role": "user",
                                                "message": "{{45.mensaje}}",
                                                "assistantId": "asst_29ziT0ZTcWhkRysHBqnSMuly"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2100,
                                                    "y": 750
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "role": {
                                                            "label": "User"
                                                        },
                                                        "model": {
                                                            "mode": "chose"
                                                        },
                                                        "tools": {
                                                            "mode": "chose"
                                                        },
                                                        "image_urls": {
                                                            "mode": "chose"
                                                        },
                                                        "assistantId": {
                                                            "mode": "chose",
                                                            "label": "Agente Raul (gpt-4o-mini)",
                                                            "nested": []
                                                        },
                                                        "image_files": {
                                                            "mode": "chose"
                                                        },
                                                        "tool_choice": {
                                                            "mode": "chose",
                                                            "label": "Empty"
                                                        },
                                                        "response_format": {
                                                            "mode": "chose",
                                                            "label": "Empty"
                                                        },
                                                        "truncation_strategy": {
                                                            "mode": "chose",
                                                            "label": "Empty"
                                                        },
                                                        "file_search_resources": {
                                                            "mode": "chose"
                                                        },
                                                        "code_interpreter_resources": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "openai-gpt-3"
                                                            },
                                                            "label": "My OpenAI connection"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:openai-gpt-3",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "assistantId",
                                                        "type": "select",
                                                        "label": "Assistant",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "role",
                                                        "type": "select",
                                                        "label": "Role",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "user",
                                                                "assistant"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "threadId",
                                                        "type": "text",
                                                        "label": "Thread ID"
                                                    },
                                                    {
                                                        "name": "model",
                                                        "type": "select",
                                                        "label": "Model"
                                                    },
                                                    {
                                                        "name": "tools",
                                                        "type": "select",
                                                        "label": "Tools",
                                                        "multiple": true,
                                                        "validate": {
                                                            "enum": [
                                                                "file_search",
                                                                "code_interpreter"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "file_search_resources",
                                                        "type": "select",
                                                        "label": "File Search Resources"
                                                    },
                                                    {
                                                        "name": "code_interpreter_resources",
                                                        "type": "select",
                                                        "label": "Code Interpreter Resources",
                                                        "multiple": true,
                                                        "validate": {
                                                            "maxItems": 20
                                                        }
                                                    },
                                                    {
                                                        "name": "tool_choice",
                                                        "type": "select",
                                                        "label": "Tool Choice",
                                                        "validate": {
                                                            "enum": [
                                                                "none",
                                                                "auto",
                                                                "required",
                                                                "file_search",
                                                                "code_interpreter",
                                                                "function"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "instructions",
                                                        "type": "text",
                                                        "label": "Instructions"
                                                    },
                                                    {
                                                        "name": "max_prompt_tokens",
                                                        "type": "uinteger",
                                                        "label": "Max Prompt Tokens"
                                                    },
                                                    {
                                                        "name": "max_completion_tokens",
                                                        "type": "uinteger",
                                                        "label": "Max Completion Tokens"
                                                    },
                                                    {
                                                        "name": "temperature",
                                                        "type": "number",
                                                        "label": "Temperature",
                                                        "validate": {
                                                            "max": 2,
                                                            "min": 0
                                                        }
                                                    },
                                                    {
                                                        "name": "top_p",
                                                        "type": "number",
                                                        "label": "Top P",
                                                        "validate": {
                                                            "max": 1,
                                                            "min": 0
                                                        }
                                                    },
                                                    {
                                                        "name": "response_format",
                                                        "type": "select",
                                                        "label": "Response Format",
                                                        "validate": {
                                                            "enum": [
                                                                "auto",
                                                                "json_object",
                                                                "text"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "truncation_strategy",
                                                        "type": "select",
                                                        "label": "Truncation Strategy",
                                                        "validate": {
                                                            "enum": [
                                                                "auto",
                                                                "last_messages"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "message",
                                                        "type": "text",
                                                        "label": "Message",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "image_files",
                                                        "type": "select",
                                                        "label": "Image Files",
                                                        "multiple": true
                                                    },
                                                    {
                                                        "name": "image_urls",
                                                        "spec": {
                                                            "name": "value",
                                                            "type": "url",
                                                            "label": "Image URL",
                                                            "required": true
                                                        },
                                                        "type": "array",
                                                        "label": "Image URLs"
                                                    }
                                                ],
                                                "advanced": true
                                            }
                                        },
                                        {
                                            "id": 65,
                                            "module": "datastore:AddRecord",
                                            "version": 1,
                                            "parameters": {
                                                "datastore": 18731
                                            },
                                            "mapper": {
                                                "key": "{{56.`Id telefone `}}",
                                                "data": {
                                                    "id": "{{56.`Id telefone `}}",
                                                    "Thred": "{{64.thread_id}}"
                                                },
                                                "overwrite": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2400,
                                                    "y": 750
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "overwrite": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "datastore": {
                                                            "label": "TelegramMediaGroups"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "datastore",
                                                        "type": "datastore",
                                                        "label": "Data store",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "key",
                                                        "type": "text",
                                                        "label": "Key"
                                                    },
                                                    {
                                                        "name": "overwrite",
                                                        "type": "boolean",
                                                        "label": "Overwrite an existing record",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "data",
                                                        "spec": [
                                                            {
                                                                "name": "id",
                                                                "type": "text",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "Thred",
                                                                "type": "text",
                                                                "label": null
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Record"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 77,
                                            "module": "builtin:BasicRouter",
                                            "version": 1,
                                            "parameters": {
                                                "else": 0
                                            },
                                            "mapper": null,
                                            "metadata": {
                                                "designer": {
                                                    "x": 2700,
                                                    "y": 750
                                                }
                                            },
                                            "routes": [
                                                {
                                                    "flow": [
                                                        {
                                                            "id": 68,
                                                            "module": "json:ParseJSON",
                                                            "version": 1,
                                                            "parameters": {
                                                                "type": ""
                                                            },
                                                            "filter": {
                                                                "name": "outros",
                                                                "conditions": []
                                                            },
                                                            "mapper": {
                                                                "json": "{{64.result}}"
                                                            },
                                                            "metadata": {
                                                                "designer": {
                                                                    "x": 3000,
                                                                    "y": 600
                                                                },
                                                                "restore": {
                                                                    "parameters": {
                                                                        "type": {
                                                                            "label": "Choose a data structure"
                                                                        }
                                                                    }
                                                                },
                                                                "parameters": [
                                                                    {
                                                                        "name": "type",
                                                                        "type": "udt",
                                                                        "label": "Data structure"
                                                                    }
                                                                ],
                                                                "expect": [
                                                                    {
                                                                        "name": "json",
                                                                        "type": "text",
                                                                        "label": "JSON string",
                                                                        "required": true
                                                                    }
                                                                ]
                                                            }
                                                        },
                                                        {
                                                            "id": 55,
                                                            "module": "http:ActionSendData",
                                                            "version": 3,
                                                            "parameters": {
                                                                "handleErrors": true,
                                                                "useNewZLibDeCompress": true
                                                            },
                                                            "mapper": {
                                                                "ca": "",
                                                                "qs": [],
                                                                "url": "http://52.14.7.71:3000/send",
                                                                "data": "{\r\n  \"number\": \"{{56.`Id telefone `}}\",\r\n  \"message\": \"{{68.mensagem}}\"\n}",
                                                                "gzip": true,
                                                                "method": "post",
                                                                "headers": [
                                                                    {
                                                                        "name": "Content-Type",
                                                                        "value": "application/json"
                                                                    }
                                                                ],
                                                                "timeout": "30",
                                                                "useMtls": false,
                                                                "authPass": "",
                                                                "authUser": "",
                                                                "bodyType": "raw",
                                                                "contentType": "application/json",
                                                                "serializeUrl": false,
                                                                "shareCookies": false,
                                                                "parseResponse": true,
                                                                "followRedirect": true,
                                                                "useQuerystring": false,
                                                                "followAllRedirects": false,
                                                                "rejectUnauthorized": true
                                                            },
                                                            "metadata": {
                                                                "designer": {
                                                                    "x": 3300,
                                                                    "y": 600,
                                                                    "name": "Send WhatsApp Response"
                                                                },
                                                                "restore": {
                                                                    "expect": {
                                                                        "qs": {
                                                                            "mode": "chose"
                                                                        },
                                                                        "method": {
                                                                            "mode": "chose",
                                                                            "label": "POST"
                                                                        },
                                                                        "headers": {
                                                                            "mode": "chose",
                                                                            "items": [
                                                                                null
                                                                            ]
                                                                        },
                                                                        "bodyType": {
                                                                            "label": "Raw"
                                                                        },
                                                                        "contentType": {
                                                                            "label": "JSON (application/json)"
                                                                        }
                                                                    }
                                                                },
                                                                "parameters": [
                                                                    {
                                                                        "name": "handleErrors",
                                                                        "type": "boolean",
                                                                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "useNewZLibDeCompress",
                                                                        "type": "hidden"
                                                                    }
                                                                ],
                                                                "expect": [
                                                                    {
                                                                        "name": "url",
                                                                        "type": "url",
                                                                        "label": "URL",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "serializeUrl",
                                                                        "type": "boolean",
                                                                        "label": "Serialize URL",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "method",
                                                                        "type": "select",
                                                                        "label": "Method",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "enum": [
                                                                                "get",
                                                                                "head",
                                                                                "post",
                                                                                "put",
                                                                                "patch",
                                                                                "delete",
                                                                                "options"
                                                                            ]
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "headers",
                                                                        "spec": [
                                                                            {
                                                                                "name": "name",
                                                                                "type": "text",
                                                                                "label": "Name",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "value",
                                                                                "type": "text",
                                                                                "label": "Value"
                                                                            }
                                                                        ],
                                                                        "type": "array",
                                                                        "label": "Headers"
                                                                    },
                                                                    {
                                                                        "name": "qs",
                                                                        "spec": [
                                                                            {
                                                                                "name": "name",
                                                                                "type": "text",
                                                                                "label": "Name",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "value",
                                                                                "type": "text",
                                                                                "label": "Value"
                                                                            }
                                                                        ],
                                                                        "type": "array",
                                                                        "label": "Query String"
                                                                    },
                                                                    {
                                                                        "name": "bodyType",
                                                                        "type": "select",
                                                                        "label": "Body type",
                                                                        "validate": {
                                                                            "enum": [
                                                                                "raw",
                                                                                "x_www_form_urlencoded",
                                                                                "multipart_form_data"
                                                                            ]
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "parseResponse",
                                                                        "type": "boolean",
                                                                        "label": "Parse response",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "authUser",
                                                                        "type": "text",
                                                                        "label": "User name"
                                                                    },
                                                                    {
                                                                        "name": "authPass",
                                                                        "type": "password",
                                                                        "label": "Password"
                                                                    },
                                                                    {
                                                                        "name": "timeout",
                                                                        "type": "uinteger",
                                                                        "label": "Timeout",
                                                                        "validate": {
                                                                            "max": 300,
                                                                            "min": 1
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "shareCookies",
                                                                        "type": "boolean",
                                                                        "label": "Share cookies with other HTTP modules",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "ca",
                                                                        "type": "cert",
                                                                        "label": "Self-signed certificate"
                                                                    },
                                                                    {
                                                                        "name": "rejectUnauthorized",
                                                                        "type": "boolean",
                                                                        "label": "Reject connections that are using unverified (self-signed) certificates",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "followRedirect",
                                                                        "type": "boolean",
                                                                        "label": "Follow redirect",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "useQuerystring",
                                                                        "type": "boolean",
                                                                        "label": "Disable serialization of multiple same query string keys as arrays",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "gzip",
                                                                        "type": "boolean",
                                                                        "label": "Request compressed content",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "useMtls",
                                                                        "type": "boolean",
                                                                        "label": "Use Mutual TLS",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "contentType",
                                                                        "type": "select",
                                                                        "label": "Content type",
                                                                        "validate": {
                                                                            "enum": [
                                                                                "text/plain",
                                                                                "application/json",
                                                                                "application/xml",
                                                                                "text/xml",
                                                                                "text/html",
                                                                                "custom"
                                                                            ]
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "data",
                                                                        "type": "buffer",
                                                                        "label": "Request content"
                                                                    },
                                                                    {
                                                                        "name": "followAllRedirects",
                                                                        "type": "boolean",
                                                                        "label": "Follow all redirect",
                                                                        "required": true
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    ]
                                                },
                                                {
                                                    "flow": [
                                                        {
                                                            "id": 80,
                                                            "module": "http:ActionSendData",
                                                            "version": 3,
                                                            "parameters": {
                                                                "handleErrors": true,
                                                                "useNewZLibDeCompress": true
                                                            },
                                                            "filter": {
                                                                "name": "Inicio",
                                                                "conditions": [
                                                                    [
                                                                        {
                                                                            "a": "{{64.result}}",
                                                                            "b": "Olá, meu nome é Zaia, Sou especialista em Fisiologia e vou te ajudar.",
                                                                            "o": "text:startwith"
                                                                        }
                                                                    ]
                                                                ]
                                                            },
                                                            "mapper": {
                                                                "ca": "",
                                                                "qs": [],
                                                                "url": "http://52.14.7.71:3000/send",
                                                                "data": "{\r\n  \"number\": \"{{56.`Id telefone `}}\",\r\n  \"message\": \"{{64.result}}\"\n}",
                                                                "gzip": true,
                                                                "method": "post",
                                                                "headers": [
                                                                    {
                                                                        "name": "Content-Type",
                                                                        "value": "application/json"
                                                                    }
                                                                ],
                                                                "timeout": "30",
                                                                "useMtls": false,
                                                                "authPass": "",
                                                                "authUser": "",
                                                                "bodyType": "raw",
                                                                "contentType": "application/json",
                                                                "serializeUrl": false,
                                                                "shareCookies": false,
                                                                "parseResponse": true,
                                                                "followRedirect": true,
                                                                "useQuerystring": false,
                                                                "followAllRedirects": false,
                                                                "rejectUnauthorized": true
                                                            },
                                                            "metadata": {
                                                                "designer": {
                                                                    "x": 3000,
                                                                    "y": 900,
                                                                    "name": "Send WhatsApp Response"
                                                                },
                                                                "restore": {
                                                                    "expect": {
                                                                        "qs": {
                                                                            "mode": "chose"
                                                                        },
                                                                        "method": {
                                                                            "mode": "chose",
                                                                            "label": "POST"
                                                                        },
                                                                        "headers": {
                                                                            "mode": "chose",
                                                                            "items": [
                                                                                null
                                                                            ]
                                                                        },
                                                                        "bodyType": {
                                                                            "label": "Raw"
                                                                        },
                                                                        "contentType": {
                                                                            "label": "JSON (application/json)"
                                                                        }
                                                                    }
                                                                },
                                                                "parameters": [
                                                                    {
                                                                        "name": "handleErrors",
                                                                        "type": "boolean",
                                                                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "useNewZLibDeCompress",
                                                                        "type": "hidden"
                                                                    }
                                                                ],
                                                                "expect": [
                                                                    {
                                                                        "name": "url",
                                                                        "type": "url",
                                                                        "label": "URL",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "serializeUrl",
                                                                        "type": "boolean",
                                                                        "label": "Serialize URL",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "method",
                                                                        "type": "select",
                                                                        "label": "Method",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "enum": [
                                                                                "get",
                                                                                "head",
                                                                                "post",
                                                                                "put",
                                                                                "patch",
                                                                                "delete",
                                                                                "options"
                                                                            ]
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "headers",
                                                                        "spec": [
                                                                            {
                                                                                "name": "name",
                                                                                "type": "text",
                                                                                "label": "Name",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "value",
                                                                                "type": "text",
                                                                                "label": "Value"
                                                                            }
                                                                        ],
                                                                        "type": "array",
                                                                        "label": "Headers"
                                                                    },
                                                                    {
                                                                        "name": "qs",
                                                                        "spec": [
                                                                            {
                                                                                "name": "name",
                                                                                "type": "text",
                                                                                "label": "Name",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "value",
                                                                                "type": "text",
                                                                                "label": "Value"
                                                                            }
                                                                        ],
                                                                        "type": "array",
                                                                        "label": "Query String"
                                                                    },
                                                                    {
                                                                        "name": "bodyType",
                                                                        "type": "select",
                                                                        "label": "Body type",
                                                                        "validate": {
                                                                            "enum": [
                                                                                "raw",
                                                                                "x_www_form_urlencoded",
                                                                                "multipart_form_data"
                                                                            ]
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "parseResponse",
                                                                        "type": "boolean",
                                                                        "label": "Parse response",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "authUser",
                                                                        "type": "text",
                                                                        "label": "User name"
                                                                    },
                                                                    {
                                                                        "name": "authPass",
                                                                        "type": "password",
                                                                        "label": "Password"
                                                                    },
                                                                    {
                                                                        "name": "timeout",
                                                                        "type": "uinteger",
                                                                        "label": "Timeout",
                                                                        "validate": {
                                                                            "max": 300,
                                                                            "min": 1
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "shareCookies",
                                                                        "type": "boolean",
                                                                        "label": "Share cookies with other HTTP modules",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "ca",
                                                                        "type": "cert",
                                                                        "label": "Self-signed certificate"
                                                                    },
                                                                    {
                                                                        "name": "rejectUnauthorized",
                                                                        "type": "boolean",
                                                                        "label": "Reject connections that are using unverified (self-signed) certificates",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "followRedirect",
                                                                        "type": "boolean",
                                                                        "label": "Follow redirect",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "useQuerystring",
                                                                        "type": "boolean",
                                                                        "label": "Disable serialization of multiple same query string keys as arrays",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "gzip",
                                                                        "type": "boolean",
                                                                        "label": "Request compressed content",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "useMtls",
                                                                        "type": "boolean",
                                                                        "label": "Use Mutual TLS",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "contentType",
                                                                        "type": "select",
                                                                        "label": "Content type",
                                                                        "validate": {
                                                                            "enum": [
                                                                                "text/plain",
                                                                                "application/json",
                                                                                "application/xml",
                                                                                "text/xml",
                                                                                "text/html",
                                                                                "custom"
                                                                            ]
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "data",
                                                                        "type": "buffer",
                                                                        "label": "Request content"
                                                                    },
                                                                    {
                                                                        "name": "followAllRedirects",
                                                                        "type": "boolean",
                                                                        "label": "Follow all redirect",
                                                                        "required": true
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 61,
                                            "module": "openai-gpt-3:messageAssistantAdvanced",
                                            "version": 1,
                                            "parameters": {
                                                "__IMTCONN__": 3767239
                                            },
                                            "filter": {
                                                "name": "Possui Thread ",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{62.key}}",
                                                            "o": "exist"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "role": "user",
                                                "message": "{{45.mensaje}}",
                                                "threadId": "{{62.data.Thred}}",
                                                "assistantId": "asst_29ziT0ZTcWhkRysHBqnSMuly"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2100,
                                                    "y": 1200
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "role": {
                                                            "label": "User"
                                                        },
                                                        "model": {
                                                            "mode": "chose"
                                                        },
                                                        "tools": {
                                                            "mode": "chose"
                                                        },
                                                        "image_urls": {
                                                            "mode": "chose"
                                                        },
                                                        "assistantId": {
                                                            "mode": "chose",
                                                            "label": "Agente Raul (gpt-4o-mini)",
                                                            "nested": []
                                                        },
                                                        "image_files": {
                                                            "mode": "chose"
                                                        },
                                                        "tool_choice": {
                                                            "mode": "chose",
                                                            "label": "Empty"
                                                        },
                                                        "response_format": {
                                                            "mode": "chose",
                                                            "label": "Empty"
                                                        },
                                                        "truncation_strategy": {
                                                            "mode": "chose",
                                                            "label": "Empty"
                                                        },
                                                        "file_search_resources": {
                                                            "mode": "chose"
                                                        },
                                                        "code_interpreter_resources": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "openai-gpt-3"
                                                            },
                                                            "label": "My OpenAI connection"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:openai-gpt-3",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "assistantId",
                                                        "type": "select",
                                                        "label": "Assistant",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "role",
                                                        "type": "select",
                                                        "label": "Role",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "user",
                                                                "assistant"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "threadId",
                                                        "type": "text",
                                                        "label": "Thread ID"
                                                    },
                                                    {
                                                        "name": "model",
                                                        "type": "select",
                                                        "label": "Model"
                                                    },
                                                    {
                                                        "name": "tools",
                                                        "type": "select",
                                                        "label": "Tools",
                                                        "multiple": true,
                                                        "validate": {
                                                            "enum": [
                                                                "file_search",
                                                                "code_interpreter"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "file_search_resources",
                                                        "type": "select",
                                                        "label": "File Search Resources"
                                                    },
                                                    {
                                                        "name": "code_interpreter_resources",
                                                        "type": "select",
                                                        "label": "Code Interpreter Resources",
                                                        "multiple": true,
                                                        "validate": {
                                                            "maxItems": 20
                                                        }
                                                    },
                                                    {
                                                        "name": "tool_choice",
                                                        "type": "select",
                                                        "label": "Tool Choice",
                                                        "validate": {
                                                            "enum": [
                                                                "none",
                                                                "auto",
                                                                "required",
                                                                "file_search",
                                                                "code_interpreter",
                                                                "function"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "instructions",
                                                        "type": "text",
                                                        "label": "Instructions"
                                                    },
                                                    {
                                                        "name": "max_prompt_tokens",
                                                        "type": "uinteger",
                                                        "label": "Max Prompt Tokens"
                                                    },
                                                    {
                                                        "name": "max_completion_tokens",
                                                        "type": "uinteger",
                                                        "label": "Max Completion Tokens"
                                                    },
                                                    {
                                                        "name": "temperature",
                                                        "type": "number",
                                                        "label": "Temperature",
                                                        "validate": {
                                                            "max": 2,
                                                            "min": 0
                                                        }
                                                    },
                                                    {
                                                        "name": "top_p",
                                                        "type": "number",
                                                        "label": "Top P",
                                                        "validate": {
                                                            "max": 1,
                                                            "min": 0
                                                        }
                                                    },
                                                    {
                                                        "name": "response_format",
                                                        "type": "select",
                                                        "label": "Response Format",
                                                        "validate": {
                                                            "enum": [
                                                                "auto",
                                                                "json_object",
                                                                "text"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "truncation_strategy",
                                                        "type": "select",
                                                        "label": "Truncation Strategy",
                                                        "validate": {
                                                            "enum": [
                                                                "auto",
                                                                "last_messages"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "message",
                                                        "type": "text",
                                                        "label": "Message",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "image_files",
                                                        "type": "select",
                                                        "label": "Image Files",
                                                        "multiple": true
                                                    },
                                                    {
                                                        "name": "image_urls",
                                                        "spec": {
                                                            "name": "value",
                                                            "type": "url",
                                                            "label": "Image URL",
                                                            "required": true
                                                        },
                                                        "type": "array",
                                                        "label": "Image URLs"
                                                    }
                                                ],
                                                "advanced": true
                                            }
                                        },
                                        {
                                            "id": 87,
                                            "module": "json:ParseJSON",
                                            "version": 1,
                                            "parameters": {
                                                "type": ""
                                            },
                                            "mapper": {
                                                "json": "{{61.result}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2400,
                                                    "y": 1200
                                                },
                                                "restore": {
                                                    "parameters": {
                                                        "type": {
                                                            "label": "Choose a data structure"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "type",
                                                        "type": "udt",
                                                        "label": "Data structure"
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "json",
                                                        "type": "text",
                                                        "label": "JSON string",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 88,
                                            "module": "util:SetVariable2",
                                            "version": 1,
                                            "parameters": {},
                                            "mapper": {
                                                "name": "sads",
                                                "scope": "roundtrip",
                                                "value": "{{replace(replace(61.result; \"\"\"\\n\"\"\"; \"\"\"\\\\n\"\"\"); \"\"\"\\\"\"\"\"\"; \" \"\"\\\\\\\"\"\"\"\")}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2700,
                                                    "y": 1200
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "scope": {
                                                            "label": "One cycle"
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Variable name",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "scope",
                                                        "type": "select",
                                                        "label": "Variable lifetime",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "roundtrip",
                                                                "execution"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "value",
                                                        "type": "any",
                                                        "label": "Variable value"
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "sads",
                                                        "type": "any",
                                                        "label": "sads"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 74,
                                            "module": "http:ActionSendData",
                                            "version": 3,
                                            "parameters": {
                                                "handleErrors": true,
                                                "useNewZLibDeCompress": true
                                            },
                                            "mapper": {
                                                "ca": "",
                                                "qs": [],
                                                "url": "http://52.14.7.71:3000/send",
                                                "data": "{\r\n  \"number\": \"{{56.`Id telefone `}}\",\r\n  \"message\": \"{{88.sads}}\"\n}",
                                                "gzip": true,
                                                "method": "post",
                                                "headers": [
                                                    {
                                                        "name": "Content-Type",
                                                        "value": "application/json"
                                                    }
                                                ],
                                                "timeout": "30",
                                                "useMtls": false,
                                                "authPass": "",
                                                "authUser": "",
                                                "bodyType": "raw",
                                                "contentType": "application/json",
                                                "serializeUrl": false,
                                                "shareCookies": false,
                                                "parseResponse": true,
                                                "followRedirect": true,
                                                "useQuerystring": false,
                                                "followAllRedirects": false,
                                                "rejectUnauthorized": true
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 3000,
                                                    "y": 1200,
                                                    "name": "Send WhatsApp Response"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "qs": {
                                                            "mode": "chose"
                                                        },
                                                        "method": {
                                                            "mode": "chose",
                                                            "label": "POST"
                                                        },
                                                        "headers": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null
                                                            ]
                                                        },
                                                        "bodyType": {
                                                            "label": "Raw"
                                                        },
                                                        "contentType": {
                                                            "label": "JSON (application/json)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "handleErrors",
                                                        "type": "boolean",
                                                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useNewZLibDeCompress",
                                                        "type": "hidden"
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "url",
                                                        "type": "url",
                                                        "label": "URL",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "serializeUrl",
                                                        "type": "boolean",
                                                        "label": "Serialize URL",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "method",
                                                        "type": "select",
                                                        "label": "Method",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "get",
                                                                "head",
                                                                "post",
                                                                "put",
                                                                "patch",
                                                                "delete",
                                                                "options"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "headers",
                                                        "spec": [
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Headers"
                                                    },
                                                    {
                                                        "name": "qs",
                                                        "spec": [
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Query String"
                                                    },
                                                    {
                                                        "name": "bodyType",
                                                        "type": "select",
                                                        "label": "Body type",
                                                        "validate": {
                                                            "enum": [
                                                                "raw",
                                                                "x_www_form_urlencoded",
                                                                "multipart_form_data"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "parseResponse",
                                                        "type": "boolean",
                                                        "label": "Parse response",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "authUser",
                                                        "type": "text",
                                                        "label": "User name"
                                                    },
                                                    {
                                                        "name": "authPass",
                                                        "type": "password",
                                                        "label": "Password"
                                                    },
                                                    {
                                                        "name": "timeout",
                                                        "type": "uinteger",
                                                        "label": "Timeout",
                                                        "validate": {
                                                            "max": 300,
                                                            "min": 1
                                                        }
                                                    },
                                                    {
                                                        "name": "shareCookies",
                                                        "type": "boolean",
                                                        "label": "Share cookies with other HTTP modules",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "ca",
                                                        "type": "cert",
                                                        "label": "Self-signed certificate"
                                                    },
                                                    {
                                                        "name": "rejectUnauthorized",
                                                        "type": "boolean",
                                                        "label": "Reject connections that are using unverified (self-signed) certificates",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "followRedirect",
                                                        "type": "boolean",
                                                        "label": "Follow redirect",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useQuerystring",
                                                        "type": "boolean",
                                                        "label": "Disable serialization of multiple same query string keys as arrays",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "gzip",
                                                        "type": "boolean",
                                                        "label": "Request compressed content",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useMtls",
                                                        "type": "boolean",
                                                        "label": "Use Mutual TLS",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "contentType",
                                                        "type": "select",
                                                        "label": "Content type",
                                                        "validate": {
                                                            "enum": [
                                                                "text/plain",
                                                                "application/json",
                                                                "application/xml",
                                                                "text/xml",
                                                                "text/html",
                                                                "custom"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "data",
                                                        "type": "buffer",
                                                        "label": "Request content"
                                                    },
                                                    {
                                                        "name": "followAllRedirects",
                                                        "type": "boolean",
                                                        "label": "Follow all redirect",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}