assets/workflows/938/Telegram Video to Instagram Reels.blueprint.json
{
    "name": "Telegram Video to Instagram Reels",
    "flow": [
        {
            "id": 1,
            "module": "telegram:WatchUpdates",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 1282507
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "Video"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:telegramapi",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": false,
                "useNewZLibDeCompress": true
            },
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{1.message.video.file_size}}",
                            "b": "2816541",
                            "o": "number:less"
                        }
                    ]
                ]
            },
            "mapper": {
                "ca": "",
                "qs": [],
                "url": "https://api.telegram.org/bot5248679768:AAGgqiP74XuvAvtMnIEXvsmes8VviBvFiaM/getFile?file_id={{1.message.video.file_id}}",
                "data": "",
                "gzip": true,
                "method": "get",
                "headers": [],
                "timeout": "300",
                "useMtls": false,
                "authPass": "",
                "authUser": "",
                "bodyType": "raw",
                "contentType": "",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": false,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose",
                            "collapsed": true
                        },
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose",
                            "collapsed": true
                        },
                        "bodyType": {
                            "label": "Raw"
                        },
                        "contentType": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate"
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content type",
                        "validate": {
                            "enum": [
                                "text/plain",
                                "application/json",
                                "application/xml",
                                "text/xml",
                                "text/html",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Request content"
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 314,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": ""
            },
            "mapper": {
                "json": "{{3.data}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "Choose a data structure"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 315,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "url",
                "scope": "roundtrip",
                "value": "https://api.telegram.org/file/bot5248679768:AAGgqiP74XuvAvtMnIEXvsmes8VviBvFiaM/{{314.result.file_path}}"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "url",
                        "type": "any",
                        "label": "url"
                    }
                ]
            }
        },
        {
            "id": 309,
            "module": "http:ActionGetFile",
            "version": 3,
            "parameters": {
                "handleErrors": false
            },
            "mapper": {
                "url": "{{315.url}}",
                "method": "get",
                "serializeUrl": false,
                "shareCookies": false
            },
            "metadata": {
                "designer": {
                    "x": 1148,
                    "y": 8
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "hidden",
                        "label": "Method"
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "filename",
                "scope": "roundtrip",
                "value": "video_{{formatDate(now; \"YYYY-MM-DD_HH-mm-ss\")}}.mp4"
            },
            "metadata": {
                "designer": {
                    "x": 1468,
                    "y": 13
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "filename",
                        "type": "any",
                        "label": "filename"
                    }
                ]
            }
        },
        {
            "id": 312,
            "module": "dropbox:uploadLargeFile",
            "version": 5,
            "parameters": {
                "__IMTCONN__": 2994421
            },
            "mapper": {
                "data": "{{309.data}}",
                "path": "/VIDEO TEMP",
                "filename": "{{4.filename}}",
                "overwrite": false
            },
            "metadata": {
                "designer": {
                    "x": -13,
                    "y": 572
                },
                "restore": {
                    "expect": {
                        "path": {
                            "mode": "edit"
                        },
                        "overwrite": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "dropbox"
                            },
                            "label": "My Dropbox connection (jsgleisson@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:dropbox",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "path",
                        "type": "folder",
                        "label": "Folder",
                        "required": true
                    },
                    {
                        "name": "filename",
                        "type": "filename",
                        "label": "File Name",
                        "required": true
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "overwrite",
                        "type": "boolean",
                        "label": "Overwrite an existing file",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 316,
            "module": "dropbox:createShareLink",
            "version": 5,
            "parameters": {
                "__IMTCONN__": 2994421
            },
            "mapper": {
                "path": "{{312.path_display}}",
                "select": "map",
                "settings": {
                    "access": "max"
                }
            },
            "metadata": {
                "designer": {
                    "x": 296,
                    "y": 561
                },
                "restore": {
                    "expect": {
                        "select": {
                            "label": "Map a file/folder path"
                        },
                        "settings": {
                            "nested": {
                                "access": {
                                    "mode": "chose",
                                    "label": "Max Access"
                                },
                                "allow_download": {
                                    "mode": "chose"
                                },
                                "require_password": {
                                    "mode": "chose"
                                },
                                "requested_visibility": {
                                    "mode": "chose",
                                    "label": "Empty"
                                }
                            }
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "dropbox"
                            },
                            "label": "My Dropbox connection (jsgleisson@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:dropbox",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Way of selecting files",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "file"
                            ]
                        }
                    },
                    {
                        "name": "settings",
                        "spec": [
                            {
                                "name": "access",
                                "type": "select",
                                "label": "Link's Access Level",
                                "validate": {
                                    "enum": [
                                        "viewer",
                                        "editor",
                                        "max"
                                    ]
                                }
                            },
                            {
                                "name": "expires",
                                "time": true,
                                "type": "date",
                                "label": "Link's Expiration Date"
                            },
                            {
                                "name": "require_password",
                                "type": "boolean",
                                "label": "Require Password"
                            },
                            {
                                "name": "link_password",
                                "type": "text",
                                "label": "Link's Password"
                            },
                            {
                                "name": "allow_download",
                                "type": "boolean",
                                "label": "Allow Download"
                            },
                            {
                                "name": "requested_visibility",
                                "type": "select",
                                "label": "Requested Visibility (Deprecated)",
                                "validate": {
                                    "enum": [
                                        "public",
                                        "team_only",
                                        "password"
                                    ]
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Settings"
                    },
                    {
                        "name": "path",
                        "type": "text",
                        "label": "File Path",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 318,
            "module": "groq:chatCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2777268
            },
            "mapper": {
                "model": "llama-3.3-70b-versatile",
                "messages": [
                    {
                        "role": "system",
                        "content": "Crie uma legenda curta e direta, com no máximo 3 linhas, descrevendo o conteúdo do vídeo de forma envolvente e objetiva.\nApós a descrição, adicione uma CTA rápida para incentivar o engajamento, como: \"Confira agora!\", \"Não perca!\" ou \"Assista até o fim!\".\nFinalize sempre com hashtags relevantes como: #veo3 #ia #automação.\n\nRegras importantes:\n\nNunca forneça opinião ou comentário pessoal.\nnão comente nada por exemplo :\"Aqui está a legenda curta e direta para o vídeo\" ou algo similar.\r\n\n\nNunca explique o vídeo além do necessário.\n\nAlterne o estilo da descrição a cada vídeo para evitar repetições.\n\nSaída final = descrição curta + CTA + hashtags.\n\nExemplo de saída esperada:\n\n\"Transforme suas ideias em realidade com IA em segundos! 🚀\nConfira agora e inspire-se!\nDigita \"ia\" que mando o projeto\n#veo3 #ia #automação\" #make #n8n"
                    }
                ],
                "max_tokens": "2048",
                "response_format": "text"
            },
            "metadata": {
                "designer": {
                    "x": 615,
                    "y": 557
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "llama-3.3-70b-versatile"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "System"
                                    }
                                }
                            ]
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "groq"
                            },
                            "label": "Automação News"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:groq",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "spec": [
                            {
                                "name": "role",
                                "type": "select",
                                "label": "Role",
                                "options": [
                                    {
                                        "label": "System",
                                        "value": "system"
                                    },
                                    {
                                        "label": "User",
                                        "value": "user"
                                    },
                                    {
                                        "label": "Assistant",
                                        "value": "assistant"
                                    }
                                ]
                            },
                            {
                                "name": "content",
                                "type": "text",
                                "label": "Content"
                            }
                        ],
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "number",
                        "label": "Max tokens returned"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature"
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty"
                    },
                    {
                        "name": "seed",
                        "type": "number",
                        "label": "Seed"
                    }
                ]
            }
        },
        {
            "id": 313,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 908,
                    "y": 547
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 317,
                            "module": "instagram-business:CreateAReelPost",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 5172502
                            },
                            "mapper": {
                                "caption": "{{318.result}}",
                                "accountId": "17841450047208466",
                                "video_url": "{{316.downloadUrl}}",
                                "share_to_feed": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1451,
                                    "y": 260
                                },
                                "restore": {
                                    "expect": {
                                        "accountId": {
                                            "mode": "chose",
                                            "label": "Automatizze Pro (@thiagoferrazzi)"
                                        },
                                        "share_to_feed": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "facebook"
                                            },
                                            "label": "My Facebook connection (Gleisson Santos)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:facebook",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "accountId",
                                        "type": "select",
                                        "label": "Page",
                                        "required": true
                                    },
                                    {
                                        "name": "video_url",
                                        "type": "url",
                                        "label": "Video URL",
                                        "required": true
                                    },
                                    {
                                        "name": "caption",
                                        "type": "text",
                                        "label": "Caption"
                                    },
                                    {
                                        "name": "thumb_offset",
                                        "type": "number",
                                        "label": "Cover Frame"
                                    },
                                    {
                                        "name": "location_id",
                                        "type": "text",
                                        "label": "Location ID"
                                    },
                                    {
                                        "name": "share_to_feed",
                                        "type": "boolean",
                                        "label": "Share to Feed",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 331,
                            "module": "linkedin:createVideoPost",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 2962631
                            },
                            "mapper": {
                                "video": "{{309.data}}",
                                "content": "🧠 ⬇️:\n\n{{318.result}}\n\nEsse vídeo foi pro ar sem um único clique. \r\nZero edição. Zero postagem manual. \r\nTudo rodando num fluxo inteligente que trabalha enquanto você dorme. \r\n \nQuer aprender a criar isso ou já levar o projeto pronto?  \n📩 comenta \"Eu quero\"!  aqui embaixo. 👇  \nNão ensino duas vezes.\n",
                                "videoName": "{{309.fileName}}",
                                "visibility": "PUBLIC",
                                "feedDistribution": "MAIN_FEED",
                                "isReshareDisabledByAuthor": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1439,
                                    "y": 742
                                },
                                "restore": {
                                    "expect": {
                                        "visibility": {
                                            "mode": "chose",
                                            "label": "Public"
                                        },
                                        "feedDistribution": {
                                            "mode": "chose",
                                            "label": "Main Feed"
                                        },
                                        "isReshareDisabledByAuthor": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "linkedin-openid"
                                            },
                                            "label": "My LinkedIn (OpenID Connect) connection (Gleisson Santos)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:linkedin2,linkedin-openid",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "videoName",
                                        "type": "text",
                                        "label": "File Name",
                                        "required": true
                                    },
                                    {
                                        "name": "video",
                                        "type": "buffer",
                                        "label": "Video",
                                        "required": true
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content",
                                        "required": true
                                    },
                                    {
                                        "name": "visibility",
                                        "type": "select",
                                        "label": "Visibility",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "PUBLIC",
                                                "CONNECTIONS",
                                                "LOGGED_IN"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "feedDistribution",
                                        "type": "select",
                                        "label": "Feed Distribution",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "MAIN_FEED",
                                                "NONE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "isReshareDisabledByAuthor",
                                        "type": "boolean",
                                        "label": "Is Reshare Disabled",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 330,
                            "module": "telegram:SendVideo",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 5172244
                            },
                            "mapper": {
                                "data": "{{309.data}}",
                                "width": "",
                                "chatId": "@Automarizzepro",
                                "height": "",
                                "caption": "🧠 ⬇️:\n```\n{{318.result}}\n\nEsse vídeo foi pro ar sem um único clique. \r\nZero edição. Zero postagem manual. \r\nQuer aprender a criar isso ou já levar o projeto pronto? \r\n📩 comenta \"Eu quero\"! aqui embaixo. 👇 \r\nNão ensino duas vezes.```\n\n\n",
                                "duration": "",
                                "filename": "{{312.name}}",
                                "sendType": "send_bydata",
                                "parseMode": "Markdown",
                                "contentType": "",
                                "replyMarkup": "",
                                "messageThreadId": "13441",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1454,
                                    "y": 491
                                },
                                "restore": {
                                    "expect": {
                                        "sendType": {
                                            "label": "Data"
                                        },
                                        "parseMode": {
                                            "label": "Markdown"
                                        },
                                        "contentType": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "VideoBot"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "caption",
                                        "type": "text",
                                        "label": "Caption"
                                    },
                                    {
                                        "name": "sendType",
                                        "type": "select",
                                        "label": "Send by",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "send_bydata",
                                                "send_byurl",
                                                "send_byid"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Content Type"
                                    },
                                    {
                                        "name": "duration",
                                        "type": "number",
                                        "label": "Duration"
                                    },
                                    {
                                        "name": "width",
                                        "type": "number",
                                        "label": "Width"
                                    },
                                    {
                                        "name": "height",
                                        "type": "number",
                                        "label": "Height"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "filename",
                                        "type": "text",
                                        "label": "File Name",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Data",
                                        "required": true
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 332,
                                    "module": "builtin:Ignore",
                                    "version": 1,
                                    "metadata": {
                                        "designer": {
                                            "x": 1701,
                                            "y": 455
                                        }
                                    }
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": [
            {
                "moduleIds": [
                    1
                ],
                "content": "<p>Show, se quiser mais detalhes ou duvidas, basta acessar nosso canal no Telegram com dezenas de projetos Make e N8N:</p><p></p><p>https://t.me/Automarizzepro</p>",
                "isFilterNote": false,
                "metadata": {
                    "color": "#9138FE"
                }
            },
            {
                "moduleIds": [
                    317
                ],
                "content": "<p>Show, se quiser mais detalhes ou duvidas, basta acessar nosso canal no Telegram com dezenas de projetos Make e N8N:</p><p></p><p>https://t.me/Automarizzepro</p>",
                "isFilterNote": false,
                "metadata": {
                    "color": "#9138FE"
                }
            },
            {
                "moduleIds": [
                    330
                ],
                "content": "<p>Show, se quiser mais detalhes ou duvidas, basta acessar nosso canal no Telegram com dezenas de projetos Make e N8N:</p><p></p><p>https://t.me/Automarizzepro</p>",
                "isFilterNote": false,
                "metadata": {
                    "color": "#9138FE"
                }
            },
            {
                "moduleIds": [
                    331
                ],
                "content": "<p>Show, se quiser mais detalhes ou duvidas, basta acessar nosso canal no Telegram com dezenas de projetos Make e N8N:</p><p></p><p>https://t.me/Automarizzepro</p>",
                "isFilterNote": false,
                "metadata": {
                    "color": "#9138FE"
                }
            }
        ]
    }
}