assets/workflows/8342/blueprint (8).json
{
    "name": "nm22-1 - Fisico Nutricionista - Integration Webhooks, Groq",
    "flow": [
        {
            "id": 15,
            "module": "google-drive:watchFilesInAFolder",
            "version": 4,
            "parameters": {
                "limit": 1,
                "select": "create",
                "folderId": "/1_fy1_yXH5rIpsaBzJA-rfDHcEoJ4zsfG",
                "mimeType": "all",
                "__IMTCONN__": 3010309,
                "destination": "drive"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "select": {
                            "label": "By Created Time"
                        },
                        "folderId": {
                            "path": [
                                "RAG"
                            ]
                        },
                        "mimeType": {
                            "label": "All"
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "My Google Restricted TDS (inematds@gmail.com)"
                        },
                        "destination": {
                            "label": "My Drive"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "type": "hidden"
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Watch Files",
                        "required": true,
                        "validate": {
                            "enum": [
                                "create",
                                "modify"
                            ]
                        }
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "mimeType",
                        "type": "select",
                        "label": "File Types to Watch",
                        "required": true,
                        "validate": {
                            "enum": [
                                "all",
                                "document",
                                "spreadsheet",
                                "slide",
                                "drawing"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "Select the Folder to be Watched",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "google-drive:getAFile",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 3010309
            },
            "mapper": {
                "file": "{{15.id}}",
                "select": "map",
                "formatDrawings": "image/jpeg",
                "formatDocuments": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                "formatSpreadsheets": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                "formatPresentations": "application/vnd.openxmlformats-officedocument.presentationml.presentation"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "select": {
                            "label": "Enter manually"
                        },
                        "formatDrawings": {
                            "label": "JPEG"
                        },
                        "formatDocuments": {
                            "label": "MS Word Document"
                        },
                        "formatSpreadsheets": {
                            "label": "MS Excel"
                        },
                        "formatPresentations": {
                            "label": "MS PowerPoint"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "My Google Restricted TDS (inematds@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "type": "hidden"
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Enter a File ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "value"
                            ]
                        }
                    },
                    {
                        "name": "formatDocuments",
                        "type": "select",
                        "label": "Convert Google Documents Files to Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                                "application/pdf",
                                "application/vnd.oasis.opendocument.text",
                                "text/html",
                                "text/plain",
                                "application/rtf"
                            ]
                        }
                    },
                    {
                        "name": "formatSpreadsheets",
                        "type": "select",
                        "label": "Convert Google Spreadsheets Files to Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                                "application/x-vnd.oasis.opendocument.spreadsheet",
                                "application/pdf"
                            ]
                        }
                    },
                    {
                        "name": "formatPresentations",
                        "type": "select",
                        "label": "Convert Google Slides Files to Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "application/vnd.openxmlformats-officedocument.presentationml.presentation",
                                "application/pdf"
                            ]
                        }
                    },
                    {
                        "name": "formatDrawings",
                        "type": "select",
                        "label": "Convert Google Drawings Files to Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "image/jpeg",
                                "image/png",
                                "image/svg+xml",
                                "application/pdf"
                            ]
                        }
                    },
                    {
                        "name": "file",
                        "type": "text",
                        "label": "File ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 16,
            "module": "dumplingai:docToText",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2506300
            },
            "mapper": {
                "file": "{{base64(9.data)}}",
                "inputMethod": "base64"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "inputMethod": {
                            "mode": "chose",
                            "label": "Base64"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "dumplingai"
                            },
                            "label": "ftd Dumpling (Make.com Integration)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:dumplingai",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "inputMethod",
                        "type": "select",
                        "label": "File Input Method",
                        "validate": {
                            "enum": [
                                "url",
                                "base64"
                            ]
                        }
                    },
                    {
                        "name": "file",
                        "type": "any",
                        "label": "File"
                    },
                    {
                        "name": "pages",
                        "type": "text",
                        "label": "Pages"
                    }
                ]
            },
            "onerror": [
                {
                    "id": 17,
                    "module": "builtin:Resume",
                    "version": 1,
                    "parameters": {},
                    "mapper": {
                        "text": ""
                    },
                    "metadata": {
                        "designer": {
                            "x": 900,
                            "y": 300
                        },
                        "restore": {},
                        "expect": [
                            {
                                "name": "text",
                                "type": "text"
                            }
                        ]
                    }
                }
            ]
        },
        {
            "id": 18,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "Text",
                        "value": "{{replace(replace(replace(replace(replace(replace(replace(16.text; \"/\\n/g\"; space); \"/\\r/g\"; space); \"/\\t/g\"; space); \"/\\f/g\"; space); \"/\\//g\"; \"/\"); \"/\\\\/g\"; \"\\\\\"); \"/\"\"/g\"; \"\\\"\"\")}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        },
                        "variables": {
                            "items": [
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "Text",
                        "type": "any",
                        "label": "Text"
                    }
                ]
            }
        },
        {
            "id": 19,
            "module": "openai-gpt-3:makeApiCall",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 237783
            },
            "mapper": {
                "url": "/v1/embeddings",
                "body": "{\n  \"input\": \"{{18.Text}}\",\n  \"model\": \"text-embedding-3-small\",\n  \"encoding_format\": \"float\"\n}",
                "method": "POST",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/json"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0,
                    "name": "Embeddings 🔥"
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "GET",
                                "POST",
                                "PUT",
                                "PATCH",
                                "DELETE"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Key"
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Header"
                        },
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Key"
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Query String"
                        },
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    }
                ]
            }
        },
        {
            "id": 20,
            "module": "pinecone:upsertVector",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3091602
            },
            "mapper": {
                "id": "{{9.id}}{{9.id}}",
                "values": "{{19.body.data[].embedding}}",
                "metadata": [
                    {
                        "fieldName": "content",
                        "fieldType": "string",
                        "fieldValue": "{{16.text}}"
                    },
                    {
                        "fieldName": "title",
                        "fieldType": "string",
                        "fieldValue": "{{9.name}}"
                    }
                ],
                "sparseVector": {}
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "values": {
                            "mode": "edit"
                        },
                        "metadata": {
                            "mode": "chose",
                            "items": [
                                {
                                    "fieldType": {
                                        "mode": "chose",
                                        "label": "String"
                                    }
                                },
                                {
                                    "fieldType": {
                                        "mode": "chose",
                                        "label": "String"
                                    }
                                }
                            ]
                        },
                        "sparseVector": {
                            "nested": {
                                "values": {
                                    "mode": "chose"
                                },
                                "indices": {
                                    "mode": "chose"
                                }
                            }
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "pinecone"
                            },
                            "label": "My Pinecone  aula make "
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:pinecone",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Vector ID",
                        "required": true
                    },
                    {
                        "name": "values",
                        "spec": {
                            "name": "value",
                            "type": "number",
                            "label": "Value"
                        },
                        "type": "array",
                        "label": "Values",
                        "required": true
                    },
                    {
                        "name": "sparseVector",
                        "spec": [
                            {
                                "name": "indices",
                                "spec": {
                                    "name": "value",
                                    "type": "integer",
                                    "label": "Index"
                                },
                                "type": "array",
                                "label": "Indices"
                            },
                            {
                                "name": "values",
                                "spec": {
                                    "name": "value",
                                    "type": "number",
                                    "label": "Value"
                                },
                                "type": "array",
                                "label": "Values"
                            }
                        ],
                        "type": "collection",
                        "label": "Sparse Vector"
                    },
                    {
                        "name": "metadata",
                        "spec": [
                            {
                                "name": "fieldName",
                                "type": "text",
                                "label": "Key",
                                "required": true
                            },
                            {
                                "name": "fieldType",
                                "type": "select",
                                "label": "Type",
                                "options": [
                                    {
                                        "label": "String",
                                        "value": "string",
                                        "nested": [
                                            {
                                                "name": "fieldValue",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Number",
                                        "value": "number",
                                        "nested": [
                                            {
                                                "name": "fieldValue",
                                                "type": "number",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Boolean",
                                        "value": "boolean",
                                        "nested": [
                                            {
                                                "name": "fieldValue",
                                                "type": "boolean",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "label": "List",
                                        "value": "list",
                                        "nested": [
                                            {
                                                "name": "fieldValue",
                                                "spec": {
                                                    "type": "text",
                                                    "label": "Value"
                                                },
                                                "type": "array",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ]
                                    }
                                ],
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Metadata"
                    },
                    {
                        "name": "namespace",
                        "type": "text",
                        "label": "Namespace"
                    }
                ]
            },
            "onerror": [
                {
                    "id": 21,
                    "module": "builtin:Ignore",
                    "version": 1,
                    "metadata": {
                        "designer": {
                            "x": 1800,
                            "y": 0
                        }
                    }
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}