assets/workflows/3444/Scenario 2 🧨  (1).json
{
    "name": "Scenario 2 🔮",
    "flow": [
        {
            "id": 1,
            "module": "google-sheets:watchUpdatedCells",
            "version": 2,
            "parameters": {
                "__IMTHOOK__": 485748
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "work together webhook 🔮"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:google-sheets2",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "openai-gpt-3:sendMessageToAssistant",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1425946
            },
            "mapper": {
                "role": "user",
                "message": "{{1.rangeA1Notation}}",
                "assistantId": "asst_TSGIWIRZ9QRnDWFhublz79Ua"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "tools": {
                            "mode": "chose"
                        },
                        "fileIds": {
                            "mode": "chose"
                        },
                        "assistantId": {
                            "mode": "chose",
                            "label": "Google Sheets (find the approval column) 🤖  (gpt-4-turbo)"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "message",
                        "type": "text",
                        "label": "Message",
                        "required": true
                    },
                    {
                        "name": "role",
                        "type": "hidden",
                        "label": "Role"
                    },
                    {
                        "name": "assistantId",
                        "type": "select",
                        "label": "Assistant",
                        "required": true
                    },
                    {
                        "name": "threadId",
                        "type": "text",
                        "label": "Thread ID"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model"
                    },
                    {
                        "name": "fileIds",
                        "spec": {
                            "name": "value",
                            "type": "select",
                            "label": "File ID",
                            "dynamic": true,
                            "options": []
                        },
                        "type": "array",
                        "label": "File IDs",
                        "validate": {
                            "maxItems": 10
                        }
                    },
                    {
                        "name": "tools",
                        "type": "select",
                        "label": "Tools",
                        "multiple": true,
                        "validate": {
                            "enum": [
                                "retrieval",
                                "code_interpreter"
                            ]
                        }
                    },
                    {
                        "name": "instructions",
                        "type": "text",
                        "label": "Instructions"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "google-sheets:getCell",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 1416296
            },
            "mapper": {
                "cell": "{{3.result}}",
                "from": "drive",
                "select": "list",
                "sheetId": "Sheet1",
                "spreadsheetId": "/18n6H1I7BB21rsLN6--NkosP2gDwern2n4mNnd7TH6C0",
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "My Drive"
                        },
                        "select": {
                            "label": "Select from the list"
                        },
                        "sheetId": {
                            "label": "Sheet1"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Create Together Automation 🔮"
                            ]
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "Google Connection (itssssjaaaack@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Enter a Spreadsheet and Sheet ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "fromAll",
                                "list"
                            ]
                        }
                    },
                    {
                        "name": "cell",
                        "type": "text",
                        "label": "Cell",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "google-sheets:getCell",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 1416296
            },
            "filter": {
                "name": "Approved 👍",
                "conditions": [
                    [
                        {
                            "a": "{{4.value}}",
                            "b": "Approved",
                            "o": "text:contain:ci"
                        }
                    ]
                ]
            },
            "mapper": {
                "cell": "{{1.rangeA1Notation}}",
                "from": "drive",
                "select": "list",
                "sheetId": "Sheet1",
                "spreadsheetId": "/18n6H1I7BB21rsLN6--NkosP2gDwern2n4mNnd7TH6C0",
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "My Drive"
                        },
                        "select": {
                            "label": "Select from the list"
                        },
                        "sheetId": {
                            "label": "Sheet1"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Create Together Automation 🔮"
                            ]
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "Google Connection (itssssjaaaack@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Enter a Spreadsheet and Sheet ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "fromAll",
                                "list"
                            ]
                        }
                    },
                    {
                        "name": "cell",
                        "type": "text",
                        "label": "Cell",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "openai-gpt-3:GenerateImage",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1425946
            },
            "mapper": {
                "size": "1024x1024",
                "model": "dall-e-3",
                "style": "vivid",
                "prompt": "Dimensions: 1200x1200 pixels \n\nCreate an image in the neoclassical style for this data:\n\n{{5.value}}\n\nThis is characterized by its clarity, harmony, and balance, often depicting scenes from classical antiquity. The image may include mythological heroes and gods. ",
                "quality": "standard",
                "response_format": "url"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "size": {
                            "mode": "chose",
                            "label": "1024x1024"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "Dall-E 3"
                        },
                        "style": {
                            "mode": "chose",
                            "label": "Vivid"
                        },
                        "quality": {
                            "mode": "chose",
                            "label": "Standard"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "URL"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true,
                        "validate": {
                            "enum": [
                                "dall-e-3",
                                "dall-e-2"
                            ]
                        }
                    },
                    {
                        "name": "prompt",
                        "type": "text",
                        "label": "Prompt",
                        "required": true,
                        "validate": {
                            "max": 4000,
                            "min": 0
                        }
                    },
                    {
                        "name": "size",
                        "type": "select",
                        "label": "Size",
                        "validate": {
                            "enum": [
                                "1024x1024",
                                "1792x1024",
                                "1024x1792"
                            ]
                        }
                    },
                    {
                        "name": "quality",
                        "type": "select",
                        "label": "Quality",
                        "validate": {
                            "enum": [
                                "standard",
                                "hd"
                            ]
                        }
                    },
                    {
                        "name": "style",
                        "type": "select",
                        "label": "Style",
                        "validate": {
                            "enum": [
                                "vivid",
                                "natural"
                            ]
                        }
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "url",
                                "imageFile"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "data",
                        "spec": [
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "revised_prompt",
                                "type": "text",
                                "label": "Revised Prompt"
                            }
                        ],
                        "type": "array",
                        "label": "Data"
                    },
                    {
                        "name": "resImgName",
                        "type": "text",
                        "label": "Response Image Name",
                        "semantic": "file:name"
                    },
                    {
                        "name": "resImgData",
                        "type": "buffer",
                        "label": "Response Image Data",
                        "semantic": "file:data"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "http:ActionGetFile",
            "version": 3,
            "parameters": {
                "handleErrors": false
            },
            "mapper": {
                "url": "{{6.data[].url}}",
                "method": "get",
                "serializeUrl": false,
                "shareCookies": false
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "hidden",
                        "label": "Method"
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "linkedin:ShareImage",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 1427607
            },
            "filter": {
                "name": "Final Check",
                "conditions": [
                    [
                        {
                            "a": "",
                            "b": "Approved",
                            "o": "text:notstartwith:ci"
                        }
                    ]
                ]
            },
            "mapper": {
                "data": "{{7.data}}",
                "content": "{{5.value}}",
                "fileName": "{{7.fileName}}",
                "visibility": "PUBLIC",
                "feedDistribution": "MAIN_FEED",
                "isReshareDisabledByAuthor": false
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "visibility": {
                            "mode": "chose",
                            "label": "Public"
                        },
                        "feedDistribution": {
                            "mode": "chose",
                            "label": "Main feed"
                        },
                        "isReshareDisabledByAuthor": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "linkedin2"
                            },
                            "label": "LinkedIN doodoo (Jack Roberts)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:linkedin2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "fileName",
                        "type": "text",
                        "label": "File name",
                        "required": true
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "name": "altText",
                        "type": "text",
                        "label": "Alt Text"
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Content",
                        "required": true
                    },
                    {
                        "name": "visibility",
                        "type": "select",
                        "label": "Visibility",
                        "required": true,
                        "validate": {
                            "enum": [
                                "PUBLIC",
                                "CONNECTIONS",
                                "LOGGED_IN"
                            ]
                        }
                    },
                    {
                        "name": "feedDistribution",
                        "type": "select",
                        "label": "Feed Distribution",
                        "required": true,
                        "validate": {
                            "enum": [
                                "MAIN_FEED",
                                "NONE"
                            ]
                        }
                    },
                    {
                        "name": "isReshareDisabledByAuthor",
                        "type": "boolean",
                        "label": "Is Reshare Disabled",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com"
    }
}