assets/workflows/4009/Youtube a slides blueprint.json
{
    "name": "Youtube ejemplo a Google Slides",
    "flow": [
        {
            "id": 58,
            "module": "google-sheets:watchRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 1523189,
                "mode": "select",
                "includesHeaders": true,
                "limit": 1,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING",
                "from": "drive",
                "spreadsheetId": "/1_kKAzfZ4-_CHMhQd9FNRWVJxicxUkHzsmq8hkOOnLME",
                "sheetId": "Hoja 1",
                "tableFirstRow": "A1:Z1"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google connection (angel.aparicio92@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "includesHeaders": {
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        },
                        "from": {
                            "label": "My Drive"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Automatización Youtube a Slides"
                            ]
                        },
                        "sheetId": {
                            "label": "Hoja 1"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "text",
                        "label": "Row with headers",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "__ROW_NUMBER__",
                        "label": "Row number",
                        "type": "number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "label": "Spreadsheet ID",
                        "type": "text"
                    },
                    {
                        "name": "__SHEET__",
                        "label": "Sheet",
                        "type": "text"
                    },
                    {
                        "name": "0",
                        "label": "Youtube Link (A)",
                        "type": "text"
                    },
                    {
                        "name": "1",
                        "label": "(B)",
                        "type": "text"
                    },
                    {
                        "name": "2",
                        "label": "(C)",
                        "type": "text"
                    },
                    {
                        "name": "3",
                        "label": "(D)",
                        "type": "text"
                    },
                    {
                        "name": "4",
                        "label": "(E)",
                        "type": "text"
                    },
                    {
                        "name": "5",
                        "label": "(F)",
                        "type": "text"
                    },
                    {
                        "name": "6",
                        "label": "(G)",
                        "type": "text"
                    },
                    {
                        "name": "7",
                        "label": "(H)",
                        "type": "text"
                    },
                    {
                        "name": "8",
                        "label": "(I)",
                        "type": "text"
                    },
                    {
                        "name": "9",
                        "label": "(J)",
                        "type": "text"
                    },
                    {
                        "name": "10",
                        "label": "(K)",
                        "type": "text"
                    },
                    {
                        "name": "11",
                        "label": "(L)",
                        "type": "text"
                    },
                    {
                        "name": "12",
                        "label": "(M)",
                        "type": "text"
                    },
                    {
                        "name": "13",
                        "label": "(N)",
                        "type": "text"
                    },
                    {
                        "name": "14",
                        "label": "(O)",
                        "type": "text"
                    },
                    {
                        "name": "15",
                        "label": "(P)",
                        "type": "text"
                    },
                    {
                        "name": "16",
                        "label": "(Q)",
                        "type": "text"
                    },
                    {
                        "name": "17",
                        "label": "(R)",
                        "type": "text"
                    },
                    {
                        "name": "18",
                        "label": "(S)",
                        "type": "text"
                    },
                    {
                        "name": "19",
                        "label": "(T)",
                        "type": "text"
                    },
                    {
                        "name": "20",
                        "label": "(U)",
                        "type": "text"
                    },
                    {
                        "name": "21",
                        "label": "(V)",
                        "type": "text"
                    },
                    {
                        "name": "22",
                        "label": "(W)",
                        "type": "text"
                    },
                    {
                        "name": "23",
                        "label": "(X)",
                        "type": "text"
                    },
                    {
                        "name": "24",
                        "label": "(Y)",
                        "type": "text"
                    },
                    {
                        "name": "25",
                        "label": "(Z)",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 1,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": true,
                "useNewZLibDeCompress": true
            },
            "mapper": {
                "url": "https://youtube-transcripts.p.rapidapi.com/youtube/transcript",
                "serializeUrl": false,
                "method": "get",
                "headers": [
                    {
                        "name": "x-rapidapi-host",
                        "value": "youtube-transcripts.p.rapidapi.com"
                    },
                    {
                        "name": "x-rapidapi-key",
                        "value": "dce40e8348msha3af6b7ddcf0b3ep196017jsn029a43d7c10b"
                    }
                ],
                "qs": [
                    {
                        "name": "url",
                        "value": "{{58.`0`}}"
                    },
                    {
                        "name": "chunkSize",
                        "value": "500"
                    }
                ],
                "bodyType": "",
                "parseResponse": false,
                "authUser": "",
                "authPass": "",
                "timeout": "",
                "shareCookies": false,
                "ca": "",
                "rejectUnauthorized": true,
                "followRedirect": true,
                "useQuerystring": false,
                "gzip": true,
                "useMtls": false,
                "followAllRedirects": false
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null,
                                null
                            ]
                        },
                        "qs": {
                            "mode": "chose",
                            "items": [
                                null,
                                null
                            ]
                        },
                        "bodyType": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "type": "array",
                        "label": "Headers",
                        "spec": [
                            {
                                "name": "name",
                                "label": "Name",
                                "type": "text",
                                "required": true
                            },
                            {
                                "name": "value",
                                "label": "Value",
                                "type": "text"
                            }
                        ]
                    },
                    {
                        "name": "qs",
                        "type": "array",
                        "label": "Query String",
                        "spec": [
                            {
                                "name": "name",
                                "label": "Name",
                                "type": "text",
                                "required": true
                            },
                            {
                                "name": "value",
                                "label": "Value",
                                "type": "text"
                            }
                        ]
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate"
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 100,
            "module": "openai-gpt-3:messageAssistantAdvanced",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1524414
            },
            "mapper": {
                "role": "user",
                "message": "{{1.data}}",
                "assistantId": "asst_KmpYn2zZBwQKhrlEFxag8cCa"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150,
                    "name": "Estructura Slides"
                },
                "restore": {
                    "expect": {
                        "role": {
                            "label": "User"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "tools": {
                            "mode": "chose"
                        },
                        "image_urls": {
                            "mode": "chose"
                        },
                        "assistantId": {
                            "mode": "chose",
                            "label": "Estructura Slides (gpt-4o)",
                            "nested": []
                        },
                        "image_files": {
                            "mode": "chose"
                        },
                        "tool_choice": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "truncation_strategy": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "file_search_resources": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "code_interpreter_resources": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "assistantId",
                        "type": "select",
                        "label": "Assistant",
                        "required": true
                    },
                    {
                        "name": "role",
                        "type": "select",
                        "label": "Role",
                        "required": true,
                        "validate": {
                            "enum": [
                                "user",
                                "assistant"
                            ]
                        }
                    },
                    {
                        "name": "threadId",
                        "type": "text",
                        "label": "Thread ID"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model"
                    },
                    {
                        "name": "tools",
                        "type": "select",
                        "label": "Tools",
                        "multiple": true,
                        "validate": {
                            "enum": [
                                "file_search",
                                "code_interpreter"
                            ]
                        }
                    },
                    {
                        "name": "file_search_resources",
                        "type": "select",
                        "label": "File Search Resources"
                    },
                    {
                        "name": "code_interpreter_resources",
                        "type": "select",
                        "label": "Code Interpreter Resources",
                        "multiple": true,
                        "validate": {
                            "maxItems": 20
                        }
                    },
                    {
                        "name": "tool_choice",
                        "type": "select",
                        "label": "Tool Choice",
                        "validate": {
                            "enum": [
                                "none",
                                "auto",
                                "required",
                                "file_search",
                                "code_interpreter",
                                "function"
                            ]
                        }
                    },
                    {
                        "name": "instructions",
                        "type": "text",
                        "label": "Instructions"
                    },
                    {
                        "name": "max_prompt_tokens",
                        "type": "uinteger",
                        "label": "Max Prompt Tokens"
                    },
                    {
                        "name": "max_completion_tokens",
                        "type": "uinteger",
                        "label": "Max Completion Tokens"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "auto",
                                "json_object",
                                "text"
                            ]
                        }
                    },
                    {
                        "name": "truncation_strategy",
                        "type": "select",
                        "label": "Truncation Strategy",
                        "validate": {
                            "enum": [
                                "auto",
                                "last_messages"
                            ]
                        }
                    },
                    {
                        "name": "message",
                        "type": "text",
                        "label": "Message",
                        "required": true
                    },
                    {
                        "name": "image_files",
                        "type": "select",
                        "label": "Image Files",
                        "multiple": true
                    },
                    {
                        "name": "image_urls",
                        "spec": {
                            "name": "value",
                            "type": "url",
                            "label": "Image URL",
                            "required": true
                        },
                        "type": "array",
                        "label": "Image URLs"
                    }
                ]
            }
        },
        {
            "id": 12,
            "module": "openai-gpt-3:transformTextToStructuredData",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1524414
            },
            "mapper": {
                "model": "gpt-4o-mini-2024-07-18",
                "rawText": "{{100.result}}",
                "prompt": "Parse the text into diffetents paragraphs separating by \"---\"",
                "parameters": [
                    {
                        "name": "Parrafo",
                        "description": "Diferentes parrafos",
                        "type": "arrayString",
                        "isRequired": false
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 150,
                    "name": "Parsear estructura"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My OpenAI connection",
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            }
                        }
                    },
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4o-mini-2024-07-18 (system)"
                        },
                        "parameters": {
                            "mode": "chose",
                            "items": [
                                {
                                    "type": {
                                        "mode": "chose",
                                        "label": "Array (text)"
                                    },
                                    "isRequired": {
                                        "mode": "chose"
                                    }
                                }
                            ]
                        },
                        "objectDefinitions": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "rawText",
                        "type": "text",
                        "label": "Text to Parse",
                        "required": true
                    },
                    {
                        "name": "prompt",
                        "type": "text",
                        "label": "Prompt",
                        "required": true
                    },
                    {
                        "name": "parameters",
                        "type": "array",
                        "label": "Structured Data Definition",
                        "required": true,
                        "spec": {
                            "spec": [],
                            "type": "collection",
                            "label": "Data Definition",
                            "name": "value"
                        }
                    },
                    {
                        "name": "objectDefinitions",
                        "type": "array",
                        "label": "Object Definitions",
                        "spec": {
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Object Name",
                                    "required": true
                                },
                                {
                                    "name": "description",
                                    "type": "text",
                                    "label": "Description",
                                    "required": true
                                },
                                {
                                    "name": "properties",
                                    "spec": {
                                        "spec": [],
                                        "type": "collection",
                                        "label": "Property"
                                    },
                                    "type": "array",
                                    "label": "Properties",
                                    "labels": {
                                        "add": "Add property"
                                    },
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Object Definition",
                            "name": "value"
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "Parrafo",
                        "type": "array",
                        "spec": {
                            "type": "text"
                        }
                    }
                ]
            }
        },
        {
            "id": 91,
            "module": "anthropic-claude:createAMessage",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2193583
            },
            "mapper": {
                "model": "claude-3-5-sonnet-20240620",
                "messages": [
                    {
                        "role": "user",
                        "content": [
                            {
                                "text": "Crea un resumen a partir de la siguiente transcripción.\n\nEstructura del resumen (No añadas titulos):\n1. Un titulo muy llamativo y que llame la atención\n2. Un breve resumen de la noticia\n3. 3 puntos clave\n4. 2 preguntas de interacción con la noticia\n5. 5 hashtags\n\nImportante: \n- No añadas titulos en la estructura\n-El texto debe de tener emojis para hacerlo mas visual y atrativo para el publico.\n-No añadas asteriscos ni entrecomillado(**, \"\")\n-El objteivo principal es que el lector quiera leer todo el texto.\n\nTranscripción: {{1.data}}",
                                "type": "text"
                            }
                        ]
                    }
                ],
                "metadata": {},
                "max_tokens": "4000",
                "temperature": "1"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 150,
                    "name": "Publicación RRSS"
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "claude-3-5-sonnet-20240620"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "content": {
                                        "mode": "chose",
                                        "items": [
                                            {
                                                "type": {
                                                    "mode": "chose",
                                                    "label": "Text"
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        "stop_sequences": {
                            "mode": "chose"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "anthropic-claude"
                            },
                            "label": "My Anthropic Claude connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:anthropic-claude",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Tokens",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": [
                                        {
                                            "label": "User",
                                            "value": "user",
                                            "nested": [
                                                {
                                                    "name": "content",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "help": "You can send image content blocks starting with Claude 3 models.",
                                                                "name": "type",
                                                                "type": "select",
                                                                "label": "Type",
                                                                "options": [
                                                                    {
                                                                        "label": "Text",
                                                                        "value": "text",
                                                                        "nested": [
                                                                            {
                                                                                "help": "Content of the message on behalf of the selected **Role** .",
                                                                                "name": "text",
                                                                                "type": "text",
                                                                                "label": "Text",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Image",
                                                                        "value": "image",
                                                                        "nested": [
                                                                            {
                                                                                "name": "source",
                                                                                "spec": [
                                                                                    {
                                                                                        "help": "File name, including the extension, for example, `image.jpg`.",
                                                                                        "name": "filename",
                                                                                        "type": "filename",
                                                                                        "label": "Filename",
                                                                                        "required": true,
                                                                                        "semantic": "file:name",
                                                                                        "extension": [
                                                                                            "jpeg",
                                                                                            "jpg",
                                                                                            "png",
                                                                                            "gif",
                                                                                            "webp"
                                                                                        ]
                                                                                    },
                                                                                    {
                                                                                        "help": "Binary data of the image. For example, you can retrieve the binary data of your image using the **HTTP: Get a file** module.",
                                                                                        "name": "data",
                                                                                        "type": "buffer",
                                                                                        "label": "Data",
                                                                                        "required": true,
                                                                                        "semantic": "file:data"
                                                                                    }
                                                                                ],
                                                                                "type": "collection",
                                                                                "label": "Source",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Tool Result",
                                                                        "value": "tool_result",
                                                                        "nested": [
                                                                            {
                                                                                "name": "tool_use_id",
                                                                                "type": "text",
                                                                                "label": "Tool Use ID",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "content",
                                                                                "type": "text",
                                                                                "label": "Content",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    }
                                                                ],
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Content"
                                                    },
                                                    "type": "array",
                                                    "label": "Content",
                                                    "labels": {
                                                        "add": "Add content"
                                                    },
                                                    "required": true
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Assistant",
                                            "value": "assistant",
                                            "nested": [
                                                {
                                                    "help": "If the request ends with an assistant turn, then the response content will continue directly from that last turn.",
                                                    "name": "content",
                                                    "type": "text",
                                                    "label": "Content",
                                                    "required": true
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Tool Assistant",
                                            "value": "tool_assistant",
                                            "nested": [
                                                {
                                                    "name": "content",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "help": "You can send image content blocks starting with Claude 3 models.",
                                                                "name": "type",
                                                                "type": "select",
                                                                "label": "Type",
                                                                "options": [
                                                                    {
                                                                        "label": "Text",
                                                                        "value": "text",
                                                                        "nested": [
                                                                            {
                                                                                "help": "Content of the message on behalf of the selected **Role** .",
                                                                                "name": "text",
                                                                                "type": "text",
                                                                                "label": "Text",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Tool Use",
                                                                        "value": "tool_use",
                                                                        "nested": [
                                                                            {
                                                                                "name": "id",
                                                                                "type": "text",
                                                                                "label": "Tool Use ID",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "name",
                                                                                "type": "text",
                                                                                "label": "Tool Name",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "input",
                                                                                "type": "any",
                                                                                "label": "Input",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    }
                                                                ],
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Content"
                                                    },
                                                    "type": "array",
                                                    "label": "Content",
                                                    "labels": {
                                                        "add": "Add content"
                                                    },
                                                    "required": true
                                                }
                                            ]
                                        }
                                    ],
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "system",
                        "type": "text",
                        "label": "System Prompt"
                    },
                    {
                        "name": "metadata",
                        "spec": [
                            {
                                "name": "user_id",
                                "type": "text",
                                "label": "User ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Metadata"
                    },
                    {
                        "name": "stop_sequences",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1
                        }
                    },
                    {
                        "name": "top_k",
                        "type": "uinteger",
                        "label": "Top K"
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Tools",
                                            "value": "tools",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "spec": {
                                                        "type": "text",
                                                        "label": "Parameter Value"
                                                    },
                                                    "type": "array",
                                                    "label": "Parameter Values",
                                                    "labels": {
                                                        "add": "Add parameter value"
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    }
                ]
            }
        },
        {
            "id": 13,
            "module": "google-slides:createPresentation",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1523189
            },
            "mapper": {
                "title": "LinkedIn {{formatDate(now; \"DD-MM-YY\")}}",
                "select": "value",
                "destination": "drive",
                "shared": false,
                "from": "drive",
                "presentation": "/1sJqM61k7jvXd7Y3_tdXhExH2EJWQdKZw/1S8yJvVRDNJqWChzx4GLrRUqsLyt6nFsvq_yzrlcWVt8",
                "requests": {
                    "Titulo": "{{12.Parrafo[1]}}",
                    "Subtitulo": "{{12.Parrafo[2]}}",
                    "Tema1": "{{12.Parrafo[3]}}",
                    "Subtema1": "{{12.Parrafo[4]}}",
                    "Tema2": "{{12.Parrafo[5]}}",
                    "Subtema2": "{{12.Parrafo[6]}}",
                    "Tema3": "{{12.Parrafo[7]}}",
                    "Subtema3": "{{12.Parrafo[8]}}",
                    "Tema4": "{{12.Parrafo[9]}}",
                    "Subtema4": "{{12.Parrafo[10]}}",
                    "Tema5": "{{12.Parrafo[11]}}",
                    "Subtema5": "{{12.Parrafo[12]}}"
                },
                "folderId": "/1sJqM61k7jvXd7Y3_tdXhExH2EJWQdKZw"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 150,
                    "name": "Presentación"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google connection (angel.aparicio92@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    },
                    "expect": {
                        "select": {
                            "label": "By Dropdown"
                        },
                        "destination": {
                            "label": "My Drive"
                        },
                        "shared": {
                            "mode": "chose"
                        },
                        "from": {
                            "label": "My Drive"
                        },
                        "presentation": {
                            "nested": [
                                {
                                    "name": "requests",
                                    "spec": [
                                        {
                                            "name": "Titulo",
                                            "type": "text",
                                            "label": "Titulo"
                                        },
                                        {
                                            "name": "Subtitulo",
                                            "type": "text",
                                            "label": "Subtitulo"
                                        },
                                        {
                                            "name": "Tema1",
                                            "type": "text",
                                            "label": "Tema1"
                                        },
                                        {
                                            "name": "Subtema1",
                                            "type": "text",
                                            "label": "Subtema1"
                                        },
                                        {
                                            "name": "Tema2",
                                            "type": "text",
                                            "label": "Tema2"
                                        },
                                        {
                                            "name": "Subtema2",
                                            "type": "text",
                                            "label": "Subtema2"
                                        },
                                        {
                                            "name": "Tema3",
                                            "type": "text",
                                            "label": "Tema3"
                                        },
                                        {
                                            "name": "Subtema3",
                                            "type": "text",
                                            "label": "Subtema3"
                                        },
                                        {
                                            "name": "Tema4",
                                            "type": "text",
                                            "label": "Tema4"
                                        },
                                        {
                                            "name": "Subtema4",
                                            "type": "text",
                                            "label": "Subtema4"
                                        },
                                        {
                                            "name": "Tema5",
                                            "type": "text",
                                            "label": "Tema5"
                                        },
                                        {
                                            "name": "Subtema5",
                                            "type": "text",
                                            "label": "Subtema5"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values"
                                }
                            ],
                            "path": [
                                "Pruebas",
                                "LinkedIn Plantilla"
                            ]
                        },
                        "folderId": {
                            "mode": "chose",
                            "path": [
                                "Pruebas"
                            ]
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "title",
                        "type": "text",
                        "label": "Title",
                        "required": true
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Copy a Presentation",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "value"
                            ]
                        }
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "New Drive Location",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "shared",
                        "type": "boolean",
                        "label": "Shared",
                        "required": true
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "presentation",
                        "type": "file",
                        "label": "Presentation ID",
                        "required": true
                    },
                    {
                        "name": "requests",
                        "type": "collection",
                        "label": "Values",
                        "spec": [
                            {
                                "name": "Titulo",
                                "type": "text"
                            },
                            {
                                "name": "Subtitulo",
                                "type": "text"
                            },
                            {
                                "name": "Tema1",
                                "type": "text"
                            },
                            {
                                "name": "Subtema1",
                                "type": "text"
                            },
                            {
                                "name": "Tema2",
                                "type": "text"
                            },
                            {
                                "name": "Subtema2",
                                "type": "text"
                            },
                            {
                                "name": "Tema3",
                                "type": "text"
                            },
                            {
                                "name": "Subtema3",
                                "type": "text"
                            },
                            {
                                "name": "Tema4",
                                "type": "text"
                            },
                            {
                                "name": "Subtema4",
                                "type": "text"
                            },
                            {
                                "name": "Tema5",
                                "type": "text"
                            },
                            {
                                "name": "Subtema5",
                                "type": "text"
                            }
                        ]
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "New Document's Location"
                    }
                ]
            }
        },
        {
            "id": 78,
            "module": "google-drive:searchForFilesFolders",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 1889630
            },
            "mapper": {
                "select": "list",
                "retrieve": "file",
                "searchType": "title",
                "limit": "1",
                "destination": "drive",
                "folderId": "/1sJqM61k7jvXd7Y3_tdXhExH2EJWQdKZw",
                "query": "{{13.title}}",
                "operator": "="
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 150,
                    "name": "Buscar URL"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google Restricted connection (angel.aparicio92@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            }
                        }
                    },
                    "expect": {
                        "select": {
                            "label": "Select from the list"
                        },
                        "retrieve": {
                            "label": "Files"
                        },
                        "searchType": {
                            "label": "Search within file/folder names"
                        },
                        "destination": {
                            "label": "My Drive"
                        },
                        "folderId": {
                            "mode": "chose",
                            "path": [
                                "Pruebas"
                            ]
                        },
                        "operator": {
                            "label": "Search for exact term"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select the Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "list"
                            ]
                        }
                    },
                    {
                        "name": "retrieve",
                        "type": "select",
                        "label": "Retrieve",
                        "required": true,
                        "validate": {
                            "enum": [
                                "file",
                                "folder",
                                "file_folder"
                            ]
                        }
                    },
                    {
                        "name": "searchType",
                        "type": "select",
                        "label": "Search",
                        "validate": {
                            "enum": [
                                "title",
                                "fulltext",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "Choose a Folder"
                    },
                    {
                        "name": "query",
                        "type": "text",
                        "label": "Query",
                        "required": true
                    },
                    {
                        "name": "operator",
                        "type": "select",
                        "label": "Search options",
                        "required": true,
                        "validate": {
                            "enum": [
                                "=",
                                "contains"
                            ]
                        }
                    }
                ]
            }
        },
        {
            "id": 79,
            "module": "google-drive:getAFile",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 1889630
            },
            "mapper": {
                "select": "map",
                "formatDocuments": "application/pdf",
                "formatSpreadsheets": "application/pdf",
                "formatPresentations": "application/pdf",
                "formatDrawings": "image/jpeg",
                "file": "{{78.id}}"
            },
            "metadata": {
                "designer": {
                    "x": 2100,
                    "y": 150,
                    "name": "Descargar Archivo PDF"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google Restricted connection (angel.aparicio92@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            }
                        }
                    },
                    "expect": {
                        "select": {
                            "label": "Enter manually"
                        },
                        "formatDocuments": {
                            "label": "PDF"
                        },
                        "formatSpreadsheets": {
                            "label": "PDF"
                        },
                        "formatPresentations": {
                            "label": "PDF"
                        },
                        "formatDrawings": {
                            "label": "JPEG"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Enter a File ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "value"
                            ]
                        }
                    },
                    {
                        "name": "formatDocuments",
                        "type": "select",
                        "label": "Convert Google Documents Files to Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                                "application/pdf",
                                "application/vnd.oasis.opendocument.text",
                                "text/html",
                                "text/plain",
                                "application/rtf"
                            ]
                        }
                    },
                    {
                        "name": "formatSpreadsheets",
                        "type": "select",
                        "label": "Convert Google Spreadsheets Files to Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                                "application/x-vnd.oasis.opendocument.spreadsheet",
                                "application/pdf"
                            ]
                        }
                    },
                    {
                        "name": "formatPresentations",
                        "type": "select",
                        "label": "Convert Google Slides Files to Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "application/vnd.openxmlformats-officedocument.presentationml.presentation",
                                "application/pdf"
                            ]
                        }
                    },
                    {
                        "name": "formatDrawings",
                        "type": "select",
                        "label": "Convert Google Drawings Files to Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "image/jpeg",
                                "image/png",
                                "image/svg+xml",
                                "application/pdf"
                            ]
                        }
                    },
                    {
                        "name": "file",
                        "type": "text",
                        "label": "File ID",
                        "required": true
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 89,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 2400,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 90,
                            "module": "google-drive:uploadAFile",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 1889630
                            },
                            "mapper": {
                                "select": "value",
                                "filename": "{{79.name}}",
                                "data": "{{79.data}}",
                                "convert": false,
                                "destination": "drive",
                                "folderId": "/1sJqM61k7jvXd7Y3_tdXhExH2EJWQdKZw/15iol5cqNI_zEMkAgOI7idD-LzXNQ1oX6"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2700,
                                    "y": 0,
                                    "name": "Guardar PDF Carpeta"
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Google Restricted connection (angel.aparicio92@gmail.com)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "select": {
                                            "label": "Select from the list"
                                        },
                                        "destination": {
                                            "label": "My Drive"
                                        },
                                        "folderId": {
                                            "mode": "chose",
                                            "path": [
                                                "Pruebas",
                                                "Slides PDF"
                                            ]
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google-restricted",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Enter a Folder ID",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "map",
                                                "value"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "New File Name"
                                    },
                                    {
                                        "name": "filename",
                                        "type": "text",
                                        "label": "File Name",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Data",
                                        "required": true
                                    },
                                    {
                                        "name": "convert",
                                        "type": "boolean",
                                        "label": "Convert a File",
                                        "required": true
                                    },
                                    {
                                        "name": "destination",
                                        "type": "select",
                                        "label": "New Drive Location",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "folderId",
                                        "type": "folder",
                                        "label": "New Folder Location",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 85,
                            "module": "pdf-co:PdfToImages",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2941084
                            },
                            "mapper": {
                                "import": {
                                    "importType": "upload",
                                    "data": "{{79.data}}",
                                    "name": "{{79.name}}"
                                },
                                "convert": {
                                    "convertType": "toJpg"
                                },
                                "pages": "0-6",
                                "async": 15000,
                                "inline": false,
                                "expiration": "60",
                                "export": {
                                    "exportType": "downloadFile"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2700,
                                    "y": 300
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My PDF.co connection",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "pdf-co"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "import": {
                                            "nested": {
                                                "importType": {
                                                    "label": "Upload a File"
                                                }
                                            }
                                        },
                                        "convert": {
                                            "nested": {
                                                "convertType": {
                                                    "label": "PDF to JPG"
                                                }
                                            }
                                        },
                                        "async": {
                                            "mode": "chose",
                                            "label": "Async"
                                        },
                                        "inline": {
                                            "mode": "chose"
                                        },
                                        "export": {
                                            "nested": {
                                                "exportType": {
                                                    "label": "Download a File"
                                                }
                                            }
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:pdf-co",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "import",
                                        "type": "collection",
                                        "label": "Import Options",
                                        "required": true,
                                        "spec": [
                                            {
                                                "name": "importType",
                                                "type": "select",
                                                "label": "Input File",
                                                "required": true,
                                                "validate": {
                                                    "enum": [
                                                        "upload",
                                                        "url"
                                                    ]
                                                }
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Output File Name"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "convert",
                                        "type": "collection",
                                        "label": "Convert Options",
                                        "required": true,
                                        "spec": [
                                            {
                                                "name": "convertType",
                                                "type": "select",
                                                "label": "Convert Type",
                                                "required": true,
                                                "validate": {
                                                    "enum": [
                                                        "toJpg",
                                                        "toPng"
                                                    ]
                                                }
                                            }
                                        ]
                                    },
                                    {
                                        "name": "pages",
                                        "type": "text",
                                        "label": "Pages"
                                    },
                                    {
                                        "name": "password",
                                        "type": "text",
                                        "label": "Password"
                                    },
                                    {
                                        "name": "async",
                                        "type": "select",
                                        "label": "Execution Mode",
                                        "validate": {
                                            "enum": [
                                                false,
                                                15000,
                                                "asyncCheckLater"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "inline",
                                        "type": "boolean",
                                        "label": "Inline"
                                    },
                                    {
                                        "name": "profiles",
                                        "type": "text",
                                        "label": "Profiles"
                                    },
                                    {
                                        "name": "expiration",
                                        "type": "number",
                                        "label": "Output Links Expiration"
                                    },
                                    {
                                        "name": "export",
                                        "type": "collection",
                                        "label": "Export Options",
                                        "required": true,
                                        "spec": [
                                            {
                                                "name": "exportType",
                                                "type": "select",
                                                "label": "Export Type",
                                                "required": true,
                                                "validate": {
                                                    "enum": [
                                                        "downloadFile",
                                                        "inline"
                                                    ]
                                                }
                                            }
                                        ]
                                    }
                                ]
                            }
                        },
                        {
                            "id": 99,
                            "module": "builtin:BasicAggregator",
                            "version": 1,
                            "parameters": {
                                "feeder": 85
                            },
                            "mapper": {
                                "url": "{{85.url}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3000,
                                    "y": 300
                                },
                                "restore": {
                                    "extra": {
                                        "feeder": {
                                            "label": "PDF.co - Convert from PDF into Images [85]"
                                        },
                                        "target": {
                                            "label": "Custom"
                                        }
                                    }
                                }
                            }
                        },
                        {
                            "id": 98,
                            "module": "instagram-business:CreateCarouselPhoto",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2803233
                            },
                            "mapper": {
                                "accountId": "17841463008416376",
                                "files": [
                                    {
                                        "media_type": "IMAGE",
                                        "image_url": "{{99.array[1].url}}"
                                    },
                                    {
                                        "media_type": "IMAGE",
                                        "image_url": "{{99.array[2].url}}"
                                    },
                                    {
                                        "media_type": "IMAGE",
                                        "image_url": "{{99.array[3].url}}"
                                    },
                                    {
                                        "media_type": "IMAGE",
                                        "image_url": "{{99.array[4].url}}"
                                    },
                                    {
                                        "media_type": "IMAGE",
                                        "image_url": "{{99.array[5].url}}"
                                    },
                                    {
                                        "media_type": "IMAGE",
                                        "image_url": "{{99.array[6].url}}"
                                    },
                                    {
                                        "media_type": "IMAGE",
                                        "image_url": "{{99.array[7].url}}"
                                    }
                                ],
                                "caption": "{{91.textResponse}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3300,
                                    "y": 300
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "AngelApa_IA (Angel Aparicio)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "facebook"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "accountId": {
                                            "mode": "chose",
                                            "label": "Angel Aparicio (@angelapa_ia)"
                                        },
                                        "files": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "media_type": {
                                                        "mode": "chose",
                                                        "label": "Image"
                                                    },
                                                    "user_tags": {
                                                        "mode": "chose"
                                                    }
                                                },
                                                {
                                                    "media_type": {
                                                        "mode": "chose",
                                                        "label": "Image"
                                                    },
                                                    "user_tags": {
                                                        "mode": "chose"
                                                    }
                                                },
                                                {
                                                    "media_type": {
                                                        "mode": "chose",
                                                        "label": "Image"
                                                    },
                                                    "user_tags": {
                                                        "mode": "chose"
                                                    }
                                                },
                                                {
                                                    "media_type": {
                                                        "mode": "chose",
                                                        "label": "Image"
                                                    },
                                                    "user_tags": {
                                                        "mode": "chose"
                                                    }
                                                },
                                                {
                                                    "media_type": {
                                                        "mode": "chose",
                                                        "label": "Image"
                                                    },
                                                    "user_tags": {
                                                        "mode": "chose"
                                                    }
                                                },
                                                {
                                                    "media_type": {
                                                        "mode": "chose",
                                                        "label": "Image"
                                                    },
                                                    "user_tags": {
                                                        "mode": "chose"
                                                    }
                                                },
                                                {
                                                    "media_type": {
                                                        "mode": "chose",
                                                        "label": "Image"
                                                    },
                                                    "user_tags": {
                                                        "mode": "chose"
                                                    }
                                                }
                                            ]
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:facebook",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "accountId",
                                        "type": "select",
                                        "label": "Page",
                                        "required": true
                                    },
                                    {
                                        "name": "files",
                                        "type": "array",
                                        "label": "Files",
                                        "validate": {
                                            "maxItems": 10,
                                            "minItems": 2
                                        },
                                        "required": true,
                                        "spec": [
                                            {
                                                "name": "media_type",
                                                "type": "select",
                                                "label": "Media Type",
                                                "options": [
                                                    {
                                                        "label": "Image",
                                                        "value": "IMAGE",
                                                        "nested": [
                                                            {
                                                                "help": "**Photo Requirements**\n- Maximum file size: 8MiB\n- Aspect ratio: Must be within a 4:5 to 1.91:1 range\n- Minimum width: 320 (will be scaled up to the minimum if necessary)\n- Maximum width: 1440 (will be scaled down to the maximum if necessary)\n- Height: Varies, depending on width and aspect ratio\n- Formats: JPEG\n\nPlease note that your image must be hosted on a publicly accessible URL and you cannot host your images on Google Drive even if the file is shared publicly because Instagram API is not able to download files from Google Drive. The same applies to Dropbox URLs.",
                                                                "name": "image_url",
                                                                "type": "url",
                                                                "label": "Photo URL",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "user_tags",
                                                                "spec": [
                                                                    {
                                                                        "help": "Must not start with `@`. User must have a public Instagram account.",
                                                                        "name": "username",
                                                                        "type": "text",
                                                                        "label": "Username",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "pattern": "^(?!@)"
                                                                        }
                                                                    },
                                                                    {
                                                                        "help": "An optional float that indicates percentage distance from left edge of the published media image.",
                                                                        "name": "x",
                                                                        "type": "number",
                                                                        "label": "X position",
                                                                        "default": "0.0",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "max": 1,
                                                                            "min": 0
                                                                        }
                                                                    },
                                                                    {
                                                                        "help": "An optional float that indicates percentage distance from top edge of the published media image.",
                                                                        "name": "y",
                                                                        "type": "number",
                                                                        "label": "Y position",
                                                                        "default": "0.0",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "max": 1,
                                                                            "min": 0
                                                                        }
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "User Tags"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Video",
                                                        "value": "VIDEO",
                                                        "nested": [
                                                            {
                                                                "help": "**Photo Requirements**\n- Maximum file size: 100MiB\n- Picture size:\n  ・ Maximum columns (horizontal pixels): 1920\n  ・ Minimum aspect ratio [cols / rows]: 4 / 5\n  ・ Maximum aspect ratio [cols / rows]: 16 / 9\n- Duration: 60 seconds max, 3 seconds min\n- Container: MOV or MP4 (MPEG-4 Part 14), no edit lists, moov atom at the front of the file\n- Frame rate: 23-60 FPS\n- Video codec: HEVC or H264, progressive scan, closed GOP, 4:2:0 chroma subsampling\n- Video bitrate: VBR, 5Mbps maximum\n- Audio codec: AAC, 48khz sample rate maximum, 1 or 2 channels (mono or stereo)\n- Audio bitrate: 128kbps\n\nPlease note that your video must be hosted on a publicly accessible URL and you cannot host your videos on Google Drive even if the file is shared publicly because Instagram API is not able to download files from Google Drive. The same applies to Dropbox URLs.",
                                                                "name": "video_url",
                                                                "type": "url",
                                                                "label": "Video URL",
                                                                "required": true
                                                            },
                                                            {
                                                                "help": "Location, in seconds, of the video frame to be used as the cover.",
                                                                "name": "thumb_offset",
                                                                "type": "number",
                                                                "label": "Cover Frame"
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "name": "caption",
                                        "type": "text",
                                        "label": "Caption"
                                    },
                                    {
                                        "name": "location_id",
                                        "type": "text",
                                        "label": "Location ID"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com"
    }
}